{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 400</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

      .bg-error {
        height: 100vh;
        background: url("https://mentorlive-storage.s3.us-east-2.amazonaws.com/static/css/img/bgerror.jpeg")
          center no-repeat;
        background-position: center center;
        background-size: cover;
      }

      * {
        font-family: "Capriola"
      }

      .bg-error::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        opacity: .9;
      }

      header {
        position: absolute;
        top: 0;
        padding: 24px;
      }

      html,
      body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        background-color: #fff;
      }

      .o-canvas {
        width: 90%;
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
      }

      .o-btn {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        padding: 12px 16px;
        text-align: center;
        text-decoration: none;
        line-height: 1;
        color: white;
        font-size: 12px;
        font-size: 0.75rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border: 1px solid #f15a24;
        background-color: #ef0000;
      }
      .o-btn:after {
        padding-left: 8px;
        font-size: 12px;
        font-size: 0.75rem;
        transform: translateX(0);
        transition: all 0.2s;
      }
      .o-btn:hover,
      .o-btn:focus,
      .o-btn:active {
        color: #f15a24;
        text-decoration: none;
        background-color: #fde6de;
      }
      .o-btn:hover:after,
      .o-btn:focus:after,
      .o-btn:active:after {
        transform: translateX(4px);
      }

      .c-header {
        position: absolute;
        top: 0;
        z-index: 9;
        background-color: #fff;
      }

      .c-header__surface {
        background: linear-gradient(
          90deg,
          #004646 0%,
          #004646 112px,
          white 112px
        );
      }

      .c-header__canvas {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
      }

      .c-header__brand img {
        max-width: 150px;
      }

      .c-header__logo {
        max-width: 84px;
      }

      .c-menu {
        background-color: #fff;
      }

      /*------------------------------------*\
        Media querys mobile
      \*------------------------------------*/
      @media only screen and (max-width: 1069px) {
        .c-header__top {
          position: relative;
          z-index: 2;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          max-height: 96px;
        }

        .c-header__brand {
          width: 132px;
          padding-right: 18px;
        }
      }
      /*------------------------------------*\
        Media querys desktop
      \*------------------------------------*/
      @media only screen and (min-width: 1070px) {
        .c-header {
          padding-top: 28px;
        }
        .c-header__canvas {
          width: 98%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          justify-content: space-between;
        }
        .c-header__brand {
          min-width: 214px;
          padding-right: 28px;
          padding-left: 28px;
        }
        .c-header__logo {
          max-width: 138px;
        }
      }
      @media only screen and (min-width: 1400px) {
        .c-header__surface {
          background: linear-gradient(
            90deg,
            #004646 0%,
            #004646 50%,
            white 50%
          );
        }
      }

      /*------------------------------------*\
        Main content
      \*------------------------------------*/
      .c-box-background {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 1000;
      }

      .c-box-content {
        text-align: center;
      }

      .c-box-content__title {
        color: #ef0000;
        margin-top: 60px;
      }

      .c-box-content__description-bold {
        font-weight: bold;
      }

      .c-box-content_button-ico {
        margin-right: 14px;
      }
      .c-box-content__description {
        line-height: 2;
        color: #ef0000;
        font-family: "Nunito";
        max-width: 450px;
      }

      @media only screen and (min-width: 640px) {
        .c-box-background {
          background-position-y: 50%;
          background-size: initial;
        }
        .c-box-content__ico {
          margin-bottom: 14px;
        }
        .c-box-content__title {
          font-size: 30px;
        }
        .c-box-content__description {
          font-size: 16px;
          margin: 0 0 50px 0;
        }
      }
    </style>
  </head>
  <body class="bg-error">

    <header>
      <div>
        <div>
          <div>
            <a class="c-header__brand" href="/" title="Página principal Altruism Now">
              <img src="https://mentorlive-storage.s3.amazonaws.com/media/brand_settings/Logo_Mentors_con_espacio_Mesa_de_trabajo_1.png">
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="o-canvas c-box-background">
      <main class="c-box-content">
        <svg width="100" height="100" viewBox="0 0 392 392" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M196 0.875C87.2875 0.875 0.875 87.2875 0.875 196C0.875 304.713 87.2875 391.125 196 391.125C304.713 391.125 391.125 304.713 391.125 196C391.125 87.2875 304.713 0.875 196 0.875ZM196 363.25C104.013 363.25 28.75 287.987 28.75 196C28.75 104.013 104.013 28.75 196 28.75C287.987 28.75 363.25 104.013 363.25 196C363.25 287.987 287.987 363.25 196 363.25Z" fill="#EF0000"/>
          <path d="M271.263 293.562L196 218.3L120.738 293.562L98.4375 271.263L173.7 196L98.4375 120.738L120.738 98.4375L196 173.7L271.263 98.4375L293.562 120.738L218.3 196L293.562 271.263L271.263 293.562Z" fill="#EF0000"/>
        </svg>
          
        <h1 class="c-box-content__title">
          ¡Algo no salió bien!
        </h1>

        <p class="c-box-content__description">
          Estamos realizando algunos cambios o presentando algunos inconvenientes en el sitio,
          vuleve a intentarlo o regresa más tarde.
        </p>

        <a class="o-btn" href="/">
          Ir a la página de inicio
        </a>

      </main>
    </div>
  </body>
</html>
