{# scss compressor #}
{% load sass_tags %}
{% load static i18n %}

{# language code #}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{% if LANGUAGE_CODE == "en" %}en{% else %}es{% endif %}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Altruism Now Mentors | {{ title }}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'css/img/favico/apple-icon-57x57.png'%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'css/img/favico/apple-icon-60x60.png'%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'css/img/favico/apple-icon-72x72.png'%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'css/img/favico/apple-icon-76x76.png'%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'css/img/favico/apple-icon-114x114.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'css/img/favico/apple-icon-120x120.png'%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'css/img/favico/apple-icon-144x144.png'%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'css/img/favico/apple-icon-152x152.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/img/favico/apple-icon-180x180.png'%}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'css/img/favico/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/img/favico/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'css/img/favico/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/img/favico/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'css/img/favico/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'css/img/favico/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <meta name="title" content="Altruism Now Mentors"/>
  <meta name="description" content="En Altruism Now Mentors logramos acudir a una gran variedad de mentores especializados y dispuestos a donar su tiempo, conocimiento y experiencia."/>
  <meta name="keywords" content="Mentores, Mentorías gratuitas, Mentorías, Consigue una asesoría sin costo, Mentorías sin costo, Altruism Now, Altruism Now Mentors, Altruismo, Altruism, Mentores en línea, mentorías en línea."/>

  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  {# convert scss to css #}
  <link href="{% sass_src 'css/styles/theme.scss' %}" rel="stylesheet" type="text/css" />
  {% block css_block %}{% endblock css_block %}
</head>
<body>

  <main>
    {% if user.is_authenticated %}
      {% if not user.user_rol == "1" or user.user_rol == "ad" %}
      <span class="js-get-data-for-mentoria-active u-hidden" data-id-mentoria-active="{{ id_cita_active }}" data-count-cita="{{ count_cita_active }}"></span>
      <span class="js-get-data-for-mentoria-finished u-hidden" data-id-mentoria-finished="{{ id_cita_finished }}" data-count-cita-finished="{{ count_cita_finished }}"></span>
      <div class="u-hidden" id="edicion_suggestion_base"></div>
      {% endif %}
    {% endif %}

    {% comment %} <h1>DOMINOI {{ site.domain }}</h1> {% endcomment %}

    {% include 'includes/modal_message.html' %}
  
    {# header #}
    {% include 'includes/header.html' %}

    {% block content %}
    {% endblock content %}

    {% comment %} {% block newslettter %}
      <section class="o-section o-section_padding">
        <div class="o-canvas">
          <div class="c-newsletter">
            <h2 class="c-newsletter__title">{% trans "Registrate en nuestro newsletter" %}</h2>

            {% for newsletter_info in newsletter_info %}
              <form
                enctype="multipart/form-data"
                method="post"
                action="/newsletter/{{ newsletter_info.slug }}/subscribe/"
                class="c-newsletter__form"
              >
                {% csrf_token %}
                <label for="id_email_field" class="u-hidden">E-mail:</label>
                <input
                  id="id_email_field"
                  name="email_field"
                  type="email"
                  required="True"
                  placeholder="correo@gmail.com*" 
                  >
                <button
                  id="id_submit"
                  name="submit"
                  class="o-btn"
                  value="Subscribe"
                  type="submit"
                >
                  {% trans "Suscribirme" %}
                </button>
              </form>
            {% endfor %}

          </div>
        </div>
      </section>
    {% endblock newslettter %} {% endcomment %}

    {# header #}
    {% include 'includes/footer.html' %}

  </main>
  
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  >
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="{% static 'js/components/toggle_class.js' %}"></script>
  <script src="{% static 'js/components/cards_slide.js' %}"></script>
  <script src="{% static 'js/components/cards_slide_mentors.js' %}"></script>
  <script src="{% static 'js/components/hero_slide.js' %}"></script>
  <script src="{% static 'js/components/quote_slide.js' %}"></script>
  <script src="{% static 'js/components/slider_allies.js' %}"></script>
  <script src="{% static 'js/components/menu_active.js' %}"></script>
  <script src="{% static 'js/components/alert.js' %}"></script>
  <script src="{% static 'js/components/modal.js' %}"></script>
  <script src="{% static 'js/components/language_change.js' %}"></script>
  <script src="{% static 'js/components/number_change.js' %}"></script>
  <script src="{% static 'js/FormTraductor.js' %}"></script>
  <script src="{% static 'js/confirm_or_remove_cita_ajax.js' %}"></script>
  {% block scripts_block %}{% endblock scripts_block %}
</body>
</html>