{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block css_block %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar-scheduler@5.10.1/main.min.css,npm/fullcalendar-scheduler@5.10.1/main.min.css">
  {% endblock css_block %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {% trans 'Agendamiento de citas' %}</h1>
  {% endblock title_breadcrumb %}

  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{% trans 'Agendamiento de citas' %}</span>
  {% endblock items_breadcrumb %}

  {% block content %}
  
    <section class="o-section">
      {# Banner center component #}
      {% include 'includes/banner_center.html' %}
    </section>

    <section class="o-section">
      <div class="o-canvas">

        <article class="c-plan c-plan_full"> 
          <h2 class="c-plan__title">{% trans "Horario de disponibilidad mentores" %}</h2>
          <h4>{% trans "No te olvides de revisar la disponibilidad de los mentores antes de agendar una cita para evitar cancelaciones." %}</h4>
        </article>

      </div>
    </section>

    <section class="o-section">
      <div class="o-canvas">
        <header class="c-calendar__header">
          <h1 class="o-headline">{% trans "Agendamiento de citas" %}</h1>
        </header>
        <div id="calendar"></div>
      </div>
    </section>

    <section class="o-section">
      <div class="o-canvas">

        <h2 class="o-headline">{% trans "Conoce Nuestros Mentores Expertos" %}</h2>

        <div class="o-swiper__container swiper-container js-slider-cards-mentors">

          <div class="swiper-wrapper">

            {# list articles #}
            {% for mentor in list_mentors %}
    
              {% include 'pages/mentors/includes/card_mentors_slider.html' %}
      
            {% endfor %}

          </div>

        </div>

      </div>

    </section>

    {% include  'includes/modal.html' %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          timeZone: 'local', // the default (unnecessary to specify)
          editable: false,

          eventClick: function(info) {
            info.jsEvent.preventDefault();
            console.log(info.event.start.getHours() + " " + info.event.start.getMinutes())
            console.log(info.event.url)
            console.log(info.event.title)
            console.log(info.event.id)
            console.log(info.event.start.getDay())
            // change the border color just for fun
            // info.el.style.backgroundColor = 'red';
          },

          eventDidMount: function(info) {
            info.el.setAttribute('id', 'event-'+info.event.id)
            console.log(info.event.id);
          },

          events: [

            {% for reserva in object_list %}
              {
                id: "{{ reserva.id }}",
                title: "{{ reserva.title }}",
                start: "{{ reserva.date_start|date:'c' }}",
                end: "{{ reserva.date_end|date:'c' }}",
                url: "{{ reserva.slug }}"
              },
            {% endfor %}

          ],
          
        });
    
        calendar.render();

      });
    </script>

  {% endblock content %}


  {% block scripts_block %}
    {{ super }}
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar-scheduler@5.10.1,npm/fullcalendar-scheduler@5.10.1/locales-all.min.js,npm/fullcalendar-scheduler@5.10.1/locales-all.min.js,npm/fullcalendar-scheduler@5.10.1/main.min.js"></script>
    <script src="{% static 'js/components/modal.js' %}"></script>
    <script src="{% static 'js/components/select_mentor.js' %}"></script>
  {% endblock scripts_block %}

{% endspaceless %}