{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <div class="{% if is_emprendedor %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile.html' %}

      <div class="o-canvas">

        <nav class="c-profile-tabs">

          <a
            href="{% url 'edit' user.id %}"
            class="c-profile-tabs__item"
          >
            {% trans "Información de la cuenta" %}
          </a>
        
          {% if user.user_rol == "1" %}
            <a
              href="{% url 'edit_data_mentor' data_mentor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como mentor" %}
            </a>
          {% else %}
            <a
              href="{% url 'edit_data_emprendedor' data_emprendedor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como emprendedor" %}
            </a>
          {% endif %}

          <a
            href="{% url 'notifications' %}"
            class="c-profile-tabs__item c-profile-tabs__item_active"
          >
            {% trans "Notificaciones" %}
          </a>

        </nav>

        <nav class="c-tabs-notify">
          <button class="c-tabs-notify__btn active js-tab-btn" data-tab-button="espera">Solicitudes Pendientes</button>
          <button class="c-tabs-notify__btn js-tab-btn" data-tab-button="aceptada">Solicitudes Aceptadas</button>
          <button class="c-tabs-notify__btn js-tab-btn" data-tab-button="rechazada">Solicitudes Rechazadas</button>
        </nav>

          <div class="c-tabs-notify__content">

            <div class="js-tab-content" data-tab-content="espera">
              {% for card in list_notificaciones %}          
                {% include 'pages/user/includes/card_notify.html' %}
              {% endfor %}
            </div>

            <div class="u-hidden js-tab-content" data-tab-content="aceptada">
              {% for card in list_notificaciones_aceptada %}          
                {% include 'pages/user/includes/card_notify.html' %}
              {% empty %}
                <p>LA CONCHA</p>
              {% endfor %}
            </div>            

            <div class="u-hidden js-tab-content" data-tab-content="rechazada">
              {% for card in list_notificaciones_cancelada %}          
                {% include 'pages/user/includes/card_notify.html' %}
              {% empty %}
                <p>LA CONCHA d</p>
              {% endfor %}
            </div>

          </div>
  
      </div>

      {% include 'includes/modal_cita.html' %}

    </div>

  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    <script src="{% static 'js/components/modal.js' %}"></script>
    <script src="{% static 'js/components/form.js' %}"></script>
  {% endblock scripts_block %}
  
{% endspaceless %}