{% load i18n %}


<script>
  btn = document.querySelector("#yes_want");

  if (lang == "en") {
      btn.innerHTML = "Yes, I want to confirm the Mentorship!"
  }


</script>

<form
  id="form_edicion_base"
  action="{% url 'edit_cita_ajax_to_remove' object.pk %}"
  method="POST"
  class="o-form u-text-center"
>
  {% csrf_token %}

  <fieldset>
    {{ form.as_p }}
  </fieldset>


  <button
    id="yes_want_base"
    class="o-btn u-rounder-50"
    type="button"
    onclick="editar_base()"
  >
    Si ¡Quiero confirmar la Mentoría!
  </button>
</form>
