{% extends 'base.html' %}

{% load i18n %}

{% spaceless %}
    
  {% block breadcrumbs %}{% endblock %}

  {% block content %}
    <section class="o-section">
      <div class="o-canvas">

        <div class="o-message-newsletter">
          <div class="o-message-newsletter__content">

            {% block content_newsletter %}{% endblock content_newsletter %}

          </div>
        </div>
          
      </div>
    </section>
  {% endblock content %}

  {% block newslettter %}
  {% endblock newslettter %}

{% endspaceless %}

