{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}

{% block content_newsletter %}

    {% if error %}
        <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

        {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@foobar.com">info@foobar.com</a></p>

        {% endcomment %}
    {% else %}
        <form
            enctype="multipart/form-data"
            method="post"
            action="."
            class="o-form"
        >
            {% csrf_token %}

            <legend class="o-form__legend">
                <h2 class="o-form__legend-title">{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h2>
                <p>{% trans "Todos los campos con * son requeridos" %}</p>
            </legend>

            <div class="o-form__wrap">
    
                {% for field in form %}
                  <div 
                    class="o-form__set {% if field.errors %} is-error{% endif %}"
                  >
        
                      {# Label if required #}
                      <span class="o-form__label">
                        {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                      </span>
                
                      {# campo: input, Textarea, if select, if select multiple #}
                      <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                        {{ field }}
                      </span>
                
                      {# ERRORES #}
                      <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                        {{ field.errors }}
                      </div>
        
                  </div>
                {% endfor %}
        
            </div>

            <button class="o-btn o-form_btn" name="submit" type="submit">{% trans "Subscribe" %}</button>
        </form>
    {% endif %}
{% endblock content_newsletter %}
