{% extends "newsletter/common.html" %}

{% load i18n %}

{% block content_newsletter %}

    <h1
        class="o-message-newsletter__title"
    >
        {% trans "Confirmación suscripción al boletin: " %} {{ newsletter.title }}
    </h1>

    <p>{% trans "Su suscripción se ha activado con éxito." %}</p>

    <a
        href="{% url 'index_vacio' %}"
        title="Ir a la página principal"
        class="o-btn o-message-newsletter__btn"
    >
        {% trans 'Volver al inicio' %}
    </a>

{% endblock content_newsletter %}

{% comment %} {% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}{% endblock title %} {% endcomment %}
