{% extends 'newsletter/common.html' %}

{% load i18n %}

{% block content_newsletter %}

  <h1 class="o-message-newsletter__title">{% trans "Activar suscripción al boletín: " %} {{ newsletter.title }}</h1>

  <form
    enctype="multipart/form-data"
    method="POST"
    action="."
    class="o-form"
  >
    {% csrf_token %}

    <div class="o-form__wrap">

      {% for field in form %}
        <div 
          class="o-form__set {% if field.errors %} is-error{% endif %}"
        >

          {# Label if required #}
          <span class="o-form__label">
            {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
          </span>
    
          {# campo: input, Textarea, if select, if select multiple #}
          <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
            {{ field }}
          </span>
    
          {# ERRORES #}
          <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
            {{ field.errors }}
          </div>

        </div>
      {% endfor %}

    </div>

    <button
      id="id_submit"
      name="submit"
      value="{% trans "Activate" %}"
      type="submit"
      class="o-btn o-form_btn"
    >
      ACTIVAR
    </button>
  </form>

{% endblock content_newsletter %}