{% extends 'newsletter/common.html' %}

{% load i18n %}

{% block content_newsletter %}

  <h1
    class="o-message-newsletter__title"
  >
    {% trans "Confirmar suscripción al boletín de noticias " %} {{ newsletter.title }}
  </h1>

  <p>
    {% trans "Su solicitud de suscripción se recibió con" %}
    <strong>{% trans " éxito " %}</strong>
    {% trans "y se le envió un correo electrónico de activación." %}
  </p>

  <p>
    {% trans "En ese correo electrónico encontrará un enlace que debe seguir para activar su suscripción." %}
  </p>

  <a
    href="{% url 'index_vacio' %}"
    title="Ir a la página principal"
    class="o-btn o-message-newsletter__btn"
  >
    {% trans 'Volver al inicio' %}
  </a>

{% endblock content_newsletter %}
