{% extends 'newsletter/common.html' %}

{% load i18n %}

{% block content_newsletter %}

  <h1 class="o-message-newsletter__title">{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}</h1>

  <p>{% trans "You have successfully been unsubscribed." %}</p>

{% endblock content_newsletter %}
