{% load static %}

{% spaceless %}
  
  {% if description_about|length > 0 %}
      
    <section class="o-section">

      <div class="o-canvas">

        {% for description_about in description_about %}
  
          <div class="c-about">
  
            <figure class="c-about__figure">
              <img class="c-about__img" src="{% static 'css/img/aboutus.jpg' %}" alt="">
              <figcaption class="c-about__caption">
                <p class="c-about__paragraph">
                  {{ description_about.description_text }}
                </p>
              </figcaption>
            </figure>

            <ul class="c-about__list">
              <li class="c-about__item">

                <img class="c-about__ico" src="{% static 'css/img/heart.png' %}" alt="">

                <div>
                  <p class="c-about__value">
                    {{ description_about.number_icon_first }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_first }}
                  </p>
                </div>

              </li>

              <li class="c-about__item">

                <img class="c-about__ico" src="{% static 'css/img/grupo-de-chat.png' %}" alt="">

                <div>
                  <p class="c-about__value">
                    {{ description_about.number_icon_second }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_second }}
                  </p>
                </div>

              </li>

              <li class="c-about__item">

                <img class="c-about__ico" src="{% static 'css/img/tiempo.png' %}" alt="">

                <div>
                  <p class="c-about__value">
                    {{ description_about.number_icon_third }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_third }}
                  </p>
                </div>

              </li>
            </ul>
  
  
            {% comment %} <div class="c-about__items">
  
              <div class="c-about__square">
                <span class="i-hand"></span>
  
                <div class="c-about__flex">
                  <p class="c-about__value">
                    {{ description_about.number_icon_first }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_first }}
                  </p>
                </div>
              </div>
  
              <div class="c-about__square">
                <span class="i-people"></span>
  
                <div class="c-about__flex">
                  <p class="c-about__value">
                    {{ description_about.number_icon_second }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_second }}
                  </p>
                </div>
              </div>
  
              <div class="c-about__square">
                <span class="i-world-clock"></span>
  
                <div class="c-about__flex">
                  <p class="c-about__value">
                    {{ description_about.number_icon_third }}
                  </p>
                  <p class="c-about__text">
                    {{ description_about.text_icon_third }}
                  </p>
                </div>
              </div>
            </div> {% endcomment %}
  
          </div>
  
        {% endfor %}

      </div>

    </section>
    
  {% endif %}

{% endspaceless %}
