{% load static i18n %}

<section class="o-section">
  <div class="o-canvas">

    <h2 class="o-headline">{% trans "Conoce Nuestros Grandes Aliados" %}</h2>

    <div class="o-swiper js-slide-wrapper">

      {# Slider for testimonials #}
      <div class="o-swiper__container o-swiper__container_padding swiper-container js-slider-allies">
      
        <div class="swiper-wrapper">
          
          <figure class="o-swiper__item o-swiper__item_center swiper-slide">
            <img src="{% static 'css/img/logo_berksho.png' %}">
          </figure>
          
          
          <figure class="o-swiper__item o-swiper__item_center swiper-slide">
            <img src="{% static 'css/img/logo_fireball.png' %}">
          </figure>
          
          
          <figure class="o-swiper__item o-swiper__item_center swiper-slide">
            <img src="{% static 'css/img/logo_berksho.png' %}">
          </figure>
          
          
          <figure class="o-swiper__item o-swiper__item_center swiper-slide">
            <img src="{% static 'css/img/logo_fireball.png' %}">
          </figure>
          
          
          <figure class="o-swiper__item o-swiper__item_center swiper-slide">
            <img src="{% static 'css/img/logo_berksho.png' %}">
          </figure>
          
        </div>

      </div>

      {# prev and next buttons of slider #}
      <div class="o-swiper__buttons">
        <button class="o-swiper__btn o-swiper__btn_distance swiper-button-next"></button>
        <button class="o-swiper__btn o-swiper__btn_distance swiper-button-prev"></button>
      </div>

    </div>
  
  </div>
</section>