{% load i18n %}

<div class="c-band">
  <div class="o-canvas">

    <div class="c-band__content">

      <h1 class="c-band__title">{% trans "RECIBE ASESORÍA EMPRESARIAL GRATUITA" %}</h1>
      <p class="c-band__text">{% trans "De mentores experimentados" %}</p>

    </div>

  </div>
</div>