{% load i18n %}

<div class="c-band">
  <div class="o-canvas">

    <div class="c-band__content">

      <h1 class="c-band__title">{% trans "ENCUENTRA AQUÍ LAS RESPUESTAS" %}</h1>
      <p class="c-band__text">{% trans "Centro de ayuda y preguntas frecuentes" %}</p>

    </div>

  </div>
</div>