{% load i18n %}

<div class="c-band">
  <div class="o-canvas">

    <div class="c-band__content">

      <h1 class="c-band__title">{% trans "ACERCA DE ALTRUISM NOW MENTORS" %}</h1>
      <p class="c-band__text">{% trans "Altruism Now Mentors es una de las comunidades más grandes de emprendedores y mentores." %}</p>

    </div>

  </div>
</div>