{% load i18n %}

<div class="c-band">
  <div class="o-canvas">

    <div class="c-band__content">

      <h1 class="c-band__title">ALTRUISM NOW MENTORS BLOG</h1>
      <p class="c-band__text">{% trans "Encuentra guías y artículos de interés" %}</p>

    </div>

  </div>
</div>