{% load static %}


{% spaceless %}

  <section class="o-section">

    <div class="o-canvas">

      <div class="c-banner-centered">

        <figure class="c-banner-centered__figure">
          <img
            class="c-banner-centered__img"
            src="{{ banner.0.image.url }}"
            alt="{{ banner.0.title }}"
          >
        </figure>

        <header class="c-banner-centered__header">
          <h2 class="c-banner-centered__title">{{ banner.0.title }}</h2>
          <p class="c-banner-centered__text">{{ banner.0.description }}</p>
          {% if banner.0.href_button %}
            <a
              href="{{ banner.0.href_button }}"
              title="Ir a {{ banner.0.text_button }}"
              class="c-banner-center__cta o-btn"
            >
              {{ banner.0.text_button }}
            </a>
          {% endif %}
        </header>

      </div>

    </div>

  </section>

{% endspaceless %}

