{% load i18n %}

{% spaceless %}

  <section class="o-bg_primary o-section_padding">
    <div class="o-canvas">

      {% for ads_contact_mentor in ads_contact_mentor %}

        <h2 class="c-contact__title o-headline_light">
          {{ ads_contact_mentor.title }}
        </h2>

        <p class="c-contact__text">
          {{ ads_contact_mentor.description }}
        </p>

        <div class="c-contact_cta">
          <a
            class="o-btn o-btn_tertiary"
            href="{% url 'encuentra_mentor' %}"
            title="{% trans 'Ir a Lista de mentores' %}"
          >
            {% trans "ENCONTRAR UN MENTOR" %}
          </a>
          <a
            class="o-link o-link_primary"
            href="{% url 'contact' %}"
            title="{% trans 'Ir a la página Contacto' %}"
          >
            {% trans "QUIERO MÁS INFORMACIÓN DE ALTRUISM NOW MENTORS" %}
          </a>
        </div>

      {% endfor %}

    </div>
  </section>
  
{% endspaceless %}
  