{% load static i18n %}

<footer class="c-footer">
  
  
  <div class="o-canvas c-footer_flex o-section_padding">
    
      {% for settings  in brand_settings %}
        <div class="c-footer__brand">
          <figure class="c-footer__figure">
            <img
              class="c-footer__img"
              src="{{ settings.logo_footer.url }}"
              alt="Logo Altruism Now Mentor"
            >
          </figure>
        </div>
      {% endfor %}

      <div class="c-footer__column">
        <h3 class="c-footer__title">{% trans "Enlaces Rapidos" %}</h3>
        <ul class="c-footer__list">
          <li class="i-chevron-right c-footer__item">
            <a class="c-footer__link c-footer__link_margin" href="{% url 'index_vacio' %}">Home</a>
          </li>
          <li class="i-chevron-right c-footer__item">
            <a
              class="c-footer__link c-footer__link_margin"
              href="{% url 'about_us' %}"
              title="{% trans 'Ir a página Sobre nosotros' %}"
            >
              {% trans 'Sobre nosotros' %}
            </a>
          </li>
          <li class="i-chevron-right c-footer__item">
            <a
              class="c-footer__link c-footer__link_margin"
              href="{% url 'blog' %}"
              title="{% trans 'Ir al Blog' %}"
            >
              {% trans "Nuestro Blog" %}
            </a>
          </li>
          <li class="i-chevron-right c-footer__item">
            <a class="c-footer__link c-footer__link_margin" href="{% url "frecuent_question" %}">{% trans "Preguntas Frecuentes" %}</a>
          </li>
          <li class="i-chevron-right c-footer__item">
            <a class="c-footer__link c-footer__link_margin" href="#">{% trans "Terminos y Condiciones" %}</a>
          </li>
          {% comment %} <li class="i-chevron-right c-footer__item">
            <a class="c-footer__link c-footer__link_margin" href="#">{% trans "Politica de privacidad" %}</a>
          </li> {% endcomment %}
        </ul>
      </div>

      <div class="c-footer__column">
        <h3 class="c-footer__title">{% trans "INFORMACIÓN DE CONTACTO" %}</h3>

        <ul class="c-footer__list">

          <li class="c-footer__item">
            <div class="c-footer__border">
              <p class="c-footer__label">{% trans "Siguenos" %}:</p>

              {# Social networks #}
              <nav class="c-header__socials">
                {% for social_networks in social_networks %}
            
                  {% if social_networks.facebook_url %}
                    <a
                      href="{{ social_networks.facebook_url }}"
                      target="_blank"
                      title="Ir a la página de facebook de Altruism Now Mentors"
                      class="i-facebook c-header__social"
                    >
                      <span class="u-hidden">Icono facebook</span>
                    </a>
                  {% endif %}
            
                  {% if social_networks.instagram_url %}
                    <a
                      href="{{ social_networks.instagram_url }}"
                      target="_blank"
                      title="Ir a la página de instagram de Altruism Now Mentors"
                      class="i-instagram c-header__social"
                    >
                      <span class="u-hidden">Icono Instagram</span>
                    </a>
                  {% endif %}
            
                  {% if social_networks.tiktok_url %}
                    <a
                      href="{{ social_networks.tiktok_url }}"
                      target="_blank"
                      title="Ir a la página de tiktok de Altruism Now Mentors"
                      class="i-tiktok c-header__social"
                    >
                      <span class="u-hidden">Icono Tiktok</span>
                    </a>
                  {% endif %}
            
                  {% if social_networks.linkedin_url %}
                    <a
                      href="{{ social_networks.linkedin_url }}"
                      target="_blank"
                      title="Ir a la página de linkedin de Altruism Now Mentors"
                      class="i-linkedin c-header__social"
                    >
                      <span class="u-hidden">Icono Linkedin</span>
                    </a>
                  {% endif %}
            
                {% endfor %}
              </nav>

            </div>
          </li>

          <li class="c-footer__item">
            <div class="c-footer__border">
              <p class="c-footer__label">{% trans "Soporte" %}:</p>
              {% for contact_information  in contact_information %}
                <a href="mailto:{{ contact_information.contact_email }}" target="_blank">
                  {{ contact_information.contact_email }}
                </a>
              {% endfor %}
            </div>
          </li>

          {% for settings  in brand_settings %}
            <li class="c-footer__item">
              <p class="c-footer__text">{{ settings.description_footer }}</p>
            </li>
          {% endfor %}

        </ul>

      </div>

    </div>

    {% for settings  in brand_settings %}
      <p class="c-footer__copyright">
        {{ settings.text_copyright }}
      </p>
    {% endfor %}
    

</footer>