{% load static i18n %}


{% spaceless %}
  
  <div class="{% if is_emprendedor.user_rol == '1' %}is-emprendedor{% endif %}">

    <header class="c-header-profile">
  
      <div class="o-canvas">
  
        <div class="c-header-profile__wrap">
  
          {# User avatar #}
          <div class="c-header-profile__flex">
  
            <figure class="c-header-profile__figure">
              {% if user_public.linkeding_image  %}
                <img
                  class="c-header-profile__img"
                  src="{{ user_public.linkeding_image }}"
                  alt="Avatar {{ user_public.names }}"
                >
              {% elif user_public.avatar_image != "null" %}
                <img
                  class="c-header-profile__img"
                  src="{{ user_public.avatar_image.url }}"
                  alt="Avatar {{ user_public.names }}"
                >
              {% endif %}
            </figure>
  
          </div>
  
          {# Name and Call to actions #}
          <div class="c-header-profile__flex c-header-profile__flex_margin">
            <div class="c-header-profile__actions">
  
              <h3 class="c-header-profile__title">{{ user_public.names }} {{ user_public.lastnames }}</h3>
  
              <span class="c-header-profile__tag">      
                {% if user_public.user_rol == "1" %}
                  {% trans "Mentor" %}
                {% else %}
                  {% trans "Emprendedor" %}
                {% endif %}
              </span>
  
              <div class="c-header-profile__days">
                <strong class="c-header-profile__days-title">{% trans "Dias de disponibilidad" %}: </strong>
                <ul class="c-header-profile__days-list">
                  {% for list_dias_mentor in list_dias_mentor %}
                    <li><span>{{ list_dias_mentor }}</span></li>
                  {% endfor %}
                </ul>
              </div>
              
              <a
                class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                href="{% url 'create_cita' %}?email={{ user_public.email }}"
              >
                {% trans "Solicitar una mentoria" %}
              </a>
  
            </div>
          </div>
  
          {# User information #}
          <div class="c-header-profile__flex c-header-profile__flex_column">
  
            <ul class="c-header-profile__info">
              
              <li
                class="c-header-profile__info-item"
              >
                {% trans "Ubicación " %}
                <span>{{ user_public.city }}, {{ user_public.country }}</span>
              </li>
  
              <li
                class="c-header-profile__info-item"
              >
                {% trans "Profesión " %}
                <span>
                  {% if user_public.user_rol == "1" %}
                    {{ data_mentor_id.cargo_empresa }}
                  {% else %}
                    {{ data_emprendedor.profesion }}
                  {% endif %}
                </span>
              </li>
  
              <li
                class="c-header-profile__info-item"
              >
                {% trans "Idiomas: " %}
                <span>{{ user_public.speak_language }}</span>
              </li>
  
              <li
                class="c-header-profile__info-item"
              >
                {% trans "Ocupación : " %}
                <span>
                  {% if user_public.user_rol == "1" %}
                    {{ data_mentor_id.cargo_empresa }}
                  {% else %}
                    {{ data_emprendedor.profesion }}
                  {% endif %}
                </span>
              </li>
  
              <li class="c-header-profile__info-item">
                <small>{% trans "Ultimo encuentro hace: " %} {{ diferencia_dias }}</small>
              </li>
  
            </ul>
  
            <div class="c-header-profile__number">
              <span class="c-header-profile__number-num">
                2
              </span>
              <p class="c-header-profile__number-text">{% trans "Total de mentorias aprobadas" %}</p>
            </div>
  
            <div class="c-header-profile__experience">
              <h3>Experiencia</h3>
  
              <ul>
                <li>
                  <strong>Cargo: </strong>
                  <span>{{ data_mentor_id.cargo_empresa }}</span>
                </li>
                <li>
                  <strong>Compañia: </strong>
                  <span>{{ data_mentor_id.nombre_empresa }}</span>
                </li>
                <li>
                  <a
                    href="{{ data_mentor_id.url_sitio_web }}"
                    target="_blank"
                  >
                    {{ data_mentor_id.url_sitio_web }}
                  </a>
                </li>
              </ul>
  
              <ul class="ul-bottom">
                <li>
                  <strong>Experiencia como dueño: </strong>
                  <span>{{ data_mentor_id.años_experiencia_dueño }} {% trans "año" %}{{ data_mentor_id.años_experiencia_dueño|pluralize }}</span>
                </li>
                <li>
                  <strong>Experiencia gerencial: </strong>
                  <span>{{ data_mentor_id.años_experiencia }} {% trans "año" %}{{ data_mentor_id.años_experiencia_dueño|pluralize }}</span>
                </li>
                <li>
                  <strong>Experiencia por país: </strong>
                  {% for list_days_mentor in list_days_mentor %}
                    <span class="c-profile-content__coma">{{ list_days_mentor }}</span>
                  {% endfor %}
                </li>
              </ul>
  
            </div>
  
            <dl class="c-header-profile__list">
              <dt class="c-header-profile__list-title">{% trans "Habilidades especiales" %}</dt>
  
              {% for list_ayudas_mentor in list_ayudas_mentor %}
                <dd class="c-header-profile__list-item">
                  <span class="c-header-profile__list-txt">{{ list_ayudas_mentor }}</span>
                  <span class="c-header-profile__list-figure"></span>
                </dd>
              {% endfor %}
  
            </dl>
  
            <a
              class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 u-box-center"
              href=""
            >
              {% trans "Reportar un problema" %}
            </a>
  
          </div>
  
        </div>
  
      </div>
  
    </header>

  </div>

{% endspaceless %}
