{% load static i18n %}

{% spaceless %}

  <header class="c-header js-target-class">

    {# Header top #}
    <div class="c-header__top">

      <div class="o-canvas">

        <div class="c-header__top-wrap">

          {# Social networks #}
          <nav class="c-header__socials">
            {% for social_networks in social_networks %}
        
              {% if social_networks.facebook_url %}
                <a
                  href="{{ social_networks.facebook_url }}"
                  target="_blank"
                  title="Ir a la página de facebook de Altruism Now Mentors"
                  class="i-facebook c-header__social"
                >
                  <span class="u-hidden">Icono facebook</span>
                </a>
              {% endif %}
        
              {% if social_networks.instagram_url %}
                <a
                  href="{{ social_networks.instagram_url }}"
                  target="_blank"
                  title="Ir a la página de instagram de Altruism Now Mentors"
                  class="i-instagram c-header__social"
                >
                  <span class="u-hidden">Icono Instagram</span>
                </a>
              {% endif %}
        
              {% if social_networks.tiktok_url %}
                <a
                  href="{{ social_networks.tiktok_url }}"
                  target="_blank"
                  title="Ir a la página de tiktok de Altruism Now Mentors"
                  class="i-tiktok c-header__social"
                >
                  <span class="u-hidden">Icono Tiktok</span>
                </a>
              {% endif %}
        
              {% if social_networks.linkedin_url %}
                <a
                  href="{{ social_networks.linkedin_url }}"
                  target="_blank"
                  title="Ir a la página de linkedin de Altruism Now Mentors"
                  class="i-linkedin c-header__social"
                >
                  <span class="u-hidden">Icono Linkedin</span>
                </a>
              {% endif %}
        
            {% endfor %}

            {% for contact_information  in contact_information %}
              <a
                class="c-top-menu__sm-mail u-only-dk"
                href="mailto:{{ contact_information.contact_email }}"
                target="_blank"
              >
                {{ contact_information.contact_email }}
              </a>
            {% endfor %}
          </nav>

          <div class="c-header__top-actions">

            {# Emprendedor Button #}
            {% if user.is_authenticated and user.user_rol == '1' %}
              <a
                class="o-btn o-btn-top o-btn_emprendedor u-rounder-50 u-only-dk"
                href="{% url 'search_emprendedor' %}"
              >
                {% trans "Emprendedores" %}
              </a>
            {% endif %}

            {# Language button #}
            <div class="o-language">
                
                <button
                  class="
                    o-language__btn
                    i-after-chevron-right
                    i-world-clock
                  "
                >
                  {% comment %} <span class="js-language" id="es">{% trans "Es" %}</span>
                  <span class="js-language u-hidden" id="en">{% trans "En" %}</span> {% endcomment %}
                  {% if LANGUAGE_CODE == "en" %}
                    {% trans "EN" %}
                  {% else %}
                    {% trans "ES" %}
                  {% endif %}
                </button>

                <nav class="o-language__list">

                  {% for language in languages %}
                    <a 
                      href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                      class="o-language__link {% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                      lang="{{ language.code }}"
                    >
                      {% if language.name_local == 'español' %}
                        {% trans "Español"%}
                      {% else %}
                        {% trans "Ingles"%}
                      {% endif %}
                    </a>
                  {% endfor %}

                </nav>

            </div>

          </div>

        </div>

      </div>

    </div>
    {# End Header top #}

    {# Header menu #}
    <div class="c-header__menu">

      <div class="c-header__menu-wrap o-canvas">

        <a href="/">
          <figure class="c-header__figure">
            {% for settings  in brand_settings %}
            <img
              class="c-header__brand"
              src="{{ settings.logo_footer.url }}"
              alt="Logo Altruism now mentors"
            />
            {% endfor %}
          </figure>
        </a>

        <button
          class="c-header__burger i-menu js-btn-toggle-class u-only-mb"
          data-class-is="is-show-menu-mb"
          type="button"
        >
          <span class="u-hidden">Menú</span>
        </button>

        <nav class="c-header__nav u-only-dk">
            
          <a
            id='home'
            class="c-header__menu-link js-menu-link"
            href="{% url 'index_vacio' %}"
            title="{% trans 'Ir a la Página principal' %}"
          >
            Home
          </a>

          <a
            id="sobre-nosotros"
            class="c-header__menu-link js-menu-link"
            href="{% url 'about_us' %}"
            title="{% trans 'Ir a página Sobre nosotros' %}"
          >
            {% trans 'Nosotros' %}
          </a>

          <a
            id="blog"
            class="c-header__menu-link js-menu-link"
            href="{% url 'blog' %}"
            title="{% trans 'Ir al Blog' %}"
          >
            Blog
          </a>

          <a
            id="encuentra-un-mentor"
            class="c-header__menu-link js-menu-link"
            href="{% url 'encuentra_mentor' %}"
            title="{% trans 'Ir a página lista de Mentores' %}"
          >
            {% trans 'Mentores' %}
          </a>

          <a
            id="contacto"
            class="c-header__menu-link js-menu-link"
            href="{% url 'contact' %}"
            title='{% trans "Ir a página Contacto" %}'
          >
            {% trans "Contacto" %}
          </a>
          {% comment %} 
          <li class="c-menu__item js-parent-link">
            <a
              id="preguntas-frecuentes"
              class="c-header__menu-link js-menu-link"
              href="{% url 'frecuent_question' %}"
              title='{% trans "Ir a página Preguntas Frecuentes" %}'
            >
              {% trans "Preguntas" %}
            </a>
          </li> {% endcomment %}
        </nav>

        <div class="c-menu__actions u-only-dk {% if user.is_authenticated %}c-menu__actions-session{% endif %}">

          {% if user.is_authenticated %}

            <div class="c-menu__user">
              <button class="c-menu__user-btn i-chevron-right">

                <figure class="c-menu__user-figure">
                  
                  {% if user.avatar_image != "null" %}
                    <img
                      class="c-menu__user-img {% if not user.user_rol == "1" %} is-emprendedor{% endif %}"
                      src="{{ user.avatar_image.url }}"
                      alt="Avatar {{ user.names }} {{ user.lastnames }}"
                    >
                  {% else %}
                    <img
                      class="c-menu__user-img"
                      src="{{ user.linkeding_image }}"
                      alt="Avatar {{ user.names }} {{ user.lastnames }}"
                    >
                  {% endif %}

                  <figcaption class="c-menu__user-caption">
                    {{ user.names|truncatewords:1 }} {{ user.lastnames|truncatewords:1 }}
                  </figcaption>

                </figure>
              </button>

              <nav class="c-menu__user-nav">
                <a
                  class="c-menu__user-link"
                  href="{% url 'profile' %}"
                >
                  {% trans "Mi perfil y configuración" %}
                </a>
                <a
                  class="c-menu__user-link"
                  href="{% url 'profile_public' user.id %}"
                >
                  {% trans "Mi panel / Dashboard" %}
                </a>
                <a class="c-menu__user-link {% if citas_count >= 1 %}c-menu__user-link_bell{% endif %} i-after-bell" href="{% url 'notifications' %}">{% trans "Notificaciones" %}</a>
                <a class="c-menu__user-link" href="">{% trans "Términos y condiciones" %}</a>
                <a class="c-menu__user-link" href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a>
              </nav>
            </div>
          
          {% else %}

            <a
              class="o-btn o-btn_outline o-btn_outline_red c-menu__cta"
              href="{% url 'register' %}"
              title="{% trans 'Ir a Registrarme' %}"
            >
              {% trans 'REGISTRARME' %}
            </a>

            <a
              class="c-header__menu-link-login"
              href="{% url 'login' %}"
              title="{% trans 'Ir a Iniciar sesión' %}"
            >
              {% trans 'INICIAR SESIÓN' %}
            </a>

          {% endif %}

        </div>

      </div>
    </div>
    {# End header menu #}

    {# Menu mobile #}
    <div class="c-header__mb-menu u-only-mb">


        <button
          class="c-header__mb-close js-btn-toggle-class i-close"
          data-class-is="is-show-menu-mb"
          type="button"
        >
          <span class="u-hidden">Botón cerrar</span>
        </button>
  
        <a href="/">
          <figure class="c-header__figure">
            {% for settings  in brand_settings %}
            <img
              class="c-header__brand"
              src="{{ settings.logo_footer.url }}"
              alt="Logo Altruism now mentors"
            />
            {% endfor %}
          </figure>
        </a>

        <nav class="c-header__nav">
              
          <a
            id='home'
            class="c-header__menu-link js-menu-link"
            href="{% url 'index_vacio' %}"
            title="{% trans 'Ir a la Página principal' %}"
          >
            Home
          </a>
  
          <a
            id="sobre-nosotros"
            class="c-header__menu-link js-menu-link"
            href="{% url 'about_us' %}"
            title="{% trans 'Ir a página Sobre nosotros' %}"
          >
            {% trans 'Nosotros' %}
          </a>
  
          <a
            id="blog"
            class="c-header__menu-link js-menu-link"
            href="{% url 'blog' %}"
            title="{% trans 'Ir al Blog' %}"
          >
            Blog
          </a>
  
          <a
            id="encuentra-un-mentor"
            class="c-header__menu-link js-menu-link"
            href="{% url 'encuentra_mentor' %}"
            title="{% trans 'Ir a página lista de Mentores' %}"
          >
            {% trans 'Mentores' %}
          </a>
  
          <a
            id="contacto"
            class="c-header__menu-link js-menu-link"
            href="{% url 'contact' %}"
            title='{% trans "Ir a página Contacto" %}'
          >
            {% trans "Contacto" %}
          </a>
  
          {% if user.is_authenticated %}
            <a
              id="emprendedores"
              class="o-btn o-btn_emprendedor u-rounder-50 js-menu-link"
              href="{% url 'search_emprendedor' %}"
              title='{% trans "Ir a página Emprendedores" %}'
            >
              {% trans "Emprendedores" %}
            </a>
          {% endif %}
          {% comment %} 
          <li class="c-menu__item js-parent-link">
            <a
              id="preguntas-frecuentes"
              class="c-header__menu-link js-menu-link"
              href="{% url 'frecuent_question' %}"
              title='{% trans "Ir a página Preguntas Frecuentes" %}'
            >
              {% trans "Preguntas" %}
            </a>
          </li> {% endcomment %}
        </nav>
  
        <div class="c-menu__actions {% if user.is_authenticated %}c-menu__actions-session{% endif %}">
  
          {% if user.is_authenticated %}
  
            <div class="c-menu__user">
              <button class="c-menu__user-btn i-chevron-right">
  
                <figure class="c-menu__user-figure">
                  
                  {% if user.avatar_image != "null" %}
                    <img
                      class="c-menu__user-img"
                      src="{{ user.avatar_image.url }}"
                      alt="Avatar {{ user.names }} {{ user.lastnames }}"
                    >
                  {% else %}
                    <img
                      class="c-menu__user-img"
                      src="{{ user.linkeding_image }}"
                      alt="Avatar {{ user.names }} {{ user.lastnames }}"
                    >
                  {% endif %}
                    
  
                  <figcaption class="c-menu__user-caption">
                    {{ user.names|truncatewords:1 }} {{ user.lastnames|truncatewords:1 }}
                  </figcaption>
  
                </figure>
              </button>
  
              <nav class="c-menu__user-nav">
                <a
                  class="c-menu__user-link"
                  href="{% url 'profile' %}"
                >
                  {% trans "Mi perfil y configuración" %}
                </a>
                <a
                  class="c-menu__user-link"
                  href="{% url 'profile_public' user.id %}"
                >
                  {% trans "Mi panel / Dashboard" %}
                </a>
                {% if user.is_authenticated %}
                 <a class="c-menu__user-link i-after-instagram" href="{% url 'notifications' %}">{% trans "Notificaciones" %}</a>
                {% endif %}
                <a class="c-menu__user-link" href="">{% trans "Términos y condiciones" %}</a>
                <a class="c-menu__user-link" href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a>
              </nav>
            </div>
          
          {% else %}
  
            <a
              class="o-btn o-btn_outline o-btn_outline_red c-menu__cta"
              href="{% url 'register' %}"
              title="{% trans 'Ir a Registrarme' %}"
            >
              {% trans 'REGISTRARME' %}
            </a>
  
            <a
              class="c-header__menu-link-login"
              href="{% url 'login' %}"
              title="{% trans 'Ir a Iniciar sesión' %}"
            >
              {% trans 'INICIAR SESIÓN' %}
            </a>
  
          {% endif %}
  
        </div>
  
        <div>
  
          {# Social networks #}
          <nav class="c-header__socials">
            {% for social_networks in social_networks %}
        
              {% if social_networks.facebook_url %}
                <a
                  href="{{ social_networks.facebook_url }}"
                  target="_blank"
                  title="Ir a la página de facebook de Altruism Now Mentors"
                  class="i-facebook c-header__social"
                >
                  <span class="u-hidden">Icono facebook</span>
                </a>
              {% endif %}
        
              {% if social_networks.instagram_url %}
                <a
                  href="{{ social_networks.instagram_url }}"
                  target="_blank"
                  title="Ir a la página de instagram de Altruism Now Mentors"
                  class="i-instagram c-header__social"
                >
                  <span class="u-hidden">Icono Instagram</span>
                </a>
              {% endif %}
        
              {% if social_networks.tiktok_url %}
                <a
                  href="{{ social_networks.tiktok_url }}"
                  target="_blank"
                  title="Ir a la página de tiktok de Altruism Now Mentors"
                  class="i-tiktok c-header__social"
                >
                  <span class="u-hidden">Icono Tiktok</span>
                </a>
              {% endif %}
        
              {% if social_networks.linkedin_url %}
                <a
                  href="{{ social_networks.linkedin_url }}"
                  target="_blank"
                  title="Ir a la página de linkedin de Altruism Now Mentors"
                  class="i-linkedin c-header__social"
                >
                  <span class="u-hidden">Icono Linkedin</span>
                </a>
              {% endif %}
        
            {% endfor %}
          </nav>
      
          {% for contact_information  in contact_information %}
            <a
              class="c-header__mb-link-login"
              href="mailto:{{ contact_information.contact_email }}"
              target="_blank"
            >
              {{ contact_information.contact_email }}
            </a>
          {% endfor %}
  
        </div>


    </div>
    {# End menu mobile #}

  </header>

{% endspaceless %}
