{% load static i18n %}


{% spaceless %}
  
  <header class="c-header-profile">

    <div class="o-canvas">

      <div class="c-header-profile__wrap">

        {# User avatar #}
        <div class="c-header-profile__flex">

          <figure class="c-header-profile__figure">
            {% if user_public.user_rol == '1' %}

              {% if user_public.avatar_image != "null"  %}
                <img
                  class="c-header-profile__img"
                  src="{{ user_public.avatar_image.url }}"
                  alt="Avatar {{ user_public.names }}"
                >
              {% elif user_public.linkeding_image %}
                <img
                  class="c-header-profile__img"
                  src="{{ user_public.linkeding_image }}"
                  alt="Avatar {{ user_public.names }}"
                >
              {% endif %}

            {% else %}

              {% if user_public.avatar_image != "null" %}
                <img
                  class="c-header-profile__img"
                  src="{{ user_public.avatar_image.url }}"
                  alt="Avatar {{ user_public.names }}"
                >
              {% endif %}
              
            {% endif %}
          </figure>

        </div>

        {# Name and Call to actions #}
        <div class="c-header-profile__flex c-header-profile__flex_margin">
          <div class="c-header-profile__actions">

            <h3 class="c-header-profile__title">{{ user_public.names }} {{ user_public.lastnames }}</h3>

            <span class="c-header-profile__tag">      
              {% if user_public.user_rol == "1" %}
                {% trans "Mentor" %}
              {% else %}
                {% trans "Emprendedor" %}
              {% endif %}
            </span>

            {% if user_public.user_rol == '1' %}
              
              <div class="c-header-profile__days">
                <strong class="c-header-profile__days-title">{% trans "Dias de disponibilidad" %}: </strong>
                <ul class="c-header-profile__days-list">
                  {% for list_dias_mentor in list_dias_mentor %}
                    <li><span>{{ list_dias_mentor }}</span></li>
                  {% endfor %}
                </ul>
              </div>

              {% if user.is_authenticated %}
                {% if not user.id == user_public.id %}
                  {% if not user.user_rol == user_public.user_rol %}

                    {% if data_user_null.1 or data_emprendedor_null.1  %}

                    <a
                      class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                      href="{% url 'register' %}"
                      title="Ir a registrarse"
                    >
                      {% trans "Solicitar una mentoria" %}
                    </a>

                    {% elif data_user_null.0 %}

                      <a
                        class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                        href="{% url 'complete_data_emprendedor' user.id %}"
                        title="Ir a completar los datos de Usuario"
                      >
                        {% trans "Solicitar una mentoria" %}
                      </a>

                    {% elif data_emprendedor_null.0 %}

                      <a
                        class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                        href="{% url 'complete_data_two_emprendedor' %}"
                        title="Ir a completar los datos de Emprendedor"
                      >
                        {% trans "Solicitar una mentoria" %}
                      </a>

                    {% else %}

                      <a
                        class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                        href="{% url 'create_cita' %}?id_emprendedor={{ user.id }}&id_mentor={{ user_public.id }}&email_mentor={{ user_public.email }}&id_user_mentor={{ id_user_mentor }}&email_emprendedor={{ user.email }}&countrys={{ list_country_emprendedor }}"
                      >
                        {% trans "Solicitar una mentoria" %}
                      </a>

                    {% endif %}

                  {% endif %}
                {% endif %}
              {% else %}

                <a
                  class="o-btn o-btn_outline o-btn_outline_red u-rounder-50 js-btn-modal"
                  href="{% url 'register' %}"
                >
                  {% trans "Solicitar una mentoria" %}
                </a>

              {% endif %}

            {% else %}

              {% if user.is_authenticated %}
                {% if not user.id == user_public.id  %}
                  <a
                    href="{% url 'create_suggestion' %}?id_emprendedor={{ user_public.id }}&email_emprendedor={{ user_public.email }}&id_mentor={{ user.id }}&email_mentor={{ user.email }}&id_user_mentor={{ id_user_mentor }}"
                    class="o-btn o-btn_outline o-btn_outline_emprendedor u-rounder-50"
                  >
                    {% trans "Sugerir una mentoría" %}
                  </a>
                {% endif %}
              {% endif %}

            {% endif %}

            <div class="c-rating__starts c-rating__starts_public">
              <span class="c-rating__starts-number">{{ rating_result }}</span>
        
              <ul class="c-rating__starts-list {{ class_rating }}">
                <li class="c-rating__starts-item i-star"></li>
                <li class="c-rating__starts-item i-star"></li>
                <li class="c-rating__starts-item i-star"></li>
                <li class="c-rating__starts-item i-star"></li>
                <li class="c-rating__starts-item i-star"></li>
              </ul>
        
              <span
                class="c-rating__starts-text"
              >
                  {{ rating_user|length }} <span id="opinion"> {% trans "opinión" %}{{ rating_user|length|pluralize:"es" }}<span>
              </span>
            </div>


          </div>
        </div>

        {# User information #}
        <div class="c-header-profile__flex c-header-profile__flex_column">

          <ul class="c-header-profile__info">
            
            <li
              class="c-header-profile__info-item"
            >
              {% trans "Ubicación: " %}
              <span>{{ user_public.city }}, {{ user_public.country }}</span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Profesión: " %}
              <span>
                {% if user_public.user_rol == "1" %}
                  {{ data_mentor.profesion }}
                {% else %}
                  {{ data_emprendedor.profesion }}
                {% endif %}
              </span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Idiomas: " %}
              <span>{{ user_public.speak_language }}</span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Ocupación: " %}
              <span>
                {% if user_public.user_rol == "1" %}
                  {{ data_mentor.ocupacion }}
                {% else %}
                  {{ data_emprendedor.ocupacion }}
                {% endif %}
              </span>
            </li>

            <li class="c-header-profile__info-item">
              <small>{% trans "Ultimo encuentro hace: " %} {{ diferencia_dias }}</small>
            </li>

          </ul>

          <div class="c-header-profile__number">
            <span class="c-header-profile__number-num">
              {{ total_mentorias }}
            </span>
            <p class="c-header-profile__number-text">
              
              {% if user_public.user_rol == '1' %}
                {% trans "Total de mentorias realizadas" %}
              {% else %}
                {% trans "Total de mentorias aprobadas" %}
              {% endif %}
                
            </p>
          </div>

          {% if user_public.user_rol == '1' %}
            <div class="c-header-profile__experience">
              <h3>{% trans "Experiencia" %}</h3>

              <ul>
                <li>
                  <strong>{% trans "Cargo" %}: </strong>
                  <span>{{ data_mentor.cargo_empresa }}</span>
                </li>
                <li>
                  <strong>{% trans "Compañia" %}: </strong>
                  <span>{{ data_mentor.nombre_empresa }}</span>
                </li>
                <li>
                  <a
                    href="{{ data_mentor.url_sitio_web }}"
                    target="_blank"
                  >
                    {{ data_mentor.url_sitio_web }}
                  </a>
                </li>
              </ul>

              <ul class="ul-bottom">
                <li>
                  <strong>{% trans "Experiencia como dueño" %}: </strong>
                  <span>{{ data_mentor.años_experiencia_dueño }} {% trans "año" %}{{ data_mentor.años_experiencia_dueño|pluralize }}</span>
                </li>
                <li>
                  <strong>{% trans "Experiencia gerencial" %}: </strong>
                  <span>{{ data_mentor.años_experiencia }} {% trans "año" %}{{ data_mentor.años_experiencia_dueño|pluralize }}</span>
                </li>
                <li>
                  <strong>{% trans "Experiencia por país" %}: </strong>
                  {% for list_days_mentor in list_days_mentor %}
                    <span class="c-profile-content__coma">{{ list_days_mentor }}</span>
                  {% endfor %}
                </li>
              </ul>

            </div>

            <dl class="c-header-profile__list">
              <dt class="c-header-profile__list-title">{% trans "Habilidades especiales" %}</dt>
  
              {% for list_ayudas_mentor in list_ayudas_mentor %}
                <dd class="c-header-profile__list-item">
                  <span class="c-header-profile__list-txt">{{ list_ayudas_mentor }}</span>
                  <span class="c-header-profile__list-figure"></span>
                </dd>
              {% endfor %}
  
            </dl>
          
          {% else %}
            <dl class="c-header-profile__list">
              <dt class="c-header-profile__list-title">{% trans "Interés de aprendizaje" %}</dt>

              {% for list_ayudas_emprendedor in list_ayudas_emprendedor %}
                <dd class="c-header-profile__list-item">
                  <span class="c-header-profile__list-txt">{{ list_ayudas_emprendedor }}</span>
                  <span class="c-header-profile__list-figure"></span>
                </dd>
              {% endfor %}

            </dl>
          {% endif %}

          <a
            class="o-btn o-btn_outline {% if user_public.user_rol == '1' %}o-btn_outline_red{% else %} o-btn_outline_emprendedor{% endif %} u-rounder-50 u-box-center"
            href="{% url 'contact' %}"
          >
            {% trans "Reportar un problema" %}
          </a>

        </div>

      </div>

    </div>

  </header>

{% endspaceless %}
