{% load static i18n %}


{% spaceless %}
  
  <header class="c-header-profile">

    <div class="o-canvas">

      <div class="c-header-profile__wrap">

        {# User avatar #}
        <div class="c-header-profile__flex">

          <figure class="c-header-profile__figure">
            {% if user.user_rol == '1' %}

              {% if user.avatar_image != "null"  %}
                <img
                  class="c-header-profile__img"
                  src="{{ user.avatar_image.url }}"
                  alt="Avatar {{ user.names }}"
                >
              {% elif user.linkeding_image %}
                <img
                  class="c-header-profile__img"
                  src="{{ user.linkeding_image }}"
                  alt="Avatar {{ user.names }}"
                >
              {% endif %}

            {% else %}

              {% if user.avatar_image != "null" %}
                <img
                  class="c-header-profile__img"
                  src="{{ user.avatar_image.url }}"
                  alt="Avatar {{ user.names }}"
                >
              {% endif %}
              
            {% endif %}
          </figure>

        </div>

        {# Name and Call to actions #}
        <div class="c-header-profile__flex c-header-profile__flex_margin">
          <div class="c-header-profile__actions">

            <h3 class="c-header-profile__title">{{ user.names }} {{ user.lastnames }}</h3>

            <span class="c-header-profile__tag">      
              {% if user.user_rol == "1" %}
                {% trans "Mentor" %}
              {% else %}
                {% trans "Emprendedor" %}
              {% endif %}
            </span>


          </div>
        </div>

        {# User information #}
        <div class="c-header-profile__flex c-header-profile__flex_column">

          <ul class="c-header-profile__info">
            
            <li
              class="c-header-profile__info-item"
            >
              {% trans "Ubicación: " %}
              <span>{{ user.city }}, {{ user.country }}</span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Profesión: " %}
              <span id="profesion">
                {% if user.user_rol == "1" %}
                  {{ data_mentor.profesion }}
                {% else %}
                  {{ data_emprendedor.profesion }}
                {% endif %}
              </span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Idiomas: " %}
              <span>{{ user.speak_language }}</span>
            </li>

            <li
              class="c-header-profile__info-item"
            >
              {% trans "Ocupación: " %}
              <span id="ocupacion">
                {% if user.user_rol == "1" %}
                  {{ data_mentor.ocupacion }}
                {% else %}
                  {{ data_emprendedor.ocupacion }}
                {% endif %}
              </span>
            </li>

            <li class="c-header-profile__info-item">
            </li>

          </ul>

        </div>

      </div>

    </div>

  </header>


  <script>
    let profesionItem = document.querySelector("#profesion")
    let ocupacionItem = document.querySelector("#ocupacion")

    if (profesionItem.innerHTML.trim().length > 0 || ocupacionItem.innerHTML.trim().length > 0) {
      // Almacena la información en sessionStorage
      sessionStorage.setItem('profesion', profesionItem.innerHTML.trim());
      sessionStorage.setItem('ocupacion', ocupacionItem.innerHTML.trim());

    } else {
      // Obtiene la información almacenada desde sessionStorage
      var dataProfesion = sessionStorage.getItem('profesion');
      var dataOcupacion = sessionStorage.getItem('ocupacion');

      profesionItem.innerHTML = dataProfesion
      ocupacionItem.innerHTML = dataOcupacion

    }

  </script>
{% endspaceless %}
