{% load static %}


{% spaceless %}

  {% for intro_hero in list_intro_hero  %}

    <div class="c-hero">

      <figure class="c-hero__figure">
        <img
          class="c-hero__img"
          src="{{ intro_hero.image.url }}"
          alt="{{ intro_hero.title }}"
        >
      </figure>

      <div class="c-hero__canvas o-canvas">

        <div class="c-hero__content">

            <h2 class="c-hero__title">{{ intro_hero.title }}</h2>
            <p class="c-hero__text">{{ intro_hero.subtitle }}</p>
            <p class="c-hero__text">{{ intro_hero.paragraph }}</p>

            <div class="c-hero__actions">
              <a
                class="o-btn"
                href="
                  {% if intro_hero.text_button == 'ENCONTRAR A UN MENTOR' %}
                    /es/buscar-mentor/
                  {% elif intro_hero.text_button == 'FIND A MENTOR' %}
                    /en/buscar-mentor/
                  {% else %}
                    {{ intro_hero.href_button }}
                  {% endif %}
                "
                title="Ir a {{ intro_hero.text_button }}"
                >
                {{ intro_hero.text_button }}
              </a>
              <a
                class="o-btn"
                href="{{ intro_hero.href_button_secondary }}"
                title="Ir a {{ intro_hero.text_button_secondary }}"
              >
                {{ intro_hero.text_button_secondary }}
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  {% endfor %}

{% endspaceless %}
