{% load i18n static %}

<section>
      
  <div class="u-bg-mentors">
    <div class="o-canvas o-section_padding-120">

      <div class="c-list-can">
        <h2 class="c-list-can__title">{% trans "LOS MENTORES PUEDEN" %}:</h2>
        {{ list_mentors_can.0.list_objects|safe }}

        <div class="c-list-can__action">
          <a class="o-btn" href="{% url 'search_mentor' %}">{% trans "ENCONTRAR UN MENTOR" %}</a>
          {% comment %} <a class="o-btn" href="">{% trans "ENCONTRAR UN MENTOR" %}</a> {% endcomment %}
        </div>
      </div>

    </div>
  </div>

  <div class="o-bg_primary o-section_padding">
    <div style="position: relative;" class="o-canvas">

      <img class="o-girl__img" src="{% static 'css/img/girl.png' %}" alt="">

      <h2 class="c-contact__title o-headline_light">{{ list_mentors_can.0.title_band }}</h2>
      <p class="c-contact__text c-contact__text_width">{{ list_mentors_can.0.text_band }}</p>

    </div>
  </div>

</section>

<section class="o-section o-section_padding">
  <div class="o-canvas">

    <h2
      class="o-headline o-headline_center o-headline_width"
    >
      {% trans "¿CÓMO SACAR EL MAYOR PROVECHO A TU MENTORIA EN 5 PASOS?" %}
    </h2>
  
    
    <ul class="c-steps">
      {% for steps in steps_mentoria %}
        <li class="c-steps__item">
          <h3 class="c-steps__title">
            <span class="c-steps__span">
              {{ steps.title }}
            </span>
          </h3>
          <p class="c-steps__text">{{ steps.text }}</p>
        </li>
      {% endfor %}
    </ul>
  
  </div>
</section>