{% load static %}

{% spaceless %}

  <section class="o-section">
    <div class="o-canvas">

      <h2 class="o-headline">Conoce Nuestros Mentores Expertos</h2>

      <div class="o-swiper js-slide-wrapper">

        {# Slider for cards #}
        <div class="o-swiper__container swiper-container js-slider-cards-mentors">

          <div class="swiper-wrapper">

            {# list mentors #}
            {% for mentor in list_mentors %}
              {% include 'pages/mentors/includes/card_mentors_slider.html' %}
            {% endfor %}

          </div>

        </div>

         {# bullets paginations of slider #}
          <div class="swiper-pagination"></div>
          
          {# prev and next buttons of slider #}
          <div class="o-swiper__buttons">
            <button class="o-swiper__btn swiper-button-next"></button>
            <button class="o-swiper__btn swiper-button-prev"></button>
          </div>

      </div>

    </div>
  </section>

{% endspaceless %}
  