{% load i18n %}

<div class="c-modal c-modal_filter js-target-modal is-modal_visible" data-target-modal="modal-cita">

  <div class="c-modal__box">

    <div class="c-modal__content">
      <div class="o-canvas">

        <p class="js-countrys u-hidden">{{ request.GET.countrys }}</p>
        
        <form  enctype="multipart/form-data" method="POST" class="o-form">
          {% csrf_token %}

          <legend class="o-form__legend">
            {% if user.user_rol == '1' %}
              <h2 class="o-form__legend-title">{% trans "Sugerir una mentoría" %}</h2>
            {% else %}
              <h2 class="o-form__legend-title">{% trans "Solicitar una mentoría" %}</h2>
            {% endif %}
            <p class="o-form__legend-txt">{% trans "Los campos obligatorios están marcados con un" %} <span class="o-form__sup">*</span></p>
          </legend>
    
          <div class="o-form__wrap">
    
            {% for field in form %}
              <div 
                class="o-form__set {% if field.name == 'description_text' or field.name == 'medio_respuesta' or field.name == 'tipo_reunion' %}o-form__set_full{% endif %} {% if field.errors %} is-error{% endif %}"
              >
    
                  {# Label if required #}
                  <span class="o-form__label">
                    {% if field.name == 'tipo_reunion' %}

                      {% if user.user_rol == '1' %}
                          <label for="tipo_reunion_emprendedor">Como le gustaria reunirse con su emprendedor:</label> {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                      {% else %}
                          <label for="tipo_reunion_mentor">Como le gustaria reunirse con su mentor:</label> {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                      {% endif %}

                    {% else %}

                      {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}

                    {% endif %}
                  </span>
            
                  {# campo: input, Textarea, if select, if select multiple #}
                  <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                    {% if field.name == "mentor" %}

                      <input type="hidden" value="{{ request.GET.id_user_mentor }}" name="{{ field.name }}">
                      <input type="text" disabled value="{{ request.GET.email_mentor }}">
                      
                    {% elif field.name == "emprendedor" and not user.user_rol == "1" %}

                      <input type="hidden" value="{{ request.GET.id_emprendedor }}" name="{{ field.name }}">
                      <input type="text" disabled value="{{  request.GET.email_emprendedor  }}">

                    {% elif field.name == "emprendedor" and user.user_rol == "1" %}

                      <input type="hidden" value="{{  request.GET.id_emprendedor }}" name="{{ field.name }}">
                      <input type="text" disabled value="{{ request.GET.email_emprendedor  }}">

                    {% elif field.name == "fecha_estimada_reunion" %}
                      <input required type="datetime-local" name="{{ field.name }}">
                    {% elif field.name == "medio_respuesta" %}

                      <input type="hidden" name="{{ field.name }}" value="Correo electrónico">
                      <input type="text" disabled name="{{ field.name }}" value="Correo electrónico">

                    {% elif field.name == "tipo_reunion" %}

                      <input type="hidden" name="{{ field.name }}" value="En videollamada">
                      <input type="text" disabled name="{{ field.name }}" value="En videollamada">

                    {% elif field.name == "pais_solicitud" %}

                      <select required name="{{ field.name }}" id="{{ field.name }}">

                        <option value="">{% trans "Seleccione una opción" %}</option>

                      </select>

                    {% else %}
                      {{ field }}
                    {% endif %}
                  </span>
            
                  {# ERRORES #}
                  <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                    {{ field.errors }}
                  </div>
    
              </div>
            {% endfor %}
    
          </div>

          <div class="o-form__captcha">

            <div class="g-recaptcha" data-sitekey="6LcAIHwfAAAAAGHILQRgVJXwm3cKf-1LHsoH5U3f"></div>

            <div>
              <h3>{% trans "reCAPTCHA ayuda a prevenir el spam de formularios automatizados" %}.</h3>
            </div>

            <span class="o-form__captcha-error"> {{ msg_captcha }} </span>
              
            <button
              class="o-btn o-form_btn {% if not user_public.user_rol == '1' %} o-btn_emprendedor{% endif %} u-rounder-50" 
              type="submit"
            >
              {% if user.user_rol == '1' %}
                {% trans "ENVIAR SUGERENCIA " %}
              {% else %}
                {% trans "ENVIAR SOLICITUD " %}
              {% endif %}
            </button>

              
          </div>

        </form>

      </div>

      {% if user.user_rol == '1' %}
        <a href="{% url 'profile_public' request.GET.id_emprendedor %}" class="c-modal__close i-close">
          <span class="u-hidden">Cerrar modal</span>
        </a>
      {% else %}
        <a href="{% url 'profile_public' request.GET.id_mentor %}" class="c-modal__close i-close">
          <span class="u-hidden">Cerrar modal</span>
        </a>
      {% endif %}
        
    </div>

  </div>

</div>

<script>
  const countrys = document.querySelector(".js-countrys").innerHTML;
  const countrs_dos = countrys.replace("['", '').replace("']", "")
  const countrs_tres = countrs_dos.replace("'", "")
  const countrs_cuatro = countrs_tres.replace("'", "")
  const countrs_cinco = countrs_cuatro.replace("'", "").replace("'", "")
  const countrs_seis = countrs_cinco.replace("'", "").replace("'", "")
  const countrs_siete = countrs_seis.replace("'", "").replace("'", "")
  const countrs_ocho = countrs_siete.replace("'", "").replace("'", "")
  const countrs_nueve = countrs_ocho.replace("'", "").replace("'", "")
  const countrs_diez = countrs_nueve.replace("'", "").replace("'", "")

  console.log("countrs_cuatro")
  console.log(countrs_diez)


  let arr = countrs_diez.split(','); 
  //dividir la cadena de texto por una coma
  console.log(arr);
  
  localStorage.setItem('datos', JSON.stringify(arr));
  console.log(localStorage.getItem('datos'));

  var guardado = localStorage.getItem('datos');
  var guardado_json = JSON.parse(guardado)
  const selectCountry = document.querySelector("#pais_solicitud")

  console.log('objetoObtenido: ', guardado_json);
  
  guardado_json.forEach(element => {
    const opt = document.createElement('option')

    console.log(element.trim())
    opt.text = element.trim()

    selectCountry.appendChild(opt)
  });

</script>