{% load i18n %}

<div class="c-modal c-modal_filter js-target-modal is-modal_visible" data-target-modal="modal-cita">

  <div class="c-modal__box">

    <div class="c-modal__content">
      <div class="o-canvas">
        
        <form id="formcita"  enctype="multipart/form-data" method="POST" class="o-form">
          {% csrf_token %}

          <legend class="o-form__legend {% if request.GET.state == "c_e" %}o-form__legend_center{% endif %}">

            {% if request.GET.state == "c" %}
              <h2 class="o-form__legend-title">
                {% trans "Rechazar Mentoría" %}
              </h2>
            {% elif request.GET.state == "a" %}
            <h2 class="o-form__legend-title">
              {% trans "Aceptar Mentoría" %}
            </h2>
            {% elif request.GET.state == "re" %}
              <h2 class="o-form__legend-title">
                {% trans "Reprogramar Mentoría" %}
              </h2>
            {% else %}
              <div class="u-text-center o-message o-message_error">
                <p>{% trans "Recuerda que:" %}</p>
                <p>{% trans "Si cancelas o rechazas esta mentoría no podrás volver a enviarle una solicitud a este mentor." %}</p>
              </div>
            {% endif %}

            {% if not request.GET.state == "c_e" %}
              <p class="o-form__legend-txt">{% trans "Los campos obligatorios están marcados con un" %} <span class="o-form__sup">*</span></p>
            {% endif %}
          </legend>
    
          <div class="o-form__wrap">
    
            {% for field in form %}
              <div 
                class="
                  o-form__set
                  {% if field.name == 'description_text' or field.name == 'medio_respuesta' or field.name == 'tipo_reunion' %}o-form__set_full{% endif %}
                  {% if field.name == 'description_cancel' or field.name == 'description_confirmation' %}o-form__set_full u-hidden{% endif %}
                  {% if field.name == 'slug' %}o-form__set_full{% endif %}
                  {% if field.errors %} is-error{% endif %}
                  {% if field.name == "reprogramada" %} u-hidden{% endif %}
                "
              >
    
                  {# Label if required #}
                  <span class="o-form__label {% if field.name == 'state' or field.name == "id_cita" %} u-hidden{% endif %}">
                    {% if field.name == 'tipo_reunion' %}

                      {% if user.user_rol == '1' %}
                        <label for="tipo_reunion_emprendedor">
                          Como le gustaria reunirse con su emprendedor:
                        </label>
                        {% if field.field.required %}
                          <sup class="o-form__sup">*</sup>
                        {% endif %}
                      {% else %}
                        <label for="tipo_reunion_mentor">
                          Como le gustaria reunirse con su mentor:
                        </label>
                        {% if field.field.required %}
                          <sup class="o-form__sup">*</sup>
                        {% endif %}
                      {% endif %}

                    {% elif field.name == "description_confirmation" %}
                    
                        {% if request.GET.state == "re" %}
                          <label>Actualice este mensaje con la información necesaria para la reprogramación de la Mentoría</label><sup class="o-form__sup">*</sup>
                          {% else %}
                          <label>Déjale un mensaje de respuesta al emprendedor junto al enlace de la reunión
                            o videoconferencia si así se acordó</label><sup class="o-form__sup">*</sup>
                        {% endif %}

                    {% else %}

                      {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}

                    {% endif %}
                  </span>
            
                  {# campo: input, Textarea, if select, if select multiple #}
                  <span
                    class="
                      o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}
                      {% if field.name == "mentor" or field.name == "emprendedor" or field.name == "pais_solicitud" or field.name == "medio_respuesta" %} is-disabled {% endif %}
                      {% if field.name == "fecha_estimada_reunion" and request.GET.state == 'c' %} is-disabled{% endif %}
                      {% if field.name == "fecha_estimada_reunion" and request.GET.state == 'c_e' %} is-disabled{% endif %}
                      {% if field.name == "fecha_confirmada_reunion" and request.GET.state == 'c' %} is-disabled{% endif %}
                      {% if field.name == "fecha_confirmada_reunion" and request.GET.state == 'c_e' %} is-disabled{% endif %}
                      {% if field.name == "tipo_reunion" and request.GET.state == 'c' %} is-disabled{% endif %}
                      {% if field.name == "tipo_reunion" and request.GET.state == 'c_e' %} is-disabled{% endif %}
                      {% if field.name == "slug" %} o-form__field_border{% endif %}
                    "
                  >
                    
                    {% if field.name == "state" %}

                      {% if request.GET.state == 'a' or request.GET.state == 're' %}
                        <input id="id_state" type="hidden" name="{{ field.name }}" value="aceptada">
                      {% elif request.GET.state == 'c_e' %}
                        <input id="id_state" type="hidden" name="{{ field.name }}" value="cancelada_emprendedor">
                      {% else %}
                        <input id="id_state" type="hidden" name="{{ field.name }}" value="cancelada">
                      {% endif %}

                    {% elif field.name == "fecha_estimada_reunion" %}
                      <input type="text" name="{{ field.name }}" value="{{ field.value }}">
                    {% elif field.name == "fecha_confirmada_reunion" %}
                      {% if request.GET.state == 'a' or request.GET.state == 're' %}
                        <input required type="datetime-local" name="{{ field.name }}" value="{{ field.value }}">
                      {% else %}
                        <input type="text" name="{{ field.name }}" value="2022-12-12 12:12:12.000000">
                      {% endif %}

                    {% elif field.name == "description_confirmation" %}
                    
                      <textarea name="{{ field.name }}" id="{{ field.name }}" cols="30" rows="10"></textarea>

                    {% elif field.name == "tipo_reunion" %}
                    
                      <input type="hidden" name="{{ field.name }}" value="En videollamada">
                      <input type="text" disabled name="{{ field.name }}" value="En videollamada">

                    {% elif field.name == "reprogramada" %}
                    
                      {% if request.GET.state == 're' %}
                      <input  type="hidden" name="{{ field.name }}" value="1">
                      {% else %}
                      <input  type="hidden" name="{{ field.name }}" value="0">
                      {% endif %}
                    
                    {% elif field.name == "id_cita" %}

                      <input type="hidden" name="{{ field.name }}" value="{{ request.GET.cita_id }}">
                    
                    {% elif field.name == "slug" %}

                      {% if request.GET.state == 'c' or request.GET.state == 'c_e' %}
                        <input id="id_slug" type="hidden" name="{{ field.name }}" value="000">
                      {% else %}
                        {{ field }}
                      {% endif %}

                    {% else %}
                      {{ field }}
                    {% endif %}
                  </span>
            
                  {# ERRORES #}
                  <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                    {{ field.errors }}
                  </div>
    
              </div>
            {% endfor %}
    
          </div>

          <div class="o-form__captcha">

            <div class="g-recaptcha" data-sitekey="6LcAIHwfAAAAAGHILQRgVJXwm3cKf-1LHsoH5U3f"></div>

            <div>
              <h3>{% trans "reCAPTCHA ayuda a prevenir el spam de formularios automatizados" %}.</h3>
            </div>

            <span class="o-form__captcha-error"> {{ msg_captcha }} </span>
              
            <button
              class="o-btn o-form_btn {% if not user_public.user_rol == '1' %} o-btn_emprendedor{% endif %} u-rounder-50" 
              type="submit"
            >
                {% trans "ENVIAR SOLICITUD " %}
            </button>

              
          </div>

        </form>

      </div>

      
        <a href="{% url 'notifications' %}" class="c-modal__close i-close">
          <span class="u-hidden">Cerrar modal</span>
        </a>
        
    </div>

  </div>

</div>