{% load i18n %}

{% if messages %}
  <div class="c-modal c-modal_message c-modal_filter js-target-modal is-modal_visible js-messagesItem is-messageClose">

    <div class="c-modal__box">

      <div class="o-canvas">

        <div class="c-modal__content">
          <div class="o-canvas">
            
            <div class="o-alert">

              {% regroup messages by level_tag as message_levels %}
              {% for level in message_levels %}
                <div class="o-alert__{{ level.grouper }}">
                  {% for message in level.list %}
                    <div class="">
                      <h3>{{ message }}</h3>

                      <button class="js-messageClose o-btn u-rounder-50" type="button" tabindex="0">
                        {% trans "Cerrar" %}
                      </button>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}

            </div>

          </div>
    
        </div>

      </div>

    </div>

  </div>
{% endif %}
