{% load i18n %}

<div class="c-modal js-target-modal is-modal_visible">

  <div class="c-modal__box">

    <div class="o-canvas">

      <div class="c-modal__content">
        <div class="o-canvas">
          

          <h2 class="c-modal__title">{% trans "¡Bienvenido (a)!" %}</h2>
          <p class="c-modal__text o-text">{% trans "Para ser parte de la comunidad de Altruism Now Mentors, es importarte que tengas un negocio en operación o que por lo menos hayas tomado los primeros pasos para hacerlo realidad." %}</p>
          <p class="c-modal__text o-text">{% trans "Si no has llevado a cabo ninguna de estas acciones, te recomendamos visitarnos en el futuro, una vez que lo hayas hecho." %}</p>
          <h6 class="c-modal__text c-modal__text_strong o-text">
            <strong>
              {% trans "Si tienes un negocio, o has dado los primeros pasos para comenzar uno, por favor continua." %}
            </strong>
          </h6>

          <button class="o-btn js-btn-modal-close">{% trans "Continuar" %}</button>
          
        </div>
      </div>

    </div>

  </div>

</div>