{% load i18n %}

<section class="o-section o-section_padding">
  <div class="o-canvas">
    <div class="c-newsletter">
      <h2 class="c-newsletter__title">{% trans "Registrate en nuestro newsletter" %}</h2>

      {# TODO: Convert dinamyc url for newsletter #}
      <form
        nctype="multipart/form-data"
        method="post"
        action="/newsletter/{{ newsletter.title }}/subscribe/"
        class="c-newsletter__form"
      >
        {% csrf_token %}
        <label for="id_email_field" class="u-hidden">E-mail:</label>
        <input
          id="id_email_field"
          name="email_field"
          type="email"
          required="True"
          placeholder="correo@gmail.com*" 
          >
        <button
          id="id_submit"
          name="submit"
          class="o-btn"
          value="Subscribe"
          type="submit"
        >
          {% trans "Suscribirme" %}
        </button>
      </form>
    </div>
  </div>
</section>

