{% load static i18n %}

{% spaceless %}

  <section class="o-section">
    <div class="o-canvas">

      <h2 class="o-headline">{% trans "Ultimas Noticias y Blog" %}</h2>

      <div class="o-swiper js-slide-wrapper">

        {# Slider for cards #}
        <div class="o-swiper__container swiper-container js-slider-cards">

          <div class="swiper-wrapper">

            {# list articles #}
            {% for articulo in articles_publics %}
              {% include 'pages/blog/includes/card_article_slider.html' %}
            {% endfor %}

          </div>

        </div>

         {# bullets paginations of slider #}
          <div class="swiper-pagination"></div>
          
          {# prev and next buttons of slider #}
          <div class="o-swiper__buttons">
            <button class="o-swiper__btn swiper-button-next"></button>
            <button class="o-swiper__btn swiper-button-prev"></button>
          </div>

      </div>

    </div>
  </section>

{% endspaceless %}
  