{% load i18n %}
{% spaceless %}

  {% if object.paginator.num_pages > 1 %}
    <div class="c-paginator o-section">

      <div class="c-paginator__content">
        {% if  object.has_previous %}

          <a 
            title="{% trans 'Ir a la página anterior' %}"
            class="i-chevron-right c-paginator__btn-prev" 
            href="?page={{ articles.previos_page_number }}">
          </a>
          <a 
            title="{% trans 'Ir a la página inicial' %}" 
            class="c-paginator__number" 
            href="?page=1">

            1

          </a>
        {% endif%}

        <span 
          title="{% trans 'Página actual' %}"
          class="c-paginator__number c-paginator__number-active">
          {{ object.number }}
        </span>

        <span class="c-paginator__points">
          ...
        </span>
        


        {% if  object.has_next %}
          <a 
            title="{% trans 'Ir a la última página' %}"
            class="c-paginator__number" 
            href="?page={{ object.paginator.num_pages }}">
            {{ object.paginator.num_pages }}
          </a>
          <a 
            title="{% trans 'Ir a la siguiente página' %}"
            class="c-paginator__btn-next i-chevron-right" 
            href="?page={{ object.next_page_number }}"></a>
        {% endif%}
      </div>

    </div>
  {% endif %}

{% endspaceless %}