{% load i18n static %}

{% spaceless %}

  <section class="o-section o-section_padding-80 o-bg_gray">
    <div class="o-canvas">

      <h2 class="o-headline o-headline_center">{% trans "¡CONSTRUYE UNA RELACIÓN Y HAZ CRECER TU NEGOCIO!" %}</h2>

      <div class="c-planes">

        <article class="c-plan c-plan_bg" id="plan-mentor">

          <figure class="c-plan__figure">
            <img class="c-plan__img" src="{% static 'css/img/encuentra_emprendedor.jpg' %}" alt="{% trans 'Cover conviertete en mentor' %}">
          </figure>

          <div class="c-plan__content">

            <h2
              class="c-plan__title c-plan__title_line-withe"
            >
              {% trans "Conviertete en mentor" %}
            </h2>

            <div>

              {% for detail_mentor in detail_list %}
                {{ detail_mentor.description_mentors|safe }}
              {% endfor %}
  
              <a
                class="c-plan__cta o-btn o-btn_tertiary"
                title="{% trans 'Registrarme con linkedin' %}"
                href="{% url 'social:begin' 'linkedin-oauth2' %}"
              >
                {% trans "UNIRME COMO MENTOR" %}
              </a>

            </div>

          </div>

        </article>

        <article class="c-plan">

          <figure class="c-plan__figure">
            <img class="c-plan__img" src="{% static 'css/img/encuentra_mentor.jpg' %}" alt="{% trans 'Cover conviertete en mentor' %}">
          </figure>

          <div class="c-plan__content">

            <h2 class="c-plan__title">{% trans "Encuentra un mentor" %}</h2>

            <div>
              
              {% for detail_emprendedor in detail_list %}
                {{ detail_emprendedor.description_emprendedor|safe }}
              {% endfor %}
    
              <a
                class="c-plan__cta o-btn o-btn_tertiary"
                href="{% url 'register' %}"
                title="{% trans 'Ir a Registrar emprendedor' %}"
              >
                {% trans "UNIRME COMO EMPRENDEDOR" %}
              </a>

            </div>

          </div>
        </article>

      </div>

      {% include "includes/why_us.html" with class_mt="c-list-whyus_mt" %}

    </div>
  </section>
  
{% endspaceless %}
  
