{% load i18n %}

<div class="c-rating">

  <header class="c-rating__header">
    {% if user.user_rol == "1" %}
      <h3>{% trans "Califica al Emprendedor" %}</h3>
    {% else %}
      <h3>{% trans "Califica al Mentor" %}</h3>
    {% endif %}
    <p>{% trans "Califica tu experiencia una vez finalizada la Mentoría" %}</p>
  </header>

  <div class="c-rating__box {% if not user.user_rol == '1' %}c-rating__box_center{% endif %}">

    <div class="c-rating__starts">
      <span class="c-rating__starts-number">{{ card.rating_result }}</span>

      <ul class="c-rating__starts-list {{ card.class_rating }}">
        <li class="c-rating__starts-item i-star"></li>
        <li class="c-rating__starts-item i-star"></li>
        <li class="c-rating__starts-item i-star"></li>
        <li class="c-rating__starts-item i-star"></li>
        <li class="c-rating__starts-item i-star"></li>
      </ul>

      <span
        class="c-rating__starts-text"
      >
          {{ card.rating_user|length }} <span id="opinion">{% trans "opinión" %}{{ card.rating_user|length|pluralize:"es" }}<span>
      </span>
    </div>

    <button
      onclick="abrir_modal_rating('/calificacion-usuario/', event)"
      class="c-rating__btn i-pen"
      data-user="{% if user.user_rol == '1' %}emprendedor{% else %}mentor{% endif %}"
    >
        {% trans "Escribir una opinión" %}
    </button>

    {% if user.user_rol == '1' %}
      <a
        href="{% url 'edit_cita' card.id %}?state=re&cita_id={{ card.id }}"
        title="{% trans 'Ir a reprogramar Mentoría' %}"
        class="o-btn u-rounder-50"
      >
        {% trans "Reprogramar Mentoría" %}
      </a>
    {% endif %}

  </div>

</div>
