{% load static i18n %}

{% spaceless %}
  
  {% if testimonial_list|length > 0 %}
    
    <section class="o-bg o-section_padding">

      <div class="o-canvas">
        <h2 class="o-headline o-headline_light">{% trans "Casos de exito" %}</h2>
      </div>

      <div class="o-canvas">

        <div class="o-swiper js-slide-wrapper">

          {# Slider for testimonials #}
          <div class="o-swiper__container o-swiper__container_padding swiper-container js-slider-quote">
          
            <div class="swiper-wrapper">  

              {% for testimonial_list in testimonial_list %}

                <div class="o-swiper__item o-swiper__item swiper-slide">

                  <div class="c-quote">
                    <figure class="c-quote__figure">
                      <img 
                        class="c-quote__img" 
                        src="{{ testimonial_list.avatar_user.url }}" 
                        alt="{{ testimonial_list.name_user }}"
                      >
                    </figure>

                    <div class="c-quote__text">
                      <blockquote class="c-quote__quote i-quote">
                        {{ testimonial_list.description }}
                      </blockquote>

                      <div class="c-quote__user">
                        <p class="c-quote__name">{{ testimonial_list.name_user }}</p>
                        <p class="c-quote__info">
                          <span
                            class="c-quote__info_red"
                          >
                            {% trans "Emprendedor" %}
                          </span>
                          - {{ testimonial_list.razon_emprendimiento }}
                        </p>
                        <p class="c-quote__info">
                          <span
                            class="c-quote__info_red"
                          >
                            Mentor
                          </span>
                          - {{ testimonial_list.name_mentor }}
                        </p>
                      </div>

                    </div>
                  </div>

                </div>

              {% endfor %}
            
            </div>

          </div>

          {# prev and next buttons of slider #}
          <div class="o-swiper__buttons">
            <button class="o-swiper__btn o-swiper__btn_distance o-swiper__btn_neutro swiper-button-next"></button>
            <button class="o-swiper__btn o-swiper__btn_distance o-swiper__btn_neutro swiper-button-prev"></button>
          </div>

        </div>

        <div class="c-contact_cta c-contact_cta_top">
          <a
            href="{% url 'search_mentor' %}"
            title="{% trans 'Ir al buscador de Mentores' %}"
            class="o-btn o-btn_tertiary"
          >
            {% trans "Encontrar a un mentor" %}
          </a>
          <a
            class="o-btn o-btn_outline o-btn_outline_neutro"
            title="{% trans 'Registrarme con linkedin' %}"
            href="{% url 'social:begin' 'linkedin-oauth2' %}"
          >
            {% trans "Conviértete en Mentor" %}
          </a>
        </div>

      </div>
    </section>

  {% endif %}

{% endspaceless %}
  