
{% spaceless %}
    
  {% for list in list_why_us %}

    <div class="c-list-whyus {{ class_mt }} c-planes">
      <figure class="c-list-whyus__figure">
        <img class="c-list-whyus__img" src="{{ list.cover.url }}" alt="">
        <figcaption class="c-list-whyus__caption">
          <h2 class="c-list-whyus__title">{{ list.title }}</h2>
          {{ list.description_why|safe }}
        </figcaption>
      </figure>
    </div>

  {% endfor %}

{% endspaceless %}
