//-*------------------------------------*
//-   Variables Breakpoint predefinidos
//-*------------------------------------*


/**
* Small
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-small: 375px;
/**
* small-m
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-small-m: 540px;
/**
* medium
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-medium: 768px;
/**
* wide
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-wide: 900px;
/**
* large
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-large: 1024px;
/**
* big
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-big: 1280px;
/**
* huge
* @nuclide Variables
* @section Settings > Breakpoint predefinidos
*/
$bp-huge: 1440px;
