//-*------------------------------------*
//-    Variables Color Template
//-    Referente del sistema de color:
//-    https://material.io/design/color/the-color-system.html
//-*------------------------------------*

//-*------------------------------------*
//-    Primary
//-*------------------------------------*

/**
  * $c-primary
  * @color
  * @section Primary
*/

$c-primary: #ef0000;

/**
  * $c-primary-50
  * @color
  * @section Primary
*/

$c-primary-50: #ffa8a8;

/**
  * $c-primary-300
  * @color
  * @section Primary
*/

$c-primary-300: #ff4242;

/**
  * $c-primary-400
  * @color
  * @section Primary
*/

$c-primary-400: #ff1919;

/**
  * $c-primary-600
  * @color
  * @section Primary
*/

$c-primary-600: #c10000;

/**
  * $c-primary-800
  * @color
  * @section Primary
*/

$c-primary-800: #650000;

//-*------------------------------------*\
//-    Secondary & tertiary
//-*------------------------------------*/

/**
  * $c-secondary-50
  * @color
  * @section Secondary
*/

$c-secondary-50: #d1ecfc;

/**
  * $c-secondary-300
  * @color
  * @section Secondary
*/

$c-secondary-300: #71c4f7;

/**
  * $c-secondary-400
  * @color
  * @section Secondary
*/

$c-secondary-400: #4bb4f4;

/**
  * $c-secondary-500
  * @color
  * @section Secondary
*/

$c-secondary-500: #24a4f2;

/**
  * $c-secondary-600
  * @color
  * @section Secondary
*/

$c-secondary-600: #0d8ddb;

/**
  * $c-secondary-800
  * @color
  * @section Secondary
*/

$c-secondary-800: #085584;

//-*------------------------------------*\
//-    Gray
//-*------------------------------------*/

/**
  * $c-gray-500
  * @color
  * @section Grey
*/
$c-gray-500: #f2f2f2;

/**
  * $c-gray-600
  * @color
  * @section Grey
*/
$c-gray-600: #dbdbdb;

/**
  * $c-gray-700
  * @color
  * @section Grey
*/
$c-gray-700: #c4c4c4;

/**
  * $c-gray-900
  * @color
  * @section Grey
*/
$c-gray-900: #969696;

//-*------------------------------------*
//-    On
//-    Color de textos, encima de las superficies:
//-    Tipografía y colores de iconografía.
//-*------------------------------------*

/**
  * $c-on-primary-50
  * @color
  * @section On
*/
$c-on-primary-50: #73818e;

/**
  * $c-on-primary-300
  * @color
  * @section On
*/
$c-on-primary-300: #454e56;

/**
  * $c-on-primary-500
  * @color
  * @section On
*/
$c-on-primary-500: #212529;

/**
  * $c-on-primary-600
  * @color
  * @section On
*/
$c-on-primary-600: #0d0e10;

//-*------------------------------------*
//-    Status
//-    colores que indican estado
//-    ej. is-error, is-warning
//-*------------------------------------*

$c-warning-50: #fbefbc;
$c-warning-200: #f8e083;
$c-warning-500: #f1c40f;

$c-succes-50: #c1f2e0;
$c-succes-200: #94e9ca;
$c-succes-500: #3cd69e;

//-*------------------------------------*
//-    Background - Surface
//-    Aparece detrás del contenido.
//-    Fondos, bordes
//-    ej: $c-bg-surface: #fff;
//-*------------------------------------*

/**
 * $c-surface-cyan-76
 * @color
 * @section Surface
 */

$c-surface-cyan-76: #08d099;

//-*------------------------------------*
//-    Color Less: Blanco
//-*------------------------------------*

/**
  * $c-neutro
  * @color
  * @section Color Less
*/

$c-neutro: #fff;

//-*------------------------------------*
//-    Elevations
//-*------------------------------------*

$c-shadow-1dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08);
$c-shadow-2dp: 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
$c-shadow-3dp: 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
$c-shadow-4dp: 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
$c-shadow-5dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 18px rgba(0, 0, 0, 0.12);
$c-shadow-6dp: 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
$c-shadow-8dp: 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.2);

//-*------------------------------------*
//-    Default & Brand
//-    se muestra con mayor frecuencia en las pantallas y componentes
//-*------------------------------------*

$c-default-text-light: $c-gray-500;

$c-default-text-dark: $c-on-primary-500;

$c-default-link: $c-primary;
