//-*------------------------------------*
//-   Variables fuentes de ícono
//-*------------------------------------*


/**
* Font family: fuentes de ícono Escuela
* @nuclide Variables
* @section Settings > Font family
*/
$font-family-ico: "ico-mentor-live" !default;

// V 1.0

$i-chevron-right: "\e900";
$i-clock: "\e901";
$i-close: "\e902";
$i-copyright: "\e903";
$i-eye-hide: "\e904";
$i-eye-show: "\e905";
$i-facebook: "\e906";
$i-linkedin: "\e907";
$i-mail: "\e908";
$i-menu: "\e909";
$i-search: "\e90a";
$i-whatsapp: "\e90b";
$i-quote: "\e90c";
$i-check: "\e90d";
$i-hand: "\e90e";
$i-people: "\e90f";
$i-world-clock: "\e910";

// V 1.1
$i-world: "\e911";

// v1.2
$i-instagram: "\e912";
$i-tiktok: "\e913";

// v1.3
$i-bell: "\e914";

// v1.3
$i-information: "\e915";
$i-pen: "\e916";
$i-star: "\e917";
$i-star-fill: "\e918";