//-*------------------------------------*
//-   Variables Typo font
//-*------------------------------------*


/**
* Base HTML: 16px
* @nuclide Variables
* @section Settings > Font size
*/
$font-size-base: 16px;

/**
* Font family: 'Lato'
* @nuclide Variables
* @section Settings > Font family
*/
$f-default: 'Antic', sans-serif;

$f-title: 'Capriola', sans-serif;

$f-subtitle: 'Antic Didone', sans-serif;

/**
* font-weight: Light | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-light: 300;

/**
* font-weight: Regular | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-regular: 400;

/**
* font-weight: Medium | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-medium: 500;

/**
* font-weight: Semi-bold | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-semi-bold: 600;

/**
* font-weight: Bold | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-bold: 700;

/**
* font-weight: Bold | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-extra-bold: 800;

/**
* font-weight: Black | Font family: Nunito
* @nuclide Variables
* @section Settings > Font weight
*/
$f-black: 900;

/**
* font-style: italic | Font family: Nunito
* @nuclide Variables
* @section Settings > Font style
*/
$f-italic: italic;
