{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {% trans "Sobre nosotros" %} </h1>
  {% endblock title_breadcrumb %}
  
  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{% trans "Sobre nosotros" %}</span>
  {% endblock items_breadcrumb %}

  {% block content %}

    {% include "includes/band_about.html" %}

    <section class="o-section_padding-80 o-bg_gray">
      <div class="o-canvas">

        {% for aboutus in aboutus %}
          <div class="c-card-about">
            <figure class="c-card-about__figure">
              <img class="c-card-about__img" src="{{ aboutus.image_aobutus.url }}" alt="">
            </figure>

            <div class="c-card-about__content">
              <h2 class="c-card-about__title o-headline">{% trans "¿QUIENES SOMOS?" %}</h2>
      
              <p class="c-card-about__text">{{ aboutus.paragraph_one }}</p>
              <p>{{ aboutus.paragraph_two }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </section>

    <section class="o-section u-margin-top-0">
      {# Banner center component #}
      {% include 'includes/banner_center.html' %}
    </section>

    {# mision y vision #}
    <section class="o-section_padding-80 o-bg">
      <div class="o-canvas">
        {% for aboutus in aboutus %}
          <div class="c-card-about">
            <figure class="c-card-about__figure">
              <img class="c-card-about__img" src="{{ aboutus.image_mision_vision.url }}" alt="">
            </figure>

            <div class="c-card-about__content">
              <h3 class="c-card-about__title c-card-about__title_sm o-headline">{% trans "NUESTRO TRABAJO" %}</h3>
              <p class="c-card-about__text">{{ aboutus.paragraph_our_work }}</p>

              <h3 class="c-card-about__title c-card-about__title_sm o-headline">{% trans "MISIÓN" %}</h3>
              <p class="c-card-about__text">{{ aboutus.paragraph_mision }}</p>

              <h3 class="c-card-about__title c-card-about__title_sm o-headline">{% trans "VISIÓN" %}</h3>
              <p class="c-card-about__text">{{ aboutus.paragraph_vision }}</p>

            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="o-bg_green">

      <div class="o-canvas o-canvas_right">

        <div class="c-valoress">
  
          <div class="c-valores__content">
            <h2 class="c-valores__title">{% trans "NUESTROS VALORES" %}</h2>
    
            <ul class="c-valores__list">

              {% for valor in valores %}
              
                <li class="c-valores__item">
                  <h3 class="c-valores__item-title">{{ valor.title }}</h3>
                  <p class="c-valores__item-text i-chevron-right">{{ valor.text }}</p>
                </li>

              {% endfor %}

            </ul>
  
          </div>
  
          <figure class="c-valores__figure">
            <img class="c-valores__img" src="{% static 'css/img/foto_chica.jpg' %}" alt="">
          </figure>
  
        </div>

      </div>
    </section>

    {# Plan estrategico #}
    <section class="o-bg_gray o-section_padding">
      <div class="o-canvas">

        <div class="o-section_padding">
            
          <h2 class="c-contact__title">
            {% trans "Plan Estratégico" %}
          </h2>

          {% for aboutus in aboutus %}
            <p class="c-contact__text c-contact__text_gray" style="margin-bottom:0;">
              {{ aboutus.paragraph_plan }}
            </p>
          {% endfor %}

        </div>
      
      </div>
    </section>

    {# About component #}
    {% include 'includes/about.html' %}

    {# Ads contact #}
    {% include 'includes/contacto.html' %}

    {# Articles blog #}
    {% include 'includes/noticias.html' %}

    {# Testimonal list #}
    {% include 'includes/testimonial.html' %}

    {% comment %} {# allies slider #}
    {% include "includes/allies.html" %} {% endcomment %}

  {% endblock content %}
  
{% endspaceless %}