{% extends "base.html" %}

{% load i18n %}

{% spaceless %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {% trans "Contacto" %}</h1>
  {% endblock title_breadcrumb %}

  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{% trans "Contacto" %}</span>
  {% endblock items_breadcrumb %}

  {% block content %}

    <div class="o-canvas">

      <div class="o-layout-contact">
        
        <div>
    
          <h3 class="c-footer__title">{% trans "INFORMACIÓN DE CONTACTO" %}</h3>

          {% for contact_information  in contact_information %}
            <ul class="c-footer__list">
              <li class="i-whatsapp c-footer__item c-footer__item_icon">
                <p class="c-footer__item-txt">
                  {% trans "Soporte personalizado" %}:
                  <a
                    class="c-footer__link"
                    href="https://wa.me/{{ contact_information.number_support }}"
                    title="{% trans 'Ir al whatsapp de Altruism Now Mentors' %}"
                    target="_blank"
                  >
                    +{{ contact_information.number_support }}
                  </a>
                </p>
              </li>
              <li class="i-world-clock c-footer__item c-footer__item_icon">
                <p class="c-footer__item-txt">
                  {% trans "Horario de respuesta" %}:
                  <span
                    class="c-footer__link"
                  >
                    {{ contact_information.business_hours }}
                  </span>
                </p>
              </li>
              <li class="i-mail c-footer__item c-footer__item_icon">
                <p class="c-footer__item-txt">
                  {% trans "Correo contacto" %}:<br>
                  <a href="mailto:{{ contact_information.contact_email }}" target="_blank" class="c-footer__link">
                    {{ contact_information.contact_email }}
                  </a>
                </p>
              </li>
            </ul>
          {% endfor %}
    
        </div>
    
        <section class="o-section">
          <div class="o-canvas">
    
            <form enctype="multipart/form-data" method="POST" class="o-form">
              {% csrf_token %}
    
              <legend class="o-form__legend">
                <h2 class="o-form__legend-title">{% trans "¿Tienes alguna pregunta para nosotros?" %}</h2>
                <p>{% trans "Responderemos tus inquietudes en el menor tiempo posible"%}</p>
              </legend>
        
              <div class="o-form__wrap">
        
                {% for field in form %}
                  <div 
                    class="o-form__set {% if field.name == 'message_contact' %}o-form__set_full {% endif %} {% if field.errors %} is-error{% endif %}"
                  >
        
                      {# Label if required #}
                      <span class="o-form__label">
                        {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                      </span>
                
                      {# campo: input, Textarea, if select, if select multiple #}
                      <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                        {{ field }}
                      </span>
                
                      {# ERRORES #}
                      <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                        {{ field.errors }}
                      </div>
        
                  </div>
                {% endfor %}
        
              </div>
        
              <button class="o-btn o-form_btn" type="submit">{% trans "Enviar" %}</button>
            </form>
    
          </div>
        </section>
  
      </div>

    </div>

    {# Articles blog #}
    {% include 'includes/noticias.html' %}
    
  {% endblock content %}

{% endspaceless %}