{% extends "base.html" %}

{% load i18n static %}

{% block content %}

  {% include "includes/band_question.html" %}

  <section class="o-section_padding-80 o-bg_gray">
    <div class="o-canvas">
      {% include "includes/why_us.html" with class_mt="" %}
    </div>
  </section>

  <section class="o-section">
    <div class="o-canvas">

      <div class="c-frecuents">

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">GENERAL</h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "general" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">
              <small>{% trans "PARA" %}</small>
              {% trans "MENTORES" %}
            </h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "mentores" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">
              <small>{% trans "PARA" %}</small>
              {% trans "EMPRENDEDORES" %}
            </h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "emprendedores" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">
              <small>{% trans "PARA" %}</small>
              {% trans "EMPRESAS" %}
            </h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "empresas" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">
              <small>{% trans "PARA" %}</small>
              {% trans "EMPRESAS, ORGANIZACIONES Y GOBIERNO" %}
            </h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "empresas" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

          <div class="c-frecuents__box">
            <h3 class="c-frecuents__title">
              <small>{% trans "PARA" %}</small>
              {% trans "ALIADOS" %}
            </h3>

            <ul class="c-frecuents__list">
              {% for frecuent_questions in frecuent_questions %}
                {% if frecuent_questions.category == "aliados" %}
                  <li class="c-frecuents__item">
                    <h4 class="c-frecuents__item-title">{{ frecuent_questions.title }}</h4>
                    <p class="c-frecuents__item-text">{{ frecuent_questions.subtitle }}</p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

          </div>

      </div>

    </div>
  </section>

  {# Ads contact #}
  {% include 'includes/contacto.html' %}

  {# Articles blog #}
  {% include 'includes/noticias.html' %}

  {# List testimonials #}
  {% include 'includes/testimonial.html' %}

{% endblock %}