{% spaceless %}

  <div class="o-grid">

    <article class="c-card c-card_height">
      {% for category in articulo.categorys.all %}
      <div class="c-card__tag">
        <a
          href="{% url 'category' category.id %}"
          title="Ir a categoría {{ category.name }}"
        >
          {{ category.name }}
        </a>
      </div>
      {% endfor %}

      <a
        class="c-card-link"
        href="{% url 'article' articulo.id %}"
        title="Ir al articulo {{ articulo.title }}"
      >
        {% if articulo.image != 'null' %}
        <figure class="c-card__figure">
          <img
            class="c-card__img"
            src="{{ articulo.image.url }}"
            alt="{{ articulo.title }}"
          />
        </figure>
        {% endif %}

        <div class="c-card__info">
          <h3 class="c-card__title">{{ articulo.title }}</h3>
          <p class="c-card__paragraph">{{ articulo.description }}</p>
          <div class="c-card__footer">
            <p class="c-card__date">{{ articulo.created_at }}</p>
          </div>
        </div>
      </a>
    </article>

  </div>

{% endspaceless %}
