{% load i18n %}

<div class="o-filter">

  <ul class="c-top-menu__list js-target-class">
    <li class="c-top-menu__item">
      <button
        class="o-link c-top-menu__link js-btn-toggle-class i-after-chevron-right"
        data-class-is="is-open-menu"
      >
        {% trans "Filtrar por categoria" %}
      </button>
  
      {# submenu #}
      <div class="c-submenu">
        <ul class="c-submenu__list">
          {% for category in categorys  %}
            <li class="c-submenu__item">
              <a
                href="{% url 'category' category.0 %}"
                class="c-submenu__link"
              >
                {{ category.1 }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
  
    </li>
  </ul>

  <ul class="c-top-menu__list js-target-class">
    <li class="c-top-menu__item">
      <button
        class="o-link c-top-menu__link js-btn-toggle-class i-after-chevron-right"
        data-class-is="is-open-menu"
      >
        {% trans "Filtrar por" %}
      </button>
  
      {# submenu #}
      <div class="c-submenu">
        <ul class="c-submenu__list">
          <li class="c-submenu__item">
            <a
              href="?filter=recent"
              class="c-submenu__link"
            >
              {% trans 'Menos reciente' %}
            </a>
          </li>
          <li class="c-submenu__item">
            <a
              class="c-submenu__link"
              href="?filter=-recent"
            >
              {% trans "Reciente" %}
            </a>
          </li>
        </ul>
        <div class="c-submenu__footer">
          <a class="c-submenu__link" href="?filter=az">
            Az
          </a>
          <a
            class="c-submenu__link"
            href="?filter=-az"
          >
            Za
          </a>
        </div>
      </div>
  
    </li>
  </ul>

</div>
