{% load i18n %}

<script>
  var listForOfNamesTwo = document.querySelectorAll("label")

  listForOfNamesTwo.forEach(element => {
    switch (element.getAttribute("for")) {
      case "id_description_rating":
        changeText(element, "Share details of your experience with the entrepreneur:", "")
        break;
    }
  });

  function changeText(element, text, placeholder) {
    var lang = document.querySelector("html").getAttribute("lang")

    if (lang == "en") {
        element.innerHTML = text

        var btn = document.querySelector(".o-form_btn");
        btn.innerHTML = "Public"
    }
  }

</script>

<form id="form_rating" action="{% url 'rating_user' %}" method="POST">
  {% csrf_token %}

  <div class="o-form__wrap">
    {% for field in form %}

      <div class="
          o-form__set
          {% if field.name == 'description_rating' %}o-form__set_full{% endif %}
        "
      >

        <span class="
            o-form__label
            {% if field.name == 'user' or field.name == 'rating_user' %} u-hidden{% endif %}
          "
        >
          {% if field.name == "description_rating" %}

            {% if user.user_rol == '1' %}
              <label for="id_description_rating">{% trans "Comparte detalles de tu experiencia con el emprendedor" %}: <label>
            {% else %}
              <label for="id_description_rating">{% trans "Comparte detalles de tu experiencia con el mentor" %}: <label>
            {% endif %}

          {% else %}
            {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
          {% endif %}
        </span>

        <span
          class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">

          {% if field.name == "user" %}
            <input type="hidden" name="{{ field.name }}" id="id-rating-user">
          {% elif field.name == "rating_user" %}
            <input type="hidden" name="{{ field.name }}" id="id-rating-rating">
          {% else %}
            {{ field }}
          {% endif %}
        </span>

      </div>

    {% endfor %}
  </div>

  <div class="o-form__captcha">

    <div class="g-recaptcha" data-sitekey="6LesPiMgAAAAAFIoxUFARSn--lhEJ7SGlYrwQyMM"></div>

    {% comment %} <div>
      <h3>{% trans "reCAPTCHA ayuda a prevenir el spam de formularios automatizados" %}.</h3>
    </div> {% endcomment %}

    <span class="o-form__captcha-error"> {{ msg_captcha }} </span>
      
    <button
      class="o-btn o-form_btn u-rounder-50" 
      type="button"
      onclick="crear()"
    >
        {% trans "Publicar" %}
    </button>

  </div>

</form>
