/*---------------------------------------------*\
  #font-face
  $font-family-ico: "ico-mentor-live" !default;
  URL custom fonts: https://fonts.google.com/share?selection.family=Nunito:wght@300;400;700;800
\*---------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");

// - Icommon Font Ico
@font-face {
    font-family: "#{$font-family-ico}";
    src: url('#{$path-font}/#{$font-family-ico}.eot?qqnr5');
    src: url('#{$path-font}/#{$font-family-ico}.eot?#iefix') format("embedded-opentype"), url('#{$path-font}/#{$font-family-ico}.ttf?qqnr5') format("truetype"), url('#{$path-font}/#{$font-family-ico}.woff?qqnr5') format("woff"), url('#{$path-font}/#{$font-family-ico}.svg?qqnr5##{$font-family-ico}') format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.i-,
[class^="i-"],
[class*=" i-"],
.o-ico {
    &:before {
        @include font-family-ico($font-family-ico);
    }
}

.i-after-,
[class^="i-after-"],
[class*="i-after-"] {
    &:after {
        @include font-family-ico($font-family-ico);
    }
}

// - V 1.0

.i-chevron-right {
    &:before {
        content: $i-chevron-right;
    }
}

.i-after-chevron-right {
    &::after {
        content: $i-chevron-right;
    }
}
.i-clock {
    &:before {
        content: $i-clock;
    }
}
.i-close {
    &:before {
        content: $i-close;
    }
}
.i-copyright {
    &:before {
        content: $i-copyright;
    }
}
.i-eye-hide {
    &:before {
        content: $i-eye-hide;
    }
}
.i-eye-show {
    &:before {
        content: $i-eye-show;
    }
}
.i-facebook {
    &:before {
        content: $i-facebook;
    }
}
.i-linkedin {
    &:before {
        content: $i-linkedin;
    }
}
.i-mail {
    &:before {
        content: $i-mail;
    }
}
.i-menu {
    &:before {
        content: $i-menu;
    }
}
.i-search {
    &:before {
        content: $i-search;
    }
}
.i-whatsapp {
    &:before {
        content: $i-whatsapp;
    }
}
.i-quote {
    &:before {
        content: $i-quote;
    }
}
.i-check {
    &:before {
        content: $i-check;
    }
}
.i-hand {
    &:before {
        content: $i-hand;
    }
}
.i-people {
    &:before {
        content: $i-people;
    }
}
.i-world-clock {
    &:before {
        content: $i-world-clock;
    }
}

// v 1.1
.i-world {
    &:before {
        content: $i-world;
    }
}

// v 1.2
.i-instagram {
    &:before {
        content: $i-instagram;
    }
}
.i-after-instagram {
    &:after {
        content: $i-instagram;
    }
}

.i-tiktok {
    &:before {
        content: $i-tiktok;
    }
}

.i-bell {
    &:before {
        content: $i-bell;
    }
}

.i-after-bell {
    &:after {
        content: $i-bell;
    }
}

.i-information {
    &:before {
        content: $i-information;
    }
}

.i-pen {
    &:before {
        content: $i-pen;
    }
}

.i-star {
    &:before {
        content: $i-star;
    }
}

.i-star-fill {
    &:before {
        content: $i-star-fill;
    }
}
