{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}

  {% block content %}
  
    {% include "includes/band_mentor.html" %}

    {% include 'includes/list_can.html' %}

    <section class="o-section_padding-80 o-bg_gray">
      <div class="o-canvas">
        {% include "includes/why_us.html" %}
      </div>
    </section>

    <section class="o-section">
      <div class="o-canvas">

        <h2 class="o-headline">{% trans "PREGUNTAS Y RESPUESTAS RÁPIDAS:" %}</h2>

        <div class="c-dropdown__wrap">

          {% for quick_questions in quick_questions %}
  
            <div class="c-dropdown js-target-class">
              <h3
                data-class-is="is-dropdown-active"
                class="c-dropdown__title i-chevron-right js-btn-toggle-class"
              >
                {{ quick_questions.title }}
              </h3>
              <div class="c-dropdown__content">
                <p class="c-dropdown__text">{{ quick_questions.subtitle }}</p>
              </div>
            </div>

          {% endfor %}

        </div>

      </div>
    </section>

    {# Ads contact #}
    {% include 'includes/contacto.html' %}

    {# Articles blog #}
    {% include 'includes/noticias.html' %}

    {# List testimonials #}
    {% include 'includes/testimonial.html' %}

  {% endblock content %}

{% endspaceless %}
  