{% load i18n %}


<script>
  btn = document.querySelector("#yes_want");

  if (lang == "en") {
      btn.innerHTML = "Yes, I want to discard the Suggestion!"
  }


</script>

<form
  id="form_edicion_suggestion_cancel"
  action="{% url 'edit_suggestion_ajax_descartar' object.pk %}"
  method="POST"
  class="o-form u-text-center"
>
  {% csrf_token %}

  <fieldset>

    {% for field in form %}
      <input id="suggestion_field" name="{{ field.name }}" hidden value="cancelada">
    {% endfor %}

  </fieldset>


  <button
    id="yes_want"
    class="o-btn u-rounder-50 js-btnsuggestion-editin"
    type="button"
    onclick="editarSuggestionDescartar()"
  >
    Si ¡Quiero descartar la sugerencia!

    <ul class="loader u-hidden">
      <li class="loader__item"></li>
      <li class="loader__item"></li>
      <li class="loader__item"></li>
    </ul>
  </button>
</form>
