{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}


  {% block content %}

    <section class="o-section">
      <div class="o-canvas">
        {# Header steps of user register #}
        {% include 'pages/user/includes/header_steps.html' with number_current_step=3 text_current_action='Completar Información acerca de tu negocio' only  %}

        <form enctype="multipart/form-data" method="POST" class="o-form">
          {% csrf_token %}

          <legend class="o-form__legend">
            <p
              class="o-form__legend-txt"
            >
              {% trans "Los campos obligatorios están marcados con un" %}
              <span class="o-form__sup">*</span>
            </p>
          </legend>
    
          <div class="o-form__wrap">
    
            {% for field in form %}
              <div 
                class="o-form__set {% if field.name == 'id_emprendedor' %} u-hidden{% endif %} {% if field.name == 'description' or field.name == 'abilities' %}o-form__set_full{% endif %}{% if field.errors %} is-error{% endif %}"
              >
    
                  {# Label if required #}
                  <span class="o-form__label">
                    {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                    <div>
                      {{ field.help_text }}
                    </div>
                  </span>
            
                  {# campo: input, Textarea, if select, if select multiple #}
                  <span class="o-form__field {% if field.name == 'ayudas_para_negocio' or field.name == 'ubicacion_negocio' %}input-custom{% endif %} {% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                    
                    {% if field.name == "id_emprendedor" %}
                      <input
                      id="{{ field.name }}"
                      name="{{ field.name }}"
                      type="text"
                      value="{{ request.user.id }}"
                      required
                      hidden
                      >
                    {% elif field.name == "fecha_lanzamiento" %}
                      <input
                        id="{{ field.name }}"
                        name="{{ field.name }}"
                        type="datetime-local"
                        required
                      >
                    {% else %}
                      {{ field }}
                    {% endif %}

                  </span>
            
                  {# ERRORES #}
                  <div class="is-error__message{% if not field.errors.data|length %} u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                    {{ field.errors }}
                  </div>
    
              </div>
            {% endfor %}
    
          </div>
    
          <button class="o-btn o-form_btn" type="submit">{% trans "FINALIZAR REGISTRO" %}</button>
        </form>

      </div>
    </section>
    
  {% endblock content %}

  {% block scripts_block %}
    <script type="module" src="{% static 'js/components/custom_select.js' %}"></script>
  {% endblock scripts_block %}


{% endspaceless %}