{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}


{% block content %}

  <section class="o-section">
    <div class="o-canvas">

      {# Header steps of user register #}
      {% include 'pages/user/includes/header_steps.html' with number_current_step=2 text_current_action='Completar Información personal' only  %}

      <form enctype="multipart/form-data" method="POST" class="o-form">
        {% csrf_token %}

        <legend class="o-form__legend">
          <p class="o-form__legend-txt">{% trans "Los campos obligatorios están marcados con un" %} <span class="o-form__sup">*</span></p>
        </legend>

        <div class="o-form__wrap">

          {% for field in form %}
            <div 
              class="
                o-form__set
                {% if field.name == 'names' or field.name == 'lastnames' or field.name == 'linkeding_image' %}
                u-hidden
                {% endif %}
                {% if not image_linkedin_none == "true" and field.name == "avatar_image" %}
                  u-hidden
                {% endif %}
                {% if field.name == 'description' or field.name == 'abilities' %}
                  o-form__set_full
                {% endif %}
                {% if field.errors %}
                 is-error
                {% endif %}
              "
            >

                {# Label if required #}
                <span class="o-form__label">
                  {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                  <div>
                    {{ field.help_text }}
                  </div>
                </span>
          
                {# campo: input, Textarea, if select, if select multiple #}
                <span class="o-form__field {% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                  
                  
                  {% if field.name == "names" %}

                    <input type="hidden" name="{{ field.name }}" value="{{ user_name }}">

                  {% elif field.name == "lastnames" %}

                    <input type="hidden" name="{{ field.name }}" value="{{ user_lastname }}">

                  {% elif field.name == "linkeding_image" %}

                    <input type="hidden" name="{{ field.name }}" value="{{ image_linkedin }}">

                  {% elif field.name == "avatar_image" %}

                    {% if image_linkedin_none == "true" %}
                      {{ field }}
                    {% else %}
                      <input type="hidden" name="{{ field.name }}" value="{{ image_linkedin }}">
                    {% endif %}

                  {% elif field.name == "number_phone" %}

                    <div class="o-form__indicator">

                      <div class="o-form__flag js-form-flag">

                        <span class="o-form__flag-static js-btn-dropdown i-after-chevron-right">
                          <img src="" alt="">
                          <span class="o-form__flag-number">00</span>
                        </span>

                      </div>

                      {{ field }}

                    </div>
                   {% else %}
                    {{ field }}
                  {% endif %}
                    

                </span>
          
                {# ERRORES #}
                <div class="is-error__message{% if not field.errors.data|length %} u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                  {{ field.errors }}
                </div>

            </div>
          {% endfor %}

        </div>

        <button class="o-btn o-form_btn" type="submit">{% trans "CONTINUAR" %}</button>
      </form>

    </div>
  </section>

  {{ dict_indicates|json_script:"indicativos" }}

{% endblock content %}

{% block scripts_block %}
  <script type="module" src="{% static 'js/components/custom_select.js' %}"></script>
{% endblock scripts_block %}

{% endspaceless %}