{% extends "base.html" %}

{% load i18n %}

{% spaceless %}

  {% block content %}

    <section class="o-section o-section_padding-120">
      <div class="o-canvas">

        {# Header steps of user register #}
        {% comment %} {% include 'pages/user/includes/header_steps.html' with number_current_step=2 text_current_action='Confirmar correo' only  %} {% endcomment %}

        <div class="o-layout-login">

          <form method="POST" class="o-form">
            {% csrf_token %}
  
            <legend class="o-form__legend">
              <h2 class="o-form__legend-title">{% trans 'Confirmar Correo Electronico' %}</h2>
              <p >{% trans "¡Confirma el correo y se parte de Altruism now Mentors ahora mismo!" %}</p>
            </legend>
      
            {% for field in form %}
              <div 
                class="o-form__set o-form__set_full {% if field.name == "confirm_email"  %} u-hidden{% endif %} {% if field.errors %} is-error{% endif %}"
              >
    
                  {# Label if required #}
                  <span class="o-form__label">
                    {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup"></sup>{% endif %}
                  </span>
            
                  {# campo: input, Textarea, if select, if select multiple #}
                  <span class="o-form__field {% if field.name == 'email' %} is-disabled{% endif %} {% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                    {% if field.name == "confirm_email" %}
                    <input hidden name="{{ field.name }}" value="1">
                    {% else %}
                      {{ field }}
                    {% endif %}
                  </span>
            
                  {# ERRORES #}
                  <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                    {{ field.errors }}
                  </div>
    
              </div>
            {% endfor %}
      
            <div class="o-form__action">
              <button class="o-btn o-form_btn" type="submit">{% trans "CONFIRMAR CORREO" %}</button>
            </div>
          </form>

        </div>



      </div>
    </section>
    
  {% endblock content %}

{% endspaceless %}