{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}

  {% block content %}

    <div class="{% if not user.user_rol == '1' %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile.html' %}

      <section class="o-section">
        <div class="o-canvas">

          <nav class="c-profile-tabs">

            <a
              href="{% url 'edit' user.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Información de la cuenta" %}
            </a>
          
            {% if data_emprendedor_id == 0 %}
              <a
                href="{% url 'edit_data_mentor' data_mentor_id.id %}"
                class="c-profile-tabs__item c-profile-tabs__item_active"
              >
                {% trans "Perfil como mentor" %}
              </a>
            {% else %}
              <a
                href="{% url 'edit_data_emprendedor' data_emprendedor_id.id %}"
                class="c-profile-tabs__item c-profile-tabs__item_active"
              >
                {% trans "Perfil como emprendedor" %}
              </a>
            {% endif %}

            <a
              href="{% url 'notifications' %}"
              class="c-profile-tabs__item"
            >
              {% trans "Notificaciones" %}
            </a>
    
          </nav>

          <form method="POST" class="o-form">
            {% csrf_token %}

            <legend class="o-form__legend">
              <p >{% trans "Los campos obligatorios están marcados con un" %} <span class="o-form__sup">*</span></p>
            </legend>
      
            <div class="o-form__wrap">
      
              {% for field in form %}
                <div 
                  class="o-form__set  {% if field.name == 'id_emprendedor' %} u-hidden {% endif %} {% if field.errors %} is-error{% endif %}"
                >
      
                    {# Label if required #}
                    <span class="o-form__label">
                      {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                    </span>
              
                    {# campo: input, Textarea, if select, if select multiple #}
                    <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                      
                      {% if field.name == "id_emprendedor" %}
                        <input type="hidden" value="{{ user.id }}" name="{{ field.name }}">                      
                      {% else %}
                        {{ field }}
                      {% endif %}
                        
                    </span>

                    {% if field.name == "dias_disponibilidad" %}
                    <p class="js-diasdispo u-hidden">{{ field.value }}</p>
                  {% elif field.name == "ubicacion_negocio" %}
                    <p class="js-ubicacionnego u-hidden">{{ field.value }}</p>
                  {% elif field.name == "ayudas_para_negocio" %}
                    <p class="js-ayudaspara_negocio u-hidden">{{ field.value }}</p>
                  {% endif %}
              
                    {# ERRORES #}
                    <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                      {{ field.errors }}
                    </div>
      
                </div>
              {% endfor %}
      
            </div>
      
            <div class="o-form__action u-text-left">
              <button
                class="o-btn o-form_btn {% if not user.user_rol == '1'%} o-btn_emprendedor {% endif %} u-rounder-50"
                type="submit"
              >
                {% trans "GUARDAR Y ACTUALIZAR LA INFORMACIÓN DE LA CUENTA" %}
              </button>
            </div>
          </form>

        </div>
      </section>
      
      {{ dict_indicates|json_script:"indicativos" }}

    <div>

  {% endblock content %}

  {% block scripts_block %}
    <script type="module" src="{% static 'js/components/custom_select.js' %}"></script>
  {% endblock scripts_block %}

{% endspaceless %}