{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <section class="o-section">
      <div class="o-canvas">
        <h2 class="o-headline o-headline__underline">{% trans "Información general" %}</h2>
        <div class="c-pv-profile">
          <figure class="c-pv-profile__figure o-avatar__figure">
            {% if image_linkedin  %}
              <img class="c-pv-profile__img" src="{{ image_linkedin }}" alt="">
            {% elif user.avatar_image != 'null' %}
              <img class="c-pv-profile__img o-avatar__img" src="{{ user.avatar_image.url }}" alt="Avatar {{ user.names }}">
            {% endif %}
          </figure>
          <div class="c-pv-profile__info">
            <div class="c-pv-profile__item">
              <h3 class="c-pv-profile__item-title">{% trans 'Correo electronico' %}</h3>
              <p class="c-pv-profile__item-txt">{{ user.email }}</p>
            </div>
            <div class="c-pv-profile__item">
              <h3 class="c-pv-profile__item-title">{% trans "Nombre completo" %}</h3>
              <p class="c-pv-profile__item-txt">{{ user.names }} {{ user.lastnames }}</p>
            </div>
            <div class="c-pv-profile__item">
              <h3 class="c-pv-profile__item-title">{% trans "Pais residencia" %}</h3>
              <p class="c-pv-profile__item-txt">{{ user.country }}</p>
              <a href="{% url 'edit' user.id %}" class="o-link o-link_transform">{% trans "Editar información personal" %}</a>
            </div>
          </div>

          {% if user.description != 'null' or not image_linkedin %}
            <div class="c-pv-profile__info">
              {% if user.description != 'null' %}
                <div class="c-pv-profile__item">
                  <h3 class="c-pv-profile__item-title">{% trans "Descripción" %}</h3>
                  <p class="c-pv-profile__item-txt">{{ user.description }}</p>
                </div>
              {% endif %}
              {% if not image_linkedin %}
                <div class="c-pv-profile__item">
                  <h3 class="c-pv-profile__item-title">{% trans "Contraseña" %}</h3>
                  <p class="c-pv-profile__item-txt">{% trans "Aqui puedes hacer la solicitud para cambiar tu contraseña" %}</p>
                  <a
                    class="o-link o-link_transform"
                    href="{% url 'password_reset' %}"
                    title="Ir a restablecer la contraseña"
                  >
                    {% trans "Establecer nueva contraseña" %}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}

          <div class="c-pv-profile__info">
            {% if user.facebook_url %}
              <div class="c-pv-profile__item">
                <h3 class="c-pv-profile__item-title">{% trans "Enlace a facebook" %}</h3>
                <a href="#" class="c-pv-profile__item-url">{{ user.facebook_url }}</a>
              </div>
            {% endif %}
            {% if user.twitter_url %}
            <div class="c-pv-profile__item">
              <h3 class="c-pv-profile__item-title">{% trans "Enlace a twitter" %}</h3>
              <a href="#" class="c-pv-profile__item-url">{{ user.twitter_url }}</a>
            </div>
            {% endif %}
            {% if user.linkedin_url %}
            <div class="c-pv-profile__item">
              <h3 class="c-pv-profile__item-title">{% trans "Enlace a Linkedin" %}</h3>
              <a href="#" class="c-pv-profile__item-url">{{ user.linkedin_url }}</a>
            </div>
            {% endif %}
          </div>

        </div>

      </div>
    </section>

    <section class="o-section">
      <div class="o-canvas">
        <h2 class="o-headline o-headline__underline">{% trans "Detalle de citas" %}</h2>

        <div class="o-grid">
        
          {% for appointment in list_current_user_appointments %}
          
            <article class="o-grid__item c-card-profile">
              <div class="c-card-top">
                <p class="c-card-top__number">
                  # {{ appointment.id }}
                </p>

                <div class="c-card-top__date"> 
                  <h3>{% trans "Fecha de la cita" %}</h3>
                  <p>{{ appointment.start_date }}</p>
                  <div
                    class="o-tag o-tag_yellow
                      {% if appointment.state == 'aceptada' %} o-tag_blue{% endif %}
                      {% if appointment.state == 'cumplida' %} o-tag_green{% endif %}
                      {% if appointment.state == 'cancelada' %} o-tag_red{% endif %}
                    "
                  >
                    {{ appointment.state }}
                  </div>
                </div>
              </div>

              <div class="c-card-center">
                <div class="c-card-center__info">

                  <div class="c-card-center__person">
                    <div>
                      <h3>{% trans "Mentor a cargo" %}</h3>
                      <p>{{ appointment.mentor }}</p>
                    </div>
                    <div>
                      <h3>{% trans "Emprendedor" %}</h3>
                      <p>{{ appointment.emprendedor }}</p>
                    </div>
                  </div>

                  <div class="c-card-center__description">
                    <h3>{% trans "Descripción" %}</h3>
                    <p>{{ appointment.description }}</p>
                  </div>
                  
                  {% if appointment.description_cancel %}
                    
                    <div class="c-card-center__description">
                      <h3>{% trans "Motivo de cancelación" %}</h3>
                      <p>{{ appointment.description_cancel }}</p>
                    </div>

                  {% endif %}
                    
                </div>
              </div>

              {% if not appointment.description_cancel %}
                <div class="c-card-cta">
                  
                  {% if user.user_rol == '1' %}
                    <a
                      class="
                        o-link o-link_transform
                        {% if appointment.state == 'aceptada' or appointment.state == 'espera' %}is-enabled {% else %} is-disabled{% endif %}
                      "
                      href="{% url 'index_vacio' %}"
                    >
                      {% trans "Cambiar estado" %}
                    </a>
                  {% endif %}

                  <a
                    class="
                      o-link o-link_transform
                      {% if not appointment.state == 'aceptada' %}is-disabled{% endif %}
                    "
                    href="{{ appointment.slug }}"
                    title="Ir a la reunion"
                    target="_blank"
                  >
                    {% trans "Entrar a la llamada" %}
                  </a>
                    
                  <a
                    class="
                      o-link o-link_transform
                      {% if not appointment.state == 'aceptada' %}is-disabled{% endif %}
                      u-box-center
                    "
                    href="#"
                  >
                    {% trans "Reportar un problema" %}
                  </a>

                </div>
              {% endif %}

            </article>

          {% endfor %}
            
        </div>
      </div>
    </section>

    <style>
      #player {
        width: 100%;
        max-width: 940px;
      }
    </style>

    <div class="c-modal c-modal_black  js-target-modal_visible is-modal_visible">
      <div class="c-modal__box c-modal__box_0">
    
          <div class="c-modal__content c-modal__content_p0">
            <div class="o-canvas">
              
              <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
              <div class="c-video">

                <div id="player"></div>

                <figure class="c-video__cover js-cover-video">
                  <img class="c-video__img" src="https://mentorlive-storage.s3.amazonaws.com/media/brand_settings/Logo_Mentors_con_espacio_Mesa_de_trabajo_1.png">

                  <figcaption>
                    <button class="o-btn js-return-video">{% trans "Reproducir video" %}</button>
                  </figcpation>
                </figure>


              </div>


              <div class="c-form-validation">

                <header id="header_question">
                  <h2 class="c-form-validation__title o-headline o-headline_center">{% trans "Preguntas de Admisión" %}</h2>
                  <p class="c-form-validation__text o-text">{% trans "A continuación responda las preguntas correctamente para continuar en Altruism Now Mentors" %}.</p>
                </header>

                <div class="swiper mySwiper">

                  <form id="questions_validation" class="swiper-wrapper" method="POST">

                    <div class="swiper-slide">

                      <p>{% trans "¿Cuáles consideras que son los objetivos que persigue una empresa social?" %}</p>
                  
                      <footer class="list-label">
                        <label for="q1_a">
                          <input id="q1_a" type="radio" name="q_1" value="a">
                          <span>a) {% trans "Crecer en rentabilidad de acuerdo a seguir los mecanismos de mercado" %} </span>
                        </label>
                    
                        <label for="q1_b">
                          <input id="q1_b" type="radio" name="q_1" value="b">
                          <span>b) {% trans "Ofrecer un bien o un servicio que cubre sus costos y genera un excedente" %} </span>
                        </label>
                    
                        <label for="q1_c">
                          <input id="q1_c" type="radio" name="q_1" value="c">
                          <span>c) {% trans "Brindar mayores beneficios a un sector de la sociedad actualmente excluido" %} </span>
                        </label>
                      </footer>
                      
                      
                    </div>

                    <div class="swiper-slide">

                      <p>{% trans "¿De qué manera un negocio social puede generar mayores beneficios sociales?" %}</p>
                  
                      <footer class="list-label">
                        <label>
                          <input type="radio" name="q_2" value="a">
                          <span>a) {% trans "Recurriendo a subsidios y donaciones" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_2" value="b">
                          <span>b) {% trans "Por medio de un proceso productivo genera empleo o mejora de ingresos a sectores en situación vulnerable, logrando que mejore la calidad de vida de los mismos" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_2" value="c">
                          <span>c) {% trans "Aplicando rigurosas técnicas de mercado que le permitan consolidarse como empresa y así donar a otras causas" %} </span>
                        </label>
                      </footer>

                  
                    </div>

                    <div class="swiper-slide">

                      <p>{% trans "¿Por qué consideran a las empresas sociales, una nueva forma de hacer negocios?" %}</p>
                  
                      <footer class="list-label">
                        <label>
                          <input type="radio" name="q_3" value="a">
                          <span>a) {% trans "Porque la misión es su objetivo y generar excedentes un medio para conseguirlo." %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_3" value="b">
                          <span>b) {% trans "Porque su objetivo es generar excedentes para subsistir" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_3" value="c">
                          <span>c) {% trans " Porque su objetivo es generar empleo y mejorar la calidad de vida de los ejecutores del proyecto" %} </span>
                        </label>
                      </footer>
                  
                    </div>

                    <div class="swiper-slide">

                      <p>{% trans "¿Por qué es importante el desarrollo de habilidades duras y blandas para lograr una empresa social exitosa?" %}</p>
                  
                      <footer class="list-label">
                        <label>
                          <input type="radio" name="q_4" value="a">
                          <span>a) {% trans "Porque las dimensiones de las problemáticas sociales requieren una mirada integral del fenómeno" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_4" value="b">
                          <span>b) {% trans "Porque la información del campo de los negocios se actualiza constantemente" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_4" value="c">
                          <span>c) {% trans "Porque son requisitos indispensables para solicitar subsidios o programas" %} </span>
                        </label>
                      </footer>
                  
                    </div>

                    <div class="swiper-slide">

                      <p>{% trans "¿Por qué consideras que cada vez hay más negocios sociales?" %}</p>
                  
                      <footer class="list-label">
                        <label>
                          <input type="radio" name="q_5" value="a">
                          <span>a) {% trans "Porque es necesario y urgente que las organizaciones dejen de depender de donaciones y lograr independencia" %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_5" value="b">
                          <span>b) {% trans "Porque los excedentes son mayores y están exentos de gran parte de los impuestos." %} </span>
                        </label>
                    
                        <label>
                          <input type="radio" name="q_5" value="c">
                          <span>c) {% trans "Porque solo debajo de una personería jurídica de empresa social se pueden acceder a subsidios y programas" %} </span>
                        </label>
                      </footer>
                  
                    </div>

                    <div class="swiper-slide not-border is-finally">

                        <h2 class="c-form-validation__title o-headline o-headline_center o-msj-question__title js-title-question">Algo no salió bien!</h2>
                        <span class="c-form-validation__text o-text o-msj-question__text js-message-question">Para continuar debes completar todas las preguntas correctamente, vuelve a intentarlo</span>

                        <header id="form-validate-session" style="display:none">

                          {# Formulario que valida la sesión por primera vez del emprendedor #}
                          <form method="POST">
            
                            {% csrf_token %}
                            
                            {% for field in form %}
                              <input type="hidden" value="1" name="{{ field.name }}" id="{{ field.name }}">
                            {% endfor %}
            
                            <button class="o-btn o-btn_center u-rounder-50" type="submit">{% trans "Continuar a mi perfil" %}</button>

            
                          </form>
          
                        </header>
                        <a
                          id="boton-volver-intentarlo"
                          class="o-btn o-btn_center u-rounder-50"
                          href="?return=1"
                        >
                          {% trans "Volver a intentarlo" %}
                        </a>
                  
                    </div>

                  </form>

                  <button type="button" class="o-btn btn_siguiente js-btn-next is-disabled u-rounder-50">{% trans "Siguiente" %}</button>

                </div>

              </div>

            </div>
          </div>
    
      </div>
    </div>

  {% endblock content %}

  {% block scripts_block %}
      {{ super }}
      <script src="{% static 'js/components/youtube_video.js' %}"></script>
  {% endblock scripts_block %}
  
{% endspaceless %}