{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}

  {% block content %}

    <section class="o-section o-section_padding-120">
      <div class="o-canvas">

        <header class="o-steps u-text-center">
          <h1 class="o-steps__title">{% trans "Iniciar Sesión" %}</h1>
        </header>

        <nav class="c-tabs">
          <button
            class="c-tabs__item c-tabs__item_flex"
            href=""
            onclick="openCity(event, 'mentor')"
          >
            {% trans "INICIAR COMO MENTOR" %}
          </button>
          <button
            class="c-tabs__item c-tabs__item_active c-tabs__item_flex is-tab-active"
            href=""
            onclick="openCity(event, 'emprendedor')"
          >
            {% trans "INICIAR COMO EMPRENDEDOR" %}
          </button>
        </nav>

        <div class="c-tabs__content">

          <div id="emprendedor" class="js-content">

            <form method="POST" class="o-form o-form_center o-form_register">
              {% csrf_token %}

              <div class="c-tabs__subcontent">

                <legend class="o-form__legend">
                  <h2 class="o-form__legend-title">{% trans "Iniciar sesión con tu correo electrónico" %}...</h2>
                </legend>
      
                <div 
                  class="o-form__set o-form__set_full"
                >
      
                    {# Label if required #}
                    <span class="o-form__label">
                      <label for="email">{% trans "Correo electronico" %}</label>
                      <sup class="o-form__sup">*</sup>
                    </span>
              
                    {# campo: input #}
                    <span class="o-form__field">
                      <input
                        id="email"
                        name="email"
                        type="text"
                        placeholder="ej correo@gmail.com *"
                      >
                    </span>
      
                </div>
          
                <div 
                  class="o-form__set o-form__set_full"
                >
      
                    {# Label if required #}
                    <span class="o-form__label">
                      <label for="password">{% trans "Contraseña" %}</label>
                      <sup class="o-form__sup">*</sup>
                    </span>
              
                    {# campo: input #}
                    <span class="o-form__field">
                      <input
                        id="password"
                        name="password"
                        type="password"
                        placeholder="****"
                      >
                    </span>
      
                </div>
          
                <div class="o-form__action o-form__action_login">
                  <button class="o-btn o-form_btn" type="submit">{% trans "INICIAR SESIÓN" %}</button>
                  <a
                    class=""
                    href="{% url 'password_reset' %}"
                    title="Ir a restablecer contraseña"
                  >
                    {% trans "¿Olvidaste tu contraseña? "%}
                  </a>
                </div>

              </div>


            </form>

          </div>

          <div id="mentor" style="display: none;" class="js-content">

            <div class="o-form o-form_register">

              <div class="c-tabs__subcontent">

                <div class="o-connect o-connect_size">
                  <h4 class="o-connect__title">{% trans "Inicia sesión con tu cuenta de Linkedin" %}...</h4>
                  <a
                    class="o-connect__btn i-linkedin"
                    href="{% url 'social:begin' 'linkedin-oauth2' %}"
                    title="{% trans 'Conectarme como mentor por medio de Linkedin' %}"
                  >
                    LINKEDIN
                  </a>
                </div>

              </div>

            </div>

          </div>

        </div>

          {% comment %} <header class="u-margin-top-mb-80">
            <h2 class="o-form__legend-title">{% trans "¿Aún no tienes cuenta con nosotros?" %}</h2>
            <p class="u-margin-bottom-16">{% trans "Te invitamos a diligenciar el siguiente formulario de registro." %}</p>
            <a href="{% url 'register' %}" class="o-btn">{% trans "Registrarme" %}</a>
          </header> {% endcomment %}
      </div>
    </section>
    
  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    <script src="{% static 'js/components/modal.js' %}"></script>
    <script src="{% static 'js/components/tabs.js' %}"></script>
  {% endblock scripts_block %}

{% endspaceless %}