{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <div class="{% if not user.user_rol == '1' %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile.html' %}

      <div class="o-canvas">

        <nav class="c-profile-tabs">

          <a
            href="{% url 'edit' user.id %}"
            class="c-profile-tabs__item"
          >
            {% trans "Información de la cuenta" %}
          </a>
        
          {% if user.user_rol == "1" %}
            <a
              href="{% url 'edit_data_mentor' data_mentor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como mentor" %}
            </a>
          {% else %}
            <a
              href="{% url 'edit_data_emprendedor' data_emprendedor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como emprendedor" %}
            </a>
          {% endif %}

          <a
            href="{% url 'notifications' %}"
            class="c-profile-tabs__item c-profile-tabs__item_active"
          >
            {% trans "Notificaciones" %}
          </a>

        </nav>

        <div class="c-tabs-notify">
          {% if not user.user_rol == "1" %}
          <button
            class="c-tabs-notify__btn active js-tab-btn"
            data-tab-button="sugerencias"
          >
            {% trans "Sugerencias pendientes" %}
            <span class="c-tabs-botify__bubble">{{ count_solicitudes_pendientes }}</span>
          </button>
          {% endif %}

          <button
            class="c-tabs-notify__btn js-tab-btn"
            data-tab-button="espera"
          >
            {% trans "Solicitudes Pendientes" %}
            <span class="c-tabs-botify__bubble">{{ count_pendientes }}</span>
          </button>

          <button
            class="c-tabs-notify__btn js-tab-btn"
            data-tab-button="aceptada"
          >
            {% trans "Solicitudes Aceptadas" %}
            <span class="c-tabs-botify__bubble">{{ count_aceptadas }}</span>
          </button>

          <button
            class="c-tabs-notify__btn js-tab-btn"
            data-tab-button="rechazada"
          >
            {% trans "Solicitudes Rechazadas" %}
            <span class="c-tabs-botify__bubble">{{ count_rechazadas }}</span>
          </button>
        </div>

        <div class="c-tabs-notify__content">

          <div class="js-tab-content" data-tab-content="sugerencias">
            {% for card in sugerencias_mentorias %}      
              {% if card.state == "espera" %}    
                {% include 'pages/user/includes/card_suggestion.html' %}
              {% endif %}
            {% empty %}
              <p class="c-tabs__notify-msg">{% trans "Aún no tienes sugerencias" %} {% trans "pendientes" %}</p>
            {% endfor %}
          </div>

          <div class="u-hidden js-tab-content" data-tab-content="espera">
            {% for card in list_notificaciones %}          
              {% include 'pages/user/includes/card_notify.html' %}
            {% empty %}
              <p class="c-tabs__notify-msg">{% trans "Aún no tienes solicitudes" %} {% trans "pendientes" %}</p>
            {% endfor %}
          </div>

          <div class="u-hidden js-tab-content" data-tab-content="aceptada">
            {% for card in list_notificaciones_aceptada %}          
              {% include 'pages/user/includes/card_notify.html' %}
            {% empty %}
              <p class="c-tabs__notify-msg">{% trans "Aún no tienes solicitudes" %} {% trans "aceptadas" %}</p>
            {% endfor %}
          </div>            

          <div class="u-hidden js-tab-content" data-tab-content="rechazada">
            {% for card in list_notificaciones_cancelada %}          
              {% include 'pages/user/includes/card_notify.html' %}
            {% empty %}
              <p class="c-tabs__notify-msg">{% trans "Aún no tienes solicitudes" %} {% trans "rechazadas" %}</p>
            {% endfor %}
          </div>

        </div>
 
      </div>

    </div>

    {% comment %} MODAL EDITAR {% endcomment %}
    <div
      role="dialog"
      class="c-modal js-target-modal"
    >

      <div class="c-modal__box">
    
        <div class="c-modal__content c-modal__content_500">

          <div class="o-canvas">

            <div class="u-text-center o-message o-message_success">
              <p>{% trans "Recuerda que:" %}</p>
              <p>{% trans "Debes confirmar 24 horas antes tu Mentoría, de lo contrario sera cancelada" %}</p>
            </div>

          </div>
          
          <div class="o-canvas" id="edicion"></div>

          <div class="u-text-center o-message">
            <p class="o-alert-warn js-error-message u-hidden"></p>
          </div>
          
          <button class="c-modal__close i-close js-btn-modal-close">
            <span class="u-hidden">{% trans "cerrar" %}</span>
          </button>
        </div>

    
      </div>
  
    </div>

    <div
      role="dialog"
      class="c-modal js-target-modal"
    >

      <div class="c-modal__box">
    
        <div class="c-modal__content c-modal__content_500">

          <div class="o-canvas">

            <div class="u-text-center o-message">
              <p class="text-suggestion">{% trans "Confirmar Sugerencia:" %}</p>
            </div>

          </div>
          
          <div class="o-canvas" id="edicion_suggestion"></div>

          <div class="u-text-center o-message">
            <p class="o-alert-warn js-error-message u-hidden"></p>
          </div>
          
          <button class="c-modal__close i-close js-btn-modal-close">
            <span class="u-hidden">{% trans "cerrar" %}</span>
          </button>
        </div>

    
      </div>
  
    </div>

    <div
      role="dialog"
      class="c-modal js-target-modal"
    >

      <div class="c-modal__box">
    
        <div class="c-modal__content c-modal__content_500">

          <div class="o-canvas">

            <div class="u-text-center o-message">
              <p class="text-suggestion">{% trans "Descartar Sugerencia:" %}</p>
            </div>

          </div>
          
          <div class="o-canvas" id="edicion_suggestion_cancel"></div>

          <div class="u-text-center o-message">
            <p class="o-alert-warn js-error-message u-hidden"></p>
          </div>
          
          <button class="c-modal__close i-close js-btn-modal-close">
            <span class="u-hidden">{% trans "cerrar" %}</span>
          </button>
        </div>

    
      </div>
  
    </div>

    {% comment %} MODAL RATING {% endcomment %}
    <div
      role="dialog"
      class="c-modal js-target-modal"
    >
  
      <div class="c-modal__box">
    
        <div class="c-modal__content">
    
          <div class="o-canvas">
    
            <div class="u-text-center u-box-center o-message">
              <p class="o-message__title">
                {% trans "Califica la experiencia con " %}
                <span class="js-user-rating-name-title"></span>
              </p>
            </div>
    
            <div class="c-avatar-rating">
              <div class="js-user-rating"></div>

              <header class="c-avatar-rating__header">
                <h4 class="js-user-rating-name"></h4>

                <div class="o-tooltip">
                  <p class="o-tooltip__text i-information">
                    {% trans "Se mostrará públicamente" %}
                  </p>

                  <div class="o-tooltip__box">
                    {% trans "El contenido que compartas se mostrará públicamente con tu nombre de perfil y foto. Aparecerá en los perfiles públicos y secciones correspondientes" %}
                  </div>
                </div>
              </header>
            </div>
    
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5"><!--
              --><label class="i-star" for="radio1"></label><!--
              --><input id="radio2" type="radio" name="estrellas" value="4"><!--
              --><label class="i-star" for="radio2"></label><!--
              --><input id="radio3" type="radio" name="estrellas" value="3"><!--
              --><label class="i-star" for="radio3"></label><!--
              --><input id="radio4" type="radio" name="estrellas" value="2"><!--
              --><label class="i-star" for="radio4"></label><!--
              --><input id="radio5" type="radio" name="estrellas" value="1"><!--
              --><label class="i-star" for="radio5"></label>
            </p>
          </div>
          
          <div class="o-canvas" id="rating"></div>
    
          <div class="u-text-center o-message u-box-center u-margin-top-24">
            <p class="o-alert-warn js-error-message u-hidden"></p>
          </div>
          
          <button class="c-modal__close i-close js-btn-modal-close">
            <span class="u-hidden">{% trans "cerrar" %}</span>
          </button>
        </div>
    
    
      </div>
  
    </div>

    
  {% endblock content %}
  
{% endspaceless %}

{% block scripts_block %}
  {{ super }}
  <script src="{% static 'js/components/tabs.js' %}"></script>
  <script src="{% static 'js/ajax.js' %}"></script>
{% endblock scripts_block %}