{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <div class="{% if is_emprendedor %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile_create_cita.html' %}

      <div class="o-section">
        <div class="o-canvas">

          <div class="c-profile-content">

            <h3 class="c-profile-content__title">
              {% trans "Como mentor puedo ayudarte en:" %}
            </h3>

            <div class="c-profile-content__border">
              <h4 class="c-profile-content__subtitle">{% trans "Mi Experiencia profesional" %}</h4>
              <p class="c-profile-content__text">{{ data_mentor_id.descripcion_experiencia_laboral }}</p>
            </div>

            <div class="c-profile-content__border">
              <h4 class="c-profile-content__subtitle">{% trans "¿Cómo puedo ayudarte?" %}</h4>
              <p class="c-profile-content__text">{{ data_mentor_id.como_ayudar_emprendedores }}</p>
            </div>

            <div class="c-profile-content__border">
              <h4 class="c-profile-content__subtitle">{% trans "¿Cómo prepararte antes de una mentoría?" %}</h4>
              <p class="c-profile-content__text">{{ data_mentor_id.descripcion_preparacion_emprendedor }}</p>
            </div>
              
          </div>
          
        </div>
      </div>

      {% include 'includes/modal.html' %}

    </div>

  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    <script src="{% static 'js/components/modal.js' %}"></script>
  {% endblock scripts_block %}
  
{% endspaceless %}