{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <div class="{% if not user.user_rol == '1' %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile.html' %}

      <div class="o-canvas">

        <nav class="c-profile-tabs">

          <a
            href="{% url 'edit' user.id %}"
            class="c-profile-tabs__item c-profile-tabs__item_active"
          >
            {% trans "Información de la cuenta" %}
          </a>
        
          {% if user.user_rol == "1" %}
            <a
              href="{% url 'edit_data_mentor' data_mentor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como mentor" %}
            </a>
          {% else %}
            <a
              href="{% url 'edit_data_emprendedor' data_emprendedor_id.id %}"
              class="c-profile-tabs__item"
            >
              {% trans "Perfil como emprendedor" %}
            </a>
          {% endif %}

          <a
            href="{% url 'notifications' %}"
            class="c-profile-tabs__item"
          >
            {% trans "Notificaciones" %}
          </a>

        </nav>

        <form enctype="multipart/form-data" method="POST" class="o-form">
          {% csrf_token %}

          <fieldset class="o-form__fieldset" disabled>
            
            <div class="o-form__wrap">

              {% for field in form %}
                <div 
                  class="o-form__set {% if field.name == 'description' or field.name == 'abilities' %}o-form__set_full{% endif %}{% if field.errors %} is-error{% endif %}"
                >

                    {# Label if required #}
                    <span class="o-form__label">
                      {{ field.label_tag }}
                      <div>
                        {{ field.help_text }}
                      </div>
                    </span>
              
                    {# campo: input, Textarea, if select, if select multiple #}
                    <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                      
                      {% if field.name == "names" %}
                        <input type="text" value="{{ user.names }}">
                      {% elif field.name == "lastnames" %}
                        <input type="text" value="{{ user.lastnames }}">
                      {% elif field.name == "email" %}
                        <input type="text" value="{{ user.email }}">
                      {% elif field.name == "avatar_image" %}
                        <img src="{{ user.avatar_image.url }}" alt="">
                      {% elif field.name == "prefered_language" %}
                        <input type="text" value="{{ user.prefered_language }}">
                      {% elif field.name == "speak_language" %}
                        <input type="text" value="{{ user.speak_language }}">
                      {% elif field.name == "country" %}
                        <input type="text" value="{{ user.country }}">
                      {% elif field.name == "department" %}
                        <input type="text" value="{{ user.department }}">
                      {% elif field.name == "city" %}
                        <input type="text" value="{{ user.city }}">
                      {% elif field.name == "number_phone" %}
                        <input type="text" value="{{ user.number_phone }}">
                      {% elif field.name == "birt_year" %}
                        <input type="text" value="{{ user.birt_year }}">
                      {% elif field.name == "gender" %}
                        <input type="text" value="{{ user.gender }}">
                      {% elif field.name == "facebook_url" %}
                        <input type="text" value="{{ user.facebook_url }}">
                      {% elif field.name == "linkedin_url" %}
                        <input type="text" value="{{ user.linkedin_url }}">
                      {% else %}
                        {{ field }}
                      {% endif %}
                        
                    </span>
              
                    {# ERRORES #}
                    <div class="is-error__message{% if not field.errors.data|length %} u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                      {{ field.errors }}
                    </div>

                </div>
              {% endfor %}

            </div>

          </fieldset>

          <div class="o-form__action u-text-left">
            <a
              class="o-btn o-form_btn {% if not user.user_rol == '1'%} o-btn_emprendedor {% endif %} u-rounder-50"
              href="{% url 'edit' user.id %}"
            >
              {% trans "EDITAR INFORMACIÓN DE LA CUENTA" %}
            </a>

            <a
              class="o-link o-link_transform o-form__action-link"
              href="{% url 'password_reset' %}"
              title="Ir a restablecer la contraseña"
            >
              {% trans "Establecer nueva contraseña" %}
            </a>
          </div>

        </form>

      </div>

    </div>

  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    {% endblock scripts_block %}
{% endspaceless %}
