{% extends "base.html" %}

{% load static i18n %}

{% spaceless %}

  {% block content %}

    <div class="{% if not user_public.user_rol == '1' %}is-emprendedor{% endif %}">

      {% include 'includes/header_profile_public.html' %}

      <div class="o-section" style="min-height: 1000px">
        <div class="o-canvas">

          <div class="c-profile-content">

            {% if user_public.user_rol == '1' %}
              
                <h3 class="c-profile-content__title">
                  {% trans "Como mentor puedo ayudarte en:" %}
                </h3>

                <div class="c-profile-content__border">
                  <h4 class="c-profile-content__subtitle">{% trans "Mi Experiencia profesional" %}</h4>
                  <p class="c-profile-content__text">{{ data_mentor.descripcion_experiencia_laboral }}</p>
                </div>

                <div class="c-profile-content__border">
                  <h4 class="c-profile-content__subtitle">{% trans "¿Cómo puedo ayudarte?" %}</h4>
                  <p class="c-profile-content__text">{{ data_mentor.como_ayudar_emprendedores }}</p>
                </div>

                <div class="c-profile-content__border">
                  <h4 class="c-profile-content__subtitle">{% trans "¿Cómo prepararte antes de una mentoría?" %}</h4>
                  <p class="c-profile-content__text">{{ data_mentor.descripcion_preparacion_emprendedor }}</p>
                </div>
              
            {% else %}
              
                <h3 class="c-profile-content__title">
                  {% trans "Estoy buscando ayuda en:" %}
                </h3>

                <div class="c-profile-content__border">
                  <h4 class="c-profile-content__subtitle">{% trans "Mi Experiencia como emprendedor" %}</h4>

                  <ul>
                    <li>
                      <h5>{% trans "Mis retos actuales" %}</h5>
                      <p>{{ data_emprendedor.retos_comom_emprendedor }}</p>
                    </li>

                    <li>
                      <h5>{% trans "Acciones que ya he realizado" %}</h5>
                      <p>{{ data_emprendedor.objetivos_retos_cumplidos }}</p>
                    </li>

                    <li>
                      <h5>{% trans "Mis metas futuras" %}</h5>
                      <p>{{ data_emprendedor.metas_futuras }}</p>
                    </li>

                    <li>
                      <h5>{% trans "Mis razones para trabajar con un mentor" %}</h5>
                      <p>{{ data_emprendedor.porque_con_mentor }}</p>
                    </li>
                  </ul>

                </div>

                <div class="c-profile-content__border">
                  <h4 class="c-profile-content__subtitle">{% trans "Acerca de mi negocio" %}</h4>

                  <div class="c-profile-content__info">
                    <p>
                      <strong class="c-profile-content__bold">{% trans "Nombre:" %}</strong>
                      <span>{{ data_emprendedor.nombre_negocio }}</span>
                    </p>
                    <p>
                      <strong class="c-profile-content__bold">{% trans "Inicio:" %}</strong>
                      <span>{{ data_emprendedor.fecha_lanzamiento|date:"Y" }}</span>
                    </p>

                    <p class="c-profile-content__description">
                      {{ data_emprendedor.descripcion_negocio }}
                    </p>

                    <p>
                      <strong class="c-profile-content__bold">{% trans "Países donde opera mi negocio:" %}</strong>
                      {% for list_days_emprendedor in list_days_emprendedor %}
                        <span class="c-profile-content__coma">{{ list_days_emprendedor }}</span>
                      {% endfor %}
                    </p>
                  </div>
                </div>

            {% endif %}

          </div>
          
        </div>
      </div>

    </div>
  
    
    {% comment %} <a href="?test=1">PRUEBA CALENDAR API GOOGLE</a> {% endcomment %}
  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    <script src="{% static 'js/components/modal.js' %}"></script>
  {% endblock scripts_block %}
  
{% endspaceless %}