{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}

  {% block content %}

    <section class="o-section o-section_padding-120">
      <div class="o-canvas">

        {# Header steps of user register #}
        {% include 'pages/user/includes/header_steps.html' with number_current_step=1 text_current_action='Crear una cuenta' only  %}

        <nav class="c-tabs">
          <button
            class="c-tabs__item c-tabs__item_flex"
            href=""
            onclick="openCity(event, 'mentor')"
          >
            {% trans "REGISTRO COMO MENTOR" %}
          </button>
          <button
            class="c-tabs__item c-tabs__item_flex c-tabs__item_active is-tab-active"
            href=""
            onclick="openCity(event, 'emprendedor')"
          >
            {% trans "REGISTRO COMO EMPRENDEDOR" %}
        </button>
        </nav>

        <div class="c-tabs__content">

          <div id="emprendedor" class="js-content">
            <form  enctype="multipart/form-data" method="POST" class="o-form o-form_register">
              {% csrf_token %}
    
              <h2 class="o-form__content-title">{% trans "¿Buscas un mentor? regístrate gratis y cumple el sueño de llevar tu empresa a un siguiente nivel" %}.</h2>

              <div class="c-tabs__subcontent">

                <legend class="o-form__legend">
                  <h2 class="o-form__legend-title">{% trans "Crea una cuenta con tu correo electrónico..." %}</h2>
                  <p class="o-form__legend-txt o-form__legend-txt-content">{% trans "Los campos obligatorios están marcados con un" %} <span class="o-form__sup">*</span></p>
                </legend>
        
                <div class="o-form__wrap">
          
                  {% for field in form %}
                    <div 
                      class="o-form__set {% if field.errors %} is-error{% endif %}"
                    >
          
                        {# Label if required #}
                        <span class="o-form__label">
                          {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                        </span>
                  
                        {# campo: input, Textarea, if select, if select multiple #}
                        <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                          {{ field }}
                        </span>
                  
                        {# ERRORES #}
                        <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                          {{ field.errors }}
                        </div>
          
                    </div>
                  {% endfor %}
          
                </div>
          
                <div style="display: flex; flex-wrap: wrap; row-gap: 8px; justify-content: space-between; align-items: center;">
                  <p style="margin-top: 0" class="o-form__legend-txt-content">{% trans "La contraseña debe tener un mínimo de 8 caracteres." %}.</p>
                  <button class="o-btn o-form_btn" type="submit">{% trans "CONTINUAR" %}</button>
                </div>

              </div>

            </form>
          </div>

          <div id="mentor" style="display: none;" class="js-content">

            <div class="o-form o-form_register">

              <h2 class="o-form__content-title">{% trans "¿Quieres ofrecer mentorías? registrate aquí y ayuda a los emprendedores a llevar su empresa a un siguiente nivel." %}.</h2>

                
              <div class="c-tabs__subcontent">
                <div class="o-connect">
                  <h4 class="o-connect__title">{% trans "Crea una cuenta con Linkedin" %}...</h4>
                  <a
                    class="o-connect__btn i-linkedin"
                    href="{% url 'social:begin' 'linkedin-oauth2' %}"
                    title="{% trans 'Conectarme como mentor por medio de Linkedin' %}"
                  >
                    LINKEDIN
                  </a>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>
    
    {% include 'includes/modal_register.html' %}
  {% endblock content %}

  {% block scripts_block %}
    {{ super }}
    <script src="{% static 'js/components/modal.js' %}"></script>
    <script src="{% static 'js/components/tabs.js' %}"></script>
  {% endblock scripts_block %}

{% endspaceless %}