@mixin winks-circle($circule-color) {
  //- Dibuja 2 circulos
  background: radial-gradient(closest-side, $circule-color 0, $circule-color 90%, $c-neutro 100%), radial-gradient(closest-side, $circule-color 0, $circule-color 90%, $c-neutro 100% ), $c-neutro;
  background-repeat: no-repeat;
  background-position: center top, center 18px;
  -webkit-background-size: 12px 12px;
  background-size: 12px 12px;
}
