{% load i18n %}

{% if user.user_rol == '1' %}
      
  {% if user.professional_experience == 'null' %}
    
    <div class="c-modal js-target-modal is-modal_visible">

      <div class="c-modal__box">
        <div class="o-canvas">
    
          <div class="c-modal__content">
            <div class="o-canvas">
    
              <h2 class="c-modal__title">{% trans "¡Bienvenido (a)!" %}</h2>
              <p class="c-modal__text o-text">{% trans "Por favor ayudanos completando tus datos de perfil para tener una mejor experiencia en el sitio." %}</p>
    
              <a
                href="{% url 'edit_mentor' user.id %}"
                class="o-btn js-btn-modal-close"
              >
                {% trans "Continuar" %}
              </a>
              
            </div>
          </div>
    
        </div>
      </div>
    
    </div>

  {% endif %}
  
{% endif %}