{% extends 'base.html' %}

{% load i18n %}

{% block title_breadcrumb %}
  <h1 class="c-breadcrumb__title"> {% trans "Detalle articulo "%} </h1>
{% endblock title_breadcrumb %}

{% block items_breadcrumb %}
  <a
    class="c-breadcrumb__link i-after-chevron-right"
    href="{% url 'blog' %}"
    title="Ir al Blog"
  >
    Blog
  </a>

  {% for category in article.categorys.all %}
    <a
      class="c-breadcrumb__link i-after-chevron-right"
      href="{% url 'category' category.id %}"
      title="Ir al Blog"
    >
      {{ category.name }}
    </a>
  {% endfor %}

  <span class="c-breadcrumb__page">{{ article.title }}</span>
{% endblock items_breadcrumb %}

{% block content %}

  <div class="o-canvas o-layout o-layout_aside ">

    <main class="o-layout__main">
      <div>

        {% if article.image %}
          <figure class="c-article__figure c-article__figure_size">
            <img 
              class="c-article__img" 
              src="{{ article.image.url }}" 
              alt="">
          </figure>

        {% endif %}

        <div class="c-article__content">
          <div class="c-article__info">
            <p class="c-article__info-date">{% trans "Fecha publicación" %}: 
              <span class="c-article__info-date_red">{{ article.created_at|date:"D d M Y"  }}</span>
            </p>
            <span class="c-article__info_line">|</span>
            <p class="c-article__info-category">{% trans "categoría" %}:
              {% for category in article.categorys.all %}
                <span class="c-article__info-category_red">{{ category }}</span>
              {% endfor %} 
            </p>
          </div>
          <h1 class="title"> {{ article.title }} </h1>
          <p>{{ article.content|safe }}</p>
        </div>

      </div>
      
    </main>

    <aside class="c-aside">
        
      <div>
        <h3 class="c-aside__title">{% trans "CATEGORIAS CON ARTICULOS RELACIONADOS" %}</h3>

        {% for category in articles_for_category  %}
          <a class="c-aside__category" 
            href="{{ category.slug }}"> 
            
              {{ category.category }}
              <span class="c-aside__num">
                {{ category.count }}
              </span>

          </a>
        {% endfor %}
      </div>
    
      <div>

        <h3 class="c-aside__title">{% trans "ARTICULOS RELACIONADOS" %}</h3>

        {% for articles in related_articles %}
          <article class="c-aside__article">
      
            <a 
              class="c-article__url" 
              href="{% url 'article' articles.id %}">
            
              {% if articles.image != 'null' %}
                <figure class="c-article__figure" >
                  <img 
                    class="c-article__img" 
                    src="{{ articles.image.url }}" 
                    alt="">
                </figure>
              {% endif %}
            
              <div class="data">
                <h2 class="c-article__title">{{ articles.title }}</h2>
                <p class="c-article__date"> {{ articles.created_at|date:"D d M Y"  }}</p>
              </div>
      
            </a>
          </article>
        {% endfor %}
      </div>
        
    </aside>

  </div>

{% endblock content %}

