{% extends 'pages/blog/extends/base_list_articles.html' %}


{% block title_breadcrumb %}
  <h1 class="c-breadcrumb__title"> {{ category.name }} </h1>
{% endblock title_breadcrumb %}

{% block items_breadcrumb %}
  <a
    class="c-breadcrumb__link i-after-chevron-right"
    href="{% url 'blog' %}"
    title="Ir al Blog"
  >
    Blog
  </a>

  <span class="c-breadcrumb__page">{{ category.name }}</span>
{% endblock items_breadcrumb %}
