{% extends 'pages/blog/extends/base_list_articles.html' %}


{% block title_breadcrumb %}
  <h1 class="c-breadcrumb__title"> {{ title }} </h1>
{% endblock title_breadcrumb %}

{% block items_breadcrumb %}
  <span class="c-breadcrumb__page">{{ title }}</span>
{% endblock items_breadcrumb %}