{% load i18n %}

{% spaceless %}

{% comment %} 
  <div class="o-swiper__item o-swiper__item swiper-slide">
  
    {% if mentor.professional_experience != 'null' %}
      <a class="c-card-mentor" href="{% url 'profile_public' mentor.id %}">
        
        <figure class="c-card-mentor__figure">
          <img
            class="c-card-mentor__img"
            src="{{ mentor.linkeding_image }}"
            alt="{{ mentor.names }}"
          />
        </figure>
        <div class="c-card-mentor__caption">
          <header>
            <h3 class="c-card-mentor__title">{{ mentor.names }} {{ mentor.lastnames }}</h3>
            <p class="c-card-mentor__paragraph">
              {{ mentor.professional_experience }} | {{ mentor.managerial_experience }}
            </p>
          </header>
            
        </div>

      </a> 
    {% endif %}

  </div> {% endcomment %}


{% endspaceless %}
