{% extends "base.html" %}

{% load i18n static %}

{% spaceless %}
  
  {% block content %}

    <section class="o-section o-bg_emprendedor o-section_padding u-margin-top-0 u-margin-bottom-0">
      <div class="o-canvas">
            
        <h2 class="c-contact__title o-headline_light">
          {% trans "¡ENCUENTRA A UN EMPRENDEDOR!" %}
        </h2>

        <p class="c-contact__text" style="margin-bottom:0;">
          {% trans "Te presentamos estos resultados de búsqueda con base a tu perfil. Cuando encuentres a alguien que pueda ser adecuado para ti, ¡contáctalo por medio de un mensaje!" %}
        </p>
      
      </div>
    </section>

    <section class="o-section o-bg_gray o-section_padding u-margin-top-0">
      <div class="o-canvas">

        <form method="GET" action="" class="c-form-filter all-static">

          {% for field in filter.form  %}
          
            <div class="c-form-filter__box js-target-class">
        
              {% if field.name == "ayudas_para_negocio" %}
        
                <select name="{{ field.name }}" id="{{ field.name }}" class="c-form-filter__btn">

                  {% if field.value %}
                    <option selected  value="{{ field.value }}">{{ field.value }}</option>
                  {% else %}
                    <option value="">{% trans "Filtrar por Especialidad" %}</option>
                  {% endif %}

                  {% for area in areas %}
                    <option value="{{ area.0 }}">{{ area.1 }}</option>
                  {% endfor %}
                </select>
              
              {% elif field.name == "industria_negocio" %}
        
                <select name="{{ field.name }}" id="{{ field.name }}" class="c-form-filter__btn">

                  {% if field.value %}

                    {% for industria in industrias %}
                      {% if  industria.0 == field.value %}
                        <option selected  value="{{ field.value }}">{{ industria.1 }}</option>
                      {% endif %}
                    {% endfor %}

                  {% else %}
                    <option value="">{% trans "Filtrar por Industria" %}</option>
                  {% endif %}

                  {% for industria in industrias %}
                    <option value="{{ industria.0 }}">{{ industria.1 }}</option>
                  {% endfor %}
                </select>
              
              {% elif field.name == "ubicacion_negocio" %}
        
                <select name="{{ field.name }}" id="{{ field.name }}" class="c-form-filter__btn">

                  {% if field.value %}
                    <option selected  value="{{ field.value }}">{{ field.value }}</option>
                  {% else %}
                    <option value="">{% trans "Filtrar por Ubicación" %}</option>
                  {% endif %}

                  {% for pais in data_paises_list %}
                    <option value="{{ pais }}">{{ pais }}</option>
                  {% endfor %}
                </select>
        
              {% else %}

                <select name="{{ field.name }}" id="{{ field.name }}" class="c-form-filter__btn">

                  {% if field.value %}

                    {% for tipo in tipo_negocio %}
                      {% if  tipo.0 == field.value %}
                        <option selected  value="{{ field.value }}">{{ tipo.1 }}</option>
                      {% endif %}
                    {% endfor %}

                  {% else %}
                    <option value="">{% trans "Filtrar por Tipo de Negocio" %}</option>
                  {% endif %}

                  {% for tipo in tipo_negocio %}
                    <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                  {% endfor %}
                </select>

              {% endif %}
        
            </div>
        
          {% endfor %}
        
          <div style="width:100%" class="u-text-center">
            <button class="o-btn o-btn_emprendedor o-form_btn" type="submit">{% trans "BUSCAR EMPRENDEDOR" %}</button>
          </div>
        
        </form>

      </div>
    </section>

    <section class="o-section">
      <div class="o-canvas">

        <div class="c-card-list is-emprendedor">

          {% for data_emprendedor in card_emprendedor %}

            <div class="c-card-mentor-v2">

              <header class="c-card-mentor-v2__header c-card-mentor-v2__header_emprendedor">

                <figure class="c-card-mentor-v2__figure">
                  <img class="c-card-mentor-v2__img" src="{{ data_emprendedor.image_avatar }}" alt="">
                </figure>
    
                <h4 class="c-card-mentor-v2__title">{{ data_emprendedor.nombre }}</h4>
                <h3 class="c-card-mentor-v2__subtitle">{{ data_emprendedor.pais }}</h3>

                <p class="c-card-mentor-v2__txt">{{ data_emprendedor.ocupacion }}</p>

                <div class="c-card-mentor-v2__date">
                  <h4>{% trans "Último encuentro hace: "%}</h4>
                  <span>{{ data_emprendedor.diferencia_dias }}</span>
                  {% if data_emprendedor.diferencia_dias == 0 %}
                    {% trans "dias" %}
                  {% endif %}
                </div>
                
              </header>
    
              <div class="c-card-mentor-v2__content">

                <dl class="c-header-profile__list">

                  <dt class="c-card-mentor-v2__content-title">{% trans "Necesito ayuda con" %}</dt>

                  {% for ayudas in data_emprendedor.ayudas %}
                    <dd class="c-header-profile__list-item">
                      <span class="c-header-profile__list-txt">{{ ayudas }}</span>
                      <span class="c-header-profile__list-figure"></span>
                    </dd>
                  {% endfor %}
                </dl>

                <div class="u-text-center">
                  <a
                    class="o-btn o-btn_outline o-btn_outline_emprendedor u-rounder-50"
                    href="{% url 'profile_public' data_emprendedor.id %}"
                  >
                    {% trans "Ver perfil" %}
                  </a>
                </div>

              </div>

            </div>

          {% empty %}
            <h1>{% trans "NO HAY RESULTADOS PARA TU BÚSQUEDA" %}</h1>
          {% endfor %}

        </div>

      </div>

      {% include 'includes/paginator.html' with object=list_mentors %}

    </section>

  {% endblock content %}

{% endspaceless %}