{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Update of subscription to {{ title }}{% endblocktrans %}</title>
</head>
<body>
{% blocktrans with name=subscription.name|default:_("Sir/Madam") title=newsletter.title domain=site.domain url=subscription.update_activate_url %}Dear {{ name }},

you, or someone in your name requested updating your personal information for {{ title }}.

To make changes to your information in our database, please follow this activation link:
https://{{ domain }}{{ url }}

Kind regards,{% endblocktrans %}
{{ newsletter.sender }}
</body>
</html>
