{% extends 'base.html' %}


{% spaceless %}
  
  {% block content %}

    {% include "includes/band_articles.html" %}

    <section class="o-section_padding-80 o-bg_gray">
      <div class="o-canvas">
        {% include "includes/why_us.html" with class_mt="" %}
      </div>
    </section>
    
    {% comment %} <section class="o-section">
      <div class="o-canvas">
        
        {# filter #}
        {% include 'pages/blog/includes/filter.html' %}

        <div class="c-card-list">

          {# list articles #}
          {% for articulo in articles %}
            {% include 'pages/blog/includes/card_article.html' %}
          {% endfor %}

        </div>

        {# paginator #}
        {% include 'includes/paginator.html' with object=articles %}

      </div>
    </section> {% endcomment %}

    {# Ads contact #}
    {% include 'includes/contacto.html' %}

    {# Articles blog #}
    {% include 'includes/noticias.html' %}

    {# List testimonials #}
    {% include 'includes/testimonial.html' %}

  {% endblock content %}

{% endspaceless %}
  