//-*------------------------------------*
//-   .o- class Objects Canvas.
//-   Contenedor general que enmarca y alinea las “cajas" con respecto al ancho.
//-   El canvas es el espacio disponible para el contenido.
//-*------------------------------------*

.o-canvas {
  width: $canvas-with; //90%
  @include px-to-rem(max-width, $canvas-max-with); //1140px
  margin-left: auto;
  margin-right: auto;
}

.o-canvas_right,
.o-canvas_left {
  max-width: 1500px;
}

.o-canvas_right {
  margin-right: 0;
}

.o-canvas_left {
  margin-left: 0;
}
