// //-*------------------------------------*
// //-   .o- class Objects Section, Background.
// //-   o-section: elementos de seccionamiento, contiene una parte de un documento temáticamente definida.
// //-   o-bg: define los estilos de las superficies de las secciones
// //-*------------------------------------*

.o-section {
  margin-top: $gutter * 4;
  margin-bottom: $gutter * 4;
}

.o-bg {
  background-color: $c-primary;
}

.o-bg_primary {
  background-color: $c-primary;
}

.o-bg_gray {
  background-color: $c-gray-500;
}

.o-bg_green {
  background-color: #04d79d;
}

.o-bg_emprendedor {
  background-color: #08d099;
}

.o-section_padding-120 {
  @include px-to-rem(padding-top, 80px);
  @include px-to-rem(padding-bottom, 80px);
}

.o-section_padding {
  @include px-to-rem(padding-top, $gutter * 4);
  @include px-to-rem(padding-bottom, $gutter * 4);
}

.o-section_padding-80 {
  @include px-to-rem(padding-top, $gutter * 4);
  @include px-to-rem(padding-bottom, $gutter * 4);
}
