html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.o-layout_aside {
  @include px-to-rem(padding-top, 40px);
}

.o-layout {
  &:not(.o-layout_aside) {
    .o-layout__main {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include media-query(wide) {
  .o-layout_aside {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "main-content sidebar";
    justify-content: space-between;
    grid-template-columns: minmax(400px, 75%) minmax(230px, 28%);
    @include px-to-rem(padding-top, 120px);
  }

  .o-layout__main {
    grid-area: main-content;
  }

  .o-layout__sidebar {
    grid-area: sidebar;
    margin-top: $gutter * 4;
  }

  .o-layout_aside {
    grid-column-gap: $gutter * 8;
  }

  .o-layout-contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@include media-query(medium-max) {
  .o-layout-contact {
    padding: 32px 0;
  }
}

@include media-query(large) {
  .o-layout-login {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
