// //-*------------------------------------*
// //-   .o- class Objects Títles.
// //-*------------------------------------*

h1,
h2 
h3,
h4,
h5,
h6 {
	font-weight: $f-semi-bold;
}

h1,
h2 {
	font-family: $f-title;
}

h3,
h4,
h5,
h6 { 
	font-family: $f-subtitle;
}

/**
 * Class: .o-heading 
 * @description  titular de sección
 * @markup
 *	<h1 class="o-heading">
 *		Titular de sección
 *	</h1>
 */

.o-heading {
	@include px-to-rem(margin-bottom, $gutter * 2);
	line-height: calc(82/45);
	color: $c-default-text-light;
	font-weight: $f-semi-bold;
	text-transform: uppercase;
	@include px-to-rem(font-size, 40px);
}

.o-heading_dark {
  color: $c-default-text-dark;
}


/**
 * Class: .o-headline 
 * @description  titular de sección
 * @markup
 *	<h2 class="o-headline">
 *		Titular de sección
 *	</h2>
 */

.o-headline {
  margin-bottom: $gutter * 7;
	line-height: calc(55/40);
	color: $c-default-text-dark;
	font-weight: $f-semi-bold;
	@include px-to-rem(font-size, 29px);
}

.o-headline_light {
  color: $c-default-text-light;
}
.o-headline_center {
	text-align: center;
}

.o-headline__underline {
	position: relative;
	@include px-to-rem(padding-bottom, $gutter * 2);
	margin-bottom: 0;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $c-gray-700;
	}
}

// .o-headline_h3 {
// 	line-height: calc(25/16);
// 	@include px-to-rem(font-size, 16px);
// }

// .o-headline_bold {
//   font-weight: $f-bold;
// }

// .o-headline_semi-bold {
// 	font-weight: $f-semi-bold;
// }


// /**
//  * Class: .o-title 
//  * @description  título de componente
//  * 	♣ Propiedades: 22/26px | Montserrat | Bold 
//  * @atom Head
//  * @section 02. Títulos
//  * @markup
//  *	<h2 class="o-title">
//  *		Título de componente
//  *	</h2>
//  */

// .o-title {
// 	margin-bottom: $gutter * 3;
// 	line-height: calc(42/28);
// 	@include px-to-rem(font-size, 28px);
// }

@include media-query(medium) {
	.o-headline_width {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}
}