// /**
//  * Class: .o-list
//  * @description  define una lista de ítems sin orden
//  * @atom Lista desordenada
//  * @section 04. Listas
//  * @markup
//  */

.o-list {
  margin-left: 16px;
  li {
    margin-bottom: 4px;
  }
}
