//-*------------------------------------*
//-   .o- class Objects Botones y enlaces.
//-*------------------------------------*

*:focus {
  outline: 0;
}

button {
  padding: 0;
  line-height: inherit;
  font-family: $f-default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  outline-width: 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.6s;

  &:focus {
    outline-width: 0;
  }

  &:disabled {
    cursor: default;
  }
}

.o-btn {
  position: relative;
  @include inline-flex;
  @include justify-content(center);
  @include align-items(center);
  width: fit-content;
  height: fit-content;
  border: 1px solid transparent;
  @include px-to-rem(padding, 14px $gutter * 2);
  @include px-to-rem(font-size, 14px);
  font-weight: $f-semi-bold;
  font-family: $f-default;
  font-family: $f-title;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  color: $c-default-text-light;
  transition: all 0.4s;
  background-color: $c-primary;
  z-index: 1;

  &:after {
    padding-left: $gutter;
    @include px-to-rem(font-size, 14px);
    transform: translateX(0);
    transition: all 0.2s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: $c-primary-800;
    transition: all 0.3s ease-in-out;
  }

  &.u-rounder-50 {
    &::before {
      border-radius: 50px;
    }
  }

  &:hover {
    border-color: $c-on-primary-500;
    color: $c-neutro;
    background-color: transparent;

    &::before {
      width: 100%;
      z-index: -1;
    }
  }

  &:focus,
  &:active {
    opacity: 0.5;
  }

  &:disabled {
    color: $c-gray-600;
    border-color: $c-gray-600;
    background-color: $c-neutro;
    cursor: not-allowed;
  }
}

//-*------------------------------------*
//-   Modifiers .o-btn
//-*------------------------------------*
.o-btn_secondary {
  color: $c-default-text-light;
  background-color: $c-on-primary-500;

  &:focus,
  &:active,
  &:hover {
    // opacity: 0.5;
    border-color: $c-on-primary-500;
    color: $c-on-primary-500;
  }

  &:disabled {
    color: $c-gray-600;
    border-color: $c-gray-600;
    background-color: $c-neutro;
    cursor: not-allowed;
  }
}
.o-btn_tertiary {
  color: $c-primary;
  background-color: $c-neutro;

  &::before {
    color: $c-neutro;
    background-color: $c-primary;
  }

  &:focus,
  &:active,
  &:hover {
    border-color: $c-on-primary-500;
    color: $c-on-primary-500;
  }
}

.o-btn_emprendedor {
  color: $c-neutro;
  background-color: $c-surface-cyan-76;

  &.u-rounder-50 {
    &::before {
      &:hover {
        border-radius: 50px;
      }
    }
  }
}

.o-btn_outline {
  color: $c-gray-600;
  background-color: transparent;
  border: 1px solid $c-gray-600;

  &:focus,
  &:active,
  &:hover {
    opacity: 0.8;
  }
}

.o-btn_outline_neutro {
  &:hover {
    color: $c-primary;
    background-color: $c-neutro;
  }
}

.o-btn_outline_red {
  color: $c-primary;
  border-color: $c-primary;

  &:hover {
    color: $c-neutro;
    border-color: $c-primary;

    &::before {
      background-color: $c-primary;
    }
  }

  &.u-rounder-50 {
    &::before {
      border-radius: 50px;
    }
  }
}

.o-btn_outline_emprendedor {
  color: $c-surface-cyan-76;
  border-color: $c-surface-cyan-76;

  &:hover {
    color: $c-neutro;
    border-color: $c-surface-cyan-76;

    &::before {
      background-color: $c-surface-cyan-76;
    }
  }

  &.u-rounder-50 {
    &::before {
      border-radius: 50px;
    }
  }
}

.o-btn_center {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 32px auto 0 auto;
}

.o-btn-top {
  padding: 8px 30px;
}
