//-*------------------------------------*
//-   .o- class Objects Enlaces.
//-*------------------------------------*

a {
  text-decoration: none;
  color: inherit;
  outline-width: 0;
  cursor: pointer;
  transition: all 0.6s;
}

.o-link {
  position: relative;
  padding: 0;
  color: $c-default-link;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: $f-medium;
  line-height: calc(30 / 16);
  text-transform: uppercase;
  @include px-to-rem(font-size, 16px);
  transition: all .4s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    display: block;
    transform: scale(0.97);
  }
}

.is-disabled {
  color: $c-gray-600;
  cursor: not-allowed;
  &:hover {
    transform: none;
  }
}

// .o-link_ico {
//   text-underline-position: initial;

//   &::after {
//     display: inline-block;
//     @include px-to-rem(margin-left, $gutter);
//     @include px-to-rem(font-size, 6px);
//     transform: translateX(0);
//     transition: all 0.2s;
//   }

//   &:hover,
//   &:focus,
//   &:active {
//     &:after {
//       transform: translateX(4px);
//     }
//   }
// }

.o-link_primary {
  color: $c-neutro;
  text-transform: none;
  font-weight: $f-regular;

  &:hover,
  &:focus,
  &:active {
    color: $c-neutro;
  }
}

.o-link_dark {
  color: $c-on-primary-500;
  text-transform: none;
  font-weight: $f-regular;
}

.o-link_transform {
  text-transform: none;
}

// .o-link_dark {
//   color: $c-grey-50;

//   &:hover,
//   &:focus,
//   &:active {
//     color: $c-grey-90;
//   }
// }

// .o-link_neutro {
//   color: $c-neutro;

//   &:hover,
//   &:focus,
//   &:active {
//     color: $c-grey-20;
//   }
// }

.o-link-sm {
  font-size: 12px;
  font-family: $f-title;

  &:hover {
    text-decoration: underline;
  }

  &_emprendedor {
    color: $c-surface-cyan-76;
  }

  &_mentor {
    color: $c-primary-400;
  }
}