.o-swiper {
  position: relative;
}

.o-swiper__item {
  height: auto;
}
.o-swiper__item_center {
  text-align: center;
}

.o-swiper__container {
  @include px-to-rem(padding, $gutter * 3 10px);
}

.o-swiper__container_padding {
  padding: 0;
}

.o-swiper__buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.o-swiper__btn {
  top: 50%;
  width: auto;
  // delete bg blue in mb on click
  -webkit-tap-highlight-color: transparent;

  &.swiper-button-prev {
    left: -13px;
  }

  &.swiper-button-next {
    right: -13px;
  }

  &.swiper-button-disabled {
    opacity: 0;
  }

  &::after {
    @include px-to-rem(font-size, $gutter * 3);
    color: $c-primary;
  }
}

.o-swiper__btn_distance {
  &.swiper-button-prev {
    left: -40px;
  }

  &.swiper-button-next {
    right: -40px;
  }
}

.o-swiper__btn_neutro {
  &::after{
    color: $c-neutro;
  }
}

.o-swiper__btn_inside {
  height: 30px;
  width: 30px;
  background-color: $c-neutro;

  &.swiper-button-prev {
    left: 24px;
  }

  &.swiper-button-next {
    right: 24px;
  }

  &::after {
    @include px-to-rem(font-size, $gutter * 2);
  }
}

.o-swiper-pagination {
  position: static;
  @include px-to-rem(padding-top, $gutter * 7);
  text-align: center;

  .swiper-pagination-bullet {
    @include px-to-rem(width, $gutter * 2);
    @include px-to-rem(height, $gutter * 2);
    @include px-to-rem(margin, 0 $gutter);
    border: 1px solid $c-primary;
    opacity: 1;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $c-primary;
    }

    &.swiper-pagination-bullet-active {
      background-color: $c-primary;
    }
  }
}

/*------------------------------------*\
  Media querys
\*------------------------------------*/
// BP:768px
@include media-query(medium) {
  .o-swiper-pagination {
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .o-swiper__buttons {
    display: none;
  }
}
