// /*------------------------------------*\
// Patterns Elements
//     #Styles for Forms
// \*------------------------------------*/

.o-form {
  @include px-to-rem(max-width, 828px);
  margin: $gutter * 4 auto;
  @include px-to-rem(font-size, 14px);
  text-align: right;
}

.o-form_column {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;

  .o-form__action {
    flex: 1 1 100%;
    justify-content: center;
    row-gap: 16px;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 2px solid #e1dede;
  }

  .o-form_link {
    font-family: $f-title;
    text-decoration: none;
    color: initial;
  }
}

.o-form__legend {
  @include px-to-rem(margin-bottom, $gutter * 4);
}
.o-form__legend_center {
  margin-right: auto;
  margin-left: auto;
}

.o-form__legend-title {
  @include px-to-rem(font-size, 26px);
  line-height: 1;
}

.o-form__legend-txt {
  margin-top: $gutter * 3;
}
.o-form__legend,
.o-form__wrap {
  text-align: left;
}

.o-form__wrap {
  @include flexbox;
  @include flex-direction(column);
}

.o-form__set {
  @include px-to-rem(margin-bottom, $gutter * 2);
  text-align: left;

  ul {
    list-style: none;
  }
}

.o-form__label {
  label {
    font-family: $f-title;
    font-weight: $f-black;
  }
}

.o-form__field {
  position: relative;
  display: block;
  @include px-to-rem(margin, 0 0 $gutter 0);

  &.is-disabled {
    select,
    input {
      color: #a9a9a9 !important;
      background-color: #f5f5f5 !important;
      pointer-events: none;
    }
  }


  input,
  select,
  textarea {
    width: 100%;
    transition: all 0.2s;
    &:not([multiple]) {
      border: none;
      border-bottom: 1px solid #dcd9d9;
      @include px-to-rem(padding, $gutter 0);
      line-height: 1.2;
      color: $c-on-primary-500;
      background-color: transparent;
      font-family: $f-default;
      font-size: 16px;

      &::placeholder {
        font-style: italic;
        color: rgba($c-on-primary-500, 0.5);
      }

      .is-error & {
        border-color: $c-primary;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: $c-on-primary-500;
      }

      &:disabled {
        color: #a9a9a9;
        background-color: #f5f5f5;
      }

      &:focus {
        border-bottom: 1px solid $c-primary;
      }

      &:valid {
        background-color: transparent;
      }
    }
  }

  .appareance {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  textarea {
    &:not([multiple]) {
      border: 1px solid #dcd9d9;
    }
  }

  ul#id_days {
    max-width: 150px;

    li {
      margin-bottom: 10px;
      font-size: 16px;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;

      input {
        width: auto;
      }
    }
  }

  h4,
  h3 {
    font-family: $f-title;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &.input-custom {
    .ts-control {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: $gutter;
      row-gap: $gutter;

      input {
        flex: 1 auto;
      }
    }

    &.speak {
      .ts-control {
        flex-wrap: nowrap;
      }
    }
  }
}
.o-form__field_border {
  input,
  select,
  textarea {
    &:not([multiple]) {
      border: 1px solid #dcd9d9;
      padding-left: 16px;
      color: $c-primary;

      &:focus,
      .is-error & {
        border-color: $c-primary;
      }
    }
  }
}

.ts-dropdown-content {
  margin-top: $gutter;
  padding: $gutter;
  background: #f5f5f5;
  max-height: 250px;
  overflow: scroll;
}

.optgroup {
  margin-bottom: $gutter;
}

.optgroup-header {
  font-size: 13px;
}

.o-form__sup {
  position: static;
  font-size: 20px;
  color: $c-primary;
}

.o-form__action {
  @include px-to-rem(margin-top, $gutter * 4);
}

.o-form__action {
  font-family: $f-title;
}

.o-form__action_login {
  flex-direction: column;
  row-gap: 16px;
}

.o-form__action-link {
  display: inline-block;
  margin-left: $gutter * 2;
}

.o-form__indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    padding-left: $gutter * 3 !important;
  }
}

.o-form__flag {
  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: 120px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background: #f8f8f8;
    box-shadow: 1px 1px 4px #d5d5d5;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  &.is-content-show {
    ul {
      max-height: 1000px;
      overflow: scroll;
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  img {
    width: 24px;
    height: 16px;
  }
}

.o-form__flag-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &::after {
    font-weight: 800;
    font-size: 12px;
    margin-left: 8px;
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;

    .is-content-show & {
      transform: rotate(-90deg);
    }
  }

  img {
    border: 1px solid #dcd9d9;
  }

  .o-form__flag-number {
    margin-left: $gutter;

    &::before {
      content: "+";
    }
  }
}

.is-error__message {
  color: $c-primary;
}

.o-form_btn {
  @include justify-content(center);
  @include px-to-rem(min-width, 234px);
}

.o-form_link {
  display: inline-block;
  @include px-to-rem(margin-left, $gutter * 2);
}

#id_dias_disponibilidad,
#id_speak_language,
#id_ayudas_para_negocio,
#id_ubicacion_negocio {
  &:not(.all-static &) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.o-form__create {
  padding: 4px;
  font-size: 14px;
}

.o-form__create-title {
  @include px-to-rem(margin-right, $gutter);
  font-family: $f-title;
  font-weight: $f-extra-bold;
}

.o-form__captcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  h3 {
    font-family: $f-title;
    font-size: 14px;
  }
}

.o-form__captcha-error {
  font-family: $f-title;
  font-size: 16px;
  color: $c-primary;
}

@include media-query(medium-max) {
  .o-form_link {
    @include px-to-rem(margin-top, $gutter * 2);
  }

  .o-form_center {
    .o-form__set {
      flex: 1 1 100%;
      max-width: 250px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
}

@include media-query(medium) {
  .o-form__wrap {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 -10px;
  }

  .o-form__set {
    width: 50%;
    @include px-to-rem(padding, 0 10px);
  }

  .o-form__set_full {
    @include flex(1 1 100%);
    width: 100%;
  }

  .o-form__action {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
  }
}
