.o-steps,
.c-tabs {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.o-steps__title {
  font-size: 34px;
  line-height: 1;
}

.o-steps__options {
  margin-top: $gutter;
  font-family: $f-title;
}

.o-steps__action {
  margin-left: $gutter;
  border-left: 1px solid $c-on-primary-500;
  padding-left: $gutter;
  color: $c-primary;
}

.c-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.c-tabs__item {
  font-family: $f-title;
  font-weight: $f-black;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;

  &:hover,
  &.is-tab-active {
    color: #fff;
    background-color: #dd0a16;
    padding: 4px 8px;
  }
}
.c-tabs__item_flex {
  flex: 1 1 50%;
}

.c-tabs__content {
  border: 1px solid #dd0a16;
}

.c-tabs__subcontent {
  border: 1px solid #DCD9D7;
  width: 100%;
  margin-top: 24px;
  padding: 40px;

  .o-form__label {
    font-size: 16px;
  }
}

.o-form__legend-txt-content {
  font-size: 16px;
  text-align: left;
}

.o-form__content-title {
  width: 90%;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 18px;
}

.o-form_register {
  max-width: 95%;
  width: 95%;
}

.o-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 16px;
  margin: 0 auto;
  width: 100%;
  line-height: 1;
}

.o-connect_size {
  max-width: 650px;
}

.o-connect__title {
  font-size: 20px;
  font-family: $f-title;
  text-align: left;
}

.o-connect__btn {
  padding: 8px 16px;
  font-size: 18px;
  color: #fff;
  font-family: "Capriola";
  font-weight: 900;
  background-color: #0e76a8;
  display: flex;
  align-items: center;
  line-height: 1;
  column-gap: 16px;
}


@media screen and(max-width: 566px) {
  .o-form__action,
  .o-steps {
    text-align: center;
  }
}

@media screen and(max-width: 509px) {
  .c-tabs {
    justify-content: center;
    row-gap: 8px;
  }
}
