.o-message {
    max-width: 450px;
    font-family: $f-title;
    font-size: 16px;

    &_success {
        color: $c-surface-cyan-76;
    }

    &_error {
        color: $c-primary;
    }
}

.o-alert-warn {
    border-radius: 8px;
    padding: 8px;
    background-color: #F3C128;
}

.o-message__title {
    font-size: 20px;
}
