.o-tooltip {
    position: relative;
}

.o-tooltip__text {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    column-gap: 8px;
    color: #858585;
    cursor: pointer;

    &::before {
        font-size: 14px;
    }

    &:hover + .o-tooltip__box {
        opacity: 1;
    }
}

.o-tooltip__box {
    bottom: 0;
    position: absolute;
    left: 100%;
    width: 250px;
    font-size: 12px;
    margin-left: 16px;
    background: #f5f5f5;
    padding: 8px;
    border-radius: 8px;
    color: #858585;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

@include media-query(medium-max) {
    .o-tooltip__box {
        top: 100%;
        left: -67px;
        height: max-content;
        margin-left: 0;
    }
}
