.o-avatar {
  @include flexbox;
  @include align-items(center);
  @include px-to-rem(column-gap, $gutter * 2);
}
.o-avatar__figure {
  height: 245px;
  width: 245px;
  overflow: hidden;
}
.o-avatar__figure_size {
  height: 238px;
  width: 238px;
}
.o-avatar__figure_small {
  height: 36px;
  width: 36px;
  border: 1px solid $c-primary;
}
.o-avatar__figure_border {
  border: 3px solid $c-neutro;
}
.o-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.o-avatar__text {
  @include px-to-rem(font-size, 14px);
  font-weight: $f-bold;
}