.o-grid {
  @include flexbox;
  flex-wrap: wrap;
  @include justify-content(center);
  @include px-to-rem(margin-top, $gutter * 9);
  @include px-to-rem(row-gap, $gutter * 2);
  @include px-to-rem(column-gap, $gutter * 2);

  .c-card-list & {
    max-width: 350px;
  }
}
