/**
 * Class: .c-collapsible
 * @description  Es un acordeón que se expanden al hacer clic en él. Permiten ocultar contenido que no es inmediatamente relevante para el usuario.
 *  ♣ Java script:
 *    ♣ .js-collapsible-control dispara la acción
 *    ♣ .js-collapsible-target elemento colapsable
 *    ♣ .js-collapsible-wrapper calcula el alto del colapsable
 *  ♣ Estados:
 *    ♣ .is-collapsible-open elemento desplegado
 * @molecule Collapsible
 * @section Contenido libre
 * @markup
 *  <div class="js-collapsible" data-js-collapsible-options='{ "firstElemenVisible": true }'>
 *    <article class="js-collapsible-item">
 *      <h2 class="js-collapsible-control">
 *          ¿Qué tipo de transacciones puedo realizar desde mi cuenta de ahorros Empresa?
 *      </h2>
 *      <div class="js-collapsible-target">
 *        <div class="js-collapsible-wrapper"> 
 *         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 *        </div>
 *      </div>
 *    </article>
 *  </div>
 */  
  
// Clases required JS functionality
.js-collapsible {
  overflow: hidden;
}

.js-collapsible-item {
  position: relative;
  z-index: 2;

  &.is-collapsible-opened {
    z-index: 1;
  }
}

.js-collapsible-target {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s;

  .is-collapsible-opened  & {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}

.js-collapsible-control {
  cursor: pointer;
}
