.o-language {
  position: relative;

  &:hover {
    z-index: 10000;

    .o-language__btn {
      &::after {
        transform: rotate(-90deg);
      }
    }

    .o-language__list {
      opacity: 1;
      visibility: visible;
    }
  }
}

.o-language__btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  color: $c-neutro;
  padding: 8px 16px;
  background: $c-primary-600;
  text-transform: uppercase;

  &::after {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
  }
}

.o-language__list {
  position: absolute;
  top: 100%;
  background: $c-neutro;
  color: $c-primary;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e3edf6;
  max-width: 130px;
  min-width: 130px;
  right: 0;
  padding: 16px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.o-language__link {
  padding: 0 16px;

  &:hover,
  &.selected {
    color: $c-neutro;
    background-color: $c-primary;
  }
}
