.o-on-grid {
  position: relative;
  display: grid;
  grid-template-areas: "area";
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-on-primary-600;
    opacity: 0.6;
  }
}
.o-on-grid__picture {
  grid-area: area;
}
.o-on-grid__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.o-on-grid__caption {
  @include flexbox;
  @include align-items(center);
  grid-area: area;
  text-align: center;
  z-index: 25;
}

.o-on-grid__info {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  @include px-to-rem(margin-top, $gutter * 5);
  @include px-to-rem(margin-bottom, $gutter * 5);
}
.o-on-grid__info_center {
  text-align: center;
}

@include media-query(medium) {
  .o-on-grid__picture {
    &:not(.c-banner-center &) {
      height: calc(90vh - 143px);
    }
  }
}
