.o-group-tags {
  font-size: 13px;
}

.o-tag {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  flex-direction: row-reverse;
  border-radius: 50px;
  padding: 2px 12px;
  font-size: 12px;
  color: $c-neutro;
  background-color: $c-primary;
}

.o-chip__close {
  font-size: 0;

  &::before {
    font-size: 12px;
  }
}

// .o-tag_yellow {
//   color: $c-warning-500;
//   background-color: $c-warning-50;
// }

// .o-tag_green {
//   color: $c-succes-500;
//   background-color: $c-succes-50;
// }

// .o-tag_red {
//   color: $c-primary-400;
//   background-color: $c-primary-50;
// }

// .o-tag_blue {
//   color: $c-secondary-500;
//   background-color: $c-secondary-50;
// }
