.u-hidden {
    position: absolute;
    top: -1000px;
    opacity: 0;
    visibility: hidden;
}

.u-margin-top-0 {
    margin-top: 0;
}

.u-margin-bottom-0 {
    margin-bottom: 0;
}

.u-margin-top-24 {
    margin-top: $gutter * 3;
}

.u-margin-bottom-16 {
    margin-bottom: $gutter * 2;
}

.u-bg-mentors {
    background-image: url("../img/fondo_mentores.png");
}

.u-position-relative {
    position: relative;
}

.o-girl__img {
    position: absolute;
    bottom: -40px;
    right: 0;
    max-width: 450px;
}

.u-rounder-50 {
    border-radius: 50px;
}

.u-text-center {
    text-align: center;
}

.u-box-center {
    margin-right: auto;
    margin-left: auto;
}

.u-only-dk {
    display: none;
}

@include media-query(medium-max) {
    .u-margin-top-mb-80 {
        margin-top: $gutter * 10;
    }
}

@include media-query(medium) {
    .u-only-dk {
        display: block;
    }

    .u-only-mb {
        display: none;
    }
}

@media screen and(max-width: 1190px) {
    .o-girl__img {
        display: none;
    }
}

@media screen and(min-width: 1190px) {
    .o-girl__img {
        display: block;
    }
}
