.o-message-newsletter {
  @include flexbox;
  @include align-items(center);
  height: 60vh;
}

.o-message-newsletter__content {
  max-width: 70%;
  margin: 0 auto;
}

.o-message-newsletter__title {
  line-height: 1;
  @include px-to-rem(margin-bottom, $gutter * 2);
}

.o-message-newsletter__btn {
  @include px-to-rem(margin-top, $gutter * 3);
}
