{% extends "base.html" %}

{% load i18n %}

{% spaceless %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {{ title }} </h1>
  {% endblock title_breadcrumb %}

  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{{ title }}</span>
  {% endblock items_breadcrumb %}

  {% block content %}

    <section class="o-section">
      <div class="o-canvas">

        <form method="" class="o-form">
          <legend class="o-form__legend">
            <h2 class="o-form__legend-title">{% trans 'Restablecimiento de contraseña enviado' %}</h2>
            <p>{% trans "Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve" %}.</p>
            <p>{% trans "Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado" %}.</p>
          </legend>
    
        </form>

      </div>
    </section>
    
  {% endblock content %}

{% endspaceless %}