{% extends "base.html" %}

{% load i18n %}

{% spaceless %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {{ title }} </h1>
  {% endblock title_breadcrumb %}

  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{{ title }}</span>
  {% endblock items_breadcrumb %}

  {% block content %}

    <section class="o-section">
      <div class="o-canvas">

        {% if validlink %}
        <form method="POST" class="o-form">
          {% csrf_token %}

          <legend class="o-form__legend">
            <h2 class="o-form__legend-title">{% trans 'Confirmar Recupear contraseña' %}</h2>
            <p>{% trans "Todos los campos con * son requeridos" %}</p>
          </legend>
    
          <div class="o-form__wrap">
    
            {% for field in form %}
              <div 
                class="o-form__set {% if field.errors %} is-error{% endif %}"
              >
    
                  {# Label if required #}
                  <span class="o-form__label">
                    {{ field.label_tag }} {% if field.field.required %}<sup class="o-form__sup">*</sup>{% endif %}
                  </span>
            
                  {# campo: input, Textarea, if select, if select multiple #}
                  <span class="o-form__field{% if field.field.widget.input_type == 'select' and field.field.widget.allow_multiple_selected == False %} o-form__select i-chevron-down{% endif %}">
                    {{ field }}
                  </span>
            
                  {# ERRORES #}
                  <div class="is-error__message {% if not field.errors.data|length %}u-hidden{% endif %}" role="alert" data-for="{{ field.name }}">
                    {{ field.errors }}
                  </div>
    
              </div>
            {% endfor %}
    
          </div>

          <div class="o-form__action">
            <button class="o-btn o-form_btn" type="submit">{% trans "RECUPERAR" %}</button>
          </div>
        </form>
        {% endif %}

      </div>
    </section>
    
  {% endblock content %}

{% endspaceless %}