{% extends "base.html" %}

{% load i18n %}

{% spaceless %}

  {% block title_breadcrumb %}
    <h1 class="c-breadcrumb__title"> {{ title }} </h1>
  {% endblock title_breadcrumb %}

  {% block items_breadcrumb %}
    <span class="c-breadcrumb__page">{{ title }}</span>
  {% endblock items_breadcrumb %}

  {% block content %}

    <section class="o-section">
      <div class="o-canvas">

        <form method="" class="o-form">
          <legend class="o-form__legend">
            <h2 class="o-form__legend-title">{% trans 'Confirmación contraseña cambiada' %}</h2>
            <p>{% trans "Su contraseña se reestableció correctamente" %}</p>

            <a href="{% url 'login' %}">{% trans "iniciar sesión" %}</a>
          </legend>
    
        </form>

      </div>
    </section>
    
  {% endblock content %}

{% endspaceless %}