{% load i18n %}

<article class="c-card-notify">
    {# Bloque emprendedor #}
    <div class="c-card-notify__top">
        <a
            href="{% url 'profile_public' card.mentor.user.id %}"
            title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
        >
            <figure class="c-card-notify__figure">
                {% if  card.mentor.user.avatar_image %}
                    <img src="{{ card.mentor.user.avatar_image.url }}" alt="perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}" class="c-card-notify__img">
                {% else %}
                    <img src="{{ card.mentor.user.linkeding_image }}" alt="perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}" class="c-card-notify__img">
                {% endif %}
            </figure>
        </a>

        <div class="c-card-notify__content">

            {% if user.user_rol == '1' %}
                <div class="c-card-notify__content-header">

                    <h2
                        class="c-card-notify__title"
                    >
                        <span
                            href="{% url 'profile_public' card.emprendedor.id %}"
                            title="Ir al perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
                            class="c-card-notify__title-link"
                        >
                            {{ card.emprendedor.names }} {{ card.emprendedor.lastnames}}
                        </span>
                        {% trans "ha solicitado una mentoría" %}
    
                        <small>{% trans "hace" %} {{ card.diferencia_dias }}</small>
                    </h2>

                    <a
                        href="{% url 'profile_public' card.emprendedor.id %}"
                        title="Ir al perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
                        class="o-link-sm o-link-sm_emprendedor"
                    >
                        {% trans "Ver perfil del emprendedor" %}
                    </a>

                </div>
            {% else %}
                <div class="c-card-notify__content-header">
                    <h2
                        class="c-card-notify__title"
                    >
                        <span
                            href="{% url 'profile_public' card.mentor.user.id %}"
                            title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
                            class=""
                            {% comment %} c-card-notify__title-link c-card-notify__title-link_mentor {% endcomment %}
                        >
                            {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }} 
                        </span>
                        
                        {% trans " te a enviado una sugerencia para tener una Mentoria " %}
                        <small>{% trans "hace" %} {{ card.diferencia_dias }}</small>
                    </h2>

                    <a
                        href="{% url 'profile_public' card.mentor.user.id %}"
                        title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
                        class="o-link-sm o-link-sm_mentor"
                    >
                        {% trans "Ver perfil del mentor" %}
                    </a>
                </div>
            {% endif %}

            <p class="c-card-notify__text">{{ card.description }}</p>

            {% comment %} <p class="c-card-notify__bottom-date c-card-notify__bottom-date_top">
                {% trans "Fecha estimada solicitada" %}: {{ card.fecha_reunion|date:"D d M Y" }} 
                {% trans "Hora" %}: {{ card.hora_reunion }}
            </p> {% endcomment %}

        </div>

        <div class="c-card-notify__actions">
                <button
                    id="descartar"
                    class="c-card-notify_decline i-close js-btn-sugges-edit"
                    onclick="abrir_modal_edicion_suggestion_cancel('/descartar-sugerencia/{{ card.id }}')"
                >
                    {% trans "Descartar" %}
                    <ul class="loader u-hidden">
                        <li class="loader__item"></li>
                        <li class="loader__item"></li>
                        <li class="loader__item"></li>
                    </ul>
                </button>
        </div>
    </div>

</article>

