{% load i18n %}

<article class="c-card-notify">
    {# Bloque emprendedor #}
    <div class="c-card-notify__top">
        <a
            href="{% url 'profile_public' card.emprendedor.id %}"
            title="Ir al perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
        >
            <figure class="c-card-notify__figure c-card-notify__figure_emprendedor">
                <img
                    src="{{ card.emprendedor.avatar_image.url }}"
                    alt="perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
                    class="c-card-notify__img"
                >
            </figure>
        </a>

        <div class="c-card-notify__content">

            {% if user.user_rol == '1' %}
                <div class="c-card-notify__content-header">

                    <h2
                        class="c-card-notify__title"
                    >
                        <a
                            href="{% url 'profile_public' card.emprendedor.id %}"
                            title="Ir al perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
                            class="c-card-notify__title-link"
                        >
                            {{ card.emprendedor.names }} {{ card.emprendedor.lastnames}}
                        </a>
                        {% trans "ha solicitado una mentoría" %}
    
                        <small>{% trans "hace" %} {{ card.diferencia_dias }}</small>
                    </h2>

                    <a
                        href="{% url 'profile_public' card.emprendedor.id %}"
                        title="Ir al perfil de {{ card.emprendedor.names }} {{ card.emprendedor.lastnames }}"
                        class="o-link-sm o-link-sm_emprendedor"
                    >
                        {% trans "Ver perfil del emprendedor" %}
                    </a>

                </div>
            {% else %}
                <div class="c-card-notify__content-header">
                    <h2
                        class="c-card-notify__title"
                    >
                        {% trans "Has solicitado una mentoría a " %}
                        <a
                            href="{% url 'profile_public' card.mentor.user.id %}"
                            title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
                            class="c-card-notify__title-link c-card-notify__title-link_mentor"
                        >
                            {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }} 
                        </a>

                        <small>{% trans "hace" %} {{ card.diferencia_dias }}</small>
                    </h2>

                    <a
                        href="{% url 'profile_public' card.mentor.user.id %}"
                        title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
                        class="o-link-sm o-link-sm_mentor"
                    >
                        {% trans "Ver perfil del mentor" %}
                    </a>
                </div>
            {% endif %}

            <p class="c-card-notify__text">{{ card.description }}</p>

            <p class="c-card-notify__bottom-date c-card-notify__bottom-date_top">
                {% trans "Fecha estimada solicitada" %}: {{ card.fecha_reunion|date:"D d M Y" }} 
                {% trans "Hora" %}: {{ card.hora_reunion }}
            </p>

        </div>

        <div class="c-card-notify__actions {% if not card.state == "espera" %}c-card-notify__actions_flag{% endif %} {% if card.state == "espera" and not user.user_rol == '1' %} c-card-notify__actions_flag{% endif %}">
            {% if card.state == "espera" and not user.user_rol == '1' %}
                <span class="c-header-profile__tag c-header-profile__tag_outline">{% trans "Pendiente" %}</span>
            {% elif card.state == "aceptada" or card.state == "aceptada_emprendedor" %}
                <span class="c-header-profile__tag">{% trans "Aceptada" %}</span>
            {% elif card.state == "cancelada" or card.state == "cancelada_emprendedor" %}
                <span class="c-header-profile__tag">{% trans "Cancelada" %}</span>
            {% else %}
                <a class="o-btn o-btn_outline o-btn_outline_red u-rounder-50" href="{% url 'edit_cita' card.id %}?state=c">{% trans "Rechazar" %}</a>
                <a class="o-btn u-rounder-50" href="{% url 'edit_cita' card.id %}?state=a">{% trans "Aceptar" %}</a>
            {% endif %}
        </div>
    </div>

    {# Bloque mentor #}
    {% if card.mensaje_aceptada or card.mensaje_cancelada %}
        <div class="c-card-notify__bottom">

            <header class="c-card-notify__bottom-header">
                <h3>{% trans "Respuesta del Mentor" %}</h3>

                {% if card.state == "aceptada" or card.state == "aceptada_emprendedor" %}
                    <p class="c-card-notify__bottom-date">
                        {% trans "Fecha de la Mentoría" %}: {{ card.fecha_confirmada_reunion|date:"D d M Y" }} 
                        {% trans "Hora" %}: {{ card.hora_reunion_confirmada }}
                    </p>
                {% endif %}

                {% if user.user_rol == '1' %}

                    {% if card.state == "aceptada" %}
                        <span
                            class="c-card-notify__state c-card-notify__state_espera"
                        >
                            {% trans "Estado:" %} {% trans "En espera de confirmación" %}
                        </span>
                    {% elif card.state == "cancelada" or card.state == "cancelada_emprendedor" %}
                        <span
                          class="c-card-notify__state c-card-notify__state_cancelado"
                        >
                          {% trans "Estado:" %} {% trans "Cancelada" %}
                        </span>
                    {% elif card.state == "aceptada_emprendedor" %}
                        <span
                          class="c-card-notify__state c-card-notify__state_aceptada"
                        >
                          {% trans "Estado:" %} {% trans "Confirmada" %}
                        </span>
                    {% endif %}

                {% else %}
                    
                  {% if card.state == "cancelada" or card.state == "cancelada_emprendedor" %}
                    <span
                      class="c-card-notify__state c-card-notify__state_cancelado"
                    >
                      {% trans "Estado:" %} {% trans "Cancelada" %}
                    </span>
                  {% elif card.state == "aceptada_emprendedor" %}
                    <span
                    class="c-card-notify__state c-card-notify__state_aceptada"
                    >
                      {% trans "Estado:" %} {% trans "Confirmada" %}
                    </span>
                  {% else %}
                    <div class="u-position-relative">
                        <span class="c-card-notify__flag">{% trans "Tienes hasta 24 horas anres de tu Mentoría para confirmar la reunión o esta será cancelada." %}</span>

                        <a
                            class="o-btn o-btn_outline o-btn_outline_red u-rounder-50"
                            href="{% url 'edit_cita' card.id %}?state=c_e">{% trans "Rechazar" %}
                        </a>
                        <button
                          class="o-btn u-rounder-50"
                          onclick="abrir_modal_edicion('/confirmar-cita/{{ card.id }}')"
                        >
                          {% trans "Confirmar" %}
                        </button>
                    </div>
                  {% endif %} 
                  
                {% endif %}

            </header>

            <div class="c-card-notify__bottom-content">
                <div style="flex: 1 1 50%;">

                    <p class="c-card-notify__bottom-text">
                        {% if card.mensaje_cancelada %}
                            {{ card.mensaje_cancelada }}
                        {% else %}
                            {{ card.mensaje_aceptada }}
                        {% endif %}
                    </p>

                    {% if card.slug  %}
                        {% if card.slug != "000" %}
                        <p
                            class="c-card-notify__bottom-text u-margin-bottom-0"
                        >
                            <strong style="display: block;">{% trans "Enlace de la reunión" %}:</strong>
                            <a class="o-link" href="{{ card.slug }}" target="_blank">{{ card.slug }}</a>
                        </p>
                        {% endif %}
                        <p
                            class="c-card-notify__bottom-text"
                        >
                            <strong>{% trans "Correo electronico" %}:</strong>
                            <a class="o-link" href="mailto:{{ card.mentor.user.email }}" target="_blank">{{ card.mentor.user.email }}</a>
                        </p>
                    {% endif %}

                </div>

                <a
                    href="{% url 'profile_public' card.mentor.user.id %}"
                    title="Ir al perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}"
                >
                    <figure class="c-card-notify__figure">
                        {% if  card.mentor.user.avatar_image %}
                            <img src="{{ card.mentor.user.avatar_image.url }}" alt="perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}" class="c-card-notify__img">
                        {% else %}
                            <img src="{{ card.mentor.user.linkeding_image }}" alt="perfil de {{ card.mentor.user.names }} {{ card.mentor.user.lastnames }}" class="c-card-notify__img">
                        {% endif %}
                    </figure>
                </a>
            </div>
        </div>
    {% endif %}

    {% if not card.state == "espera" %}
        {% include "includes/rating.html" %}
    {% endif %}

    {% if user.user_rol == '1' %}
      <div class="u-hidden">
        <p class="js-id-user-rating">emprendedor</p>
        <p class="js-id-user-rating-num">{{ card.emprendedor.id }}</p>
      </div>
    {% else %} 
      <div class="u-hidden">
        <p class="js-id-user-rating">mentor</p>
        <p class="js-id-user-rating-num">{{ card.mentor.user.id }}</p>
      </div>
    {% endif %}

</article>

