{% load i18n %}

{# Cabecera página de registro #}
<header class="o-steps">
  
  <h1 class="o-steps__title">{% trans "Únete a Altruism Now Mentors" %}</h1>
  <p class="o-steps__options">
    {% trans "Paso" %} {{ number_current_step }} {% trans "de" %} 3
    <span class="o-steps__action">
      {% blocktranslate %}
        {{ text_current_action }}
      {% endblocktranslate %}
    </span>
  </p>

</header>
