&nbsp;
<div
  style="
    background: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  "
>
  <div style="width: 600px; margin: 0 auto">
    <div
      class="header"
      style="border-bottom: 1px solid #ddd; padding: 20px 0; text-align: center"
    >
      <strong style="font-size: 20px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Solicitud: {{ user.type_question }}
          </span>
        </span>
      </strong>
    </div>

    <div class="content" style="padding: 10px 0 40px">
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <h4>Nombre contacto:</h4>
            {{ user.name_contact }}

            <h4>Número contacto:</h4>
            {{ user.phone_contact }}

            <h4>Correo contacto:</h4>
            {{ user.email_contact }}

            <h4>Mensaje:</h4>
            {{ user.message_contact }}
          </span>
        </span>
      </p>

    </div>

    <div
      class="footer"
      style="
        border-top: 1px solid #ddd;
        padding: 20px 0;
        clear: both;
        text-align: center;
      "
    >
      <small style="font-size: 11px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <span style="vertical-align: inherit">
              <span style="vertical-align: inherit">
                Altruism Now Mentors - Todos los Derechos Reservados
              </span>
            </span>
          </span>
        </span>
      </small>
    </div>
  </div>
</div>
