&nbsp;
<div
  style="
    background: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  "
>
  <div style="width: 600px; margin: 0 auto">
    <div
      class="header"
      style="border-bottom: 1px solid #ddd; padding: 20px 0; text-align: center"
    >
      <strong style="font-size: 20px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Modificación de datos Exitosa
          </span>
        </span>
      </strong>
    </div>

    <div class="content" style="padding: 10px 0 40px">
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Hola, {{ user.names }} {{ user.lastnames }}, acabas de hacer un
            cambio de los datos que tienes registrados en el sistema.
          </span>
          <br>
          <span style="vertical-align: inherit">
            Si no has sido tu comunicate con los administradores, gracias.
          </span>
        </span>
      </p>

      <!-- <h4
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <strong>
          <em>
            <span style="color: #333333; font-family: Arial, sans-serif">
              <span style="vertical-align: inherit">
                <span style="vertical-align: inherit">
                  Verifica tu cuenta haciendo clic en el enlace a continuación
                </span>
              </span>
            </span>
          </em>
        </strong>
      </h4> -->

      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <a
          class="btn"
          style="
            color: #fff;
            border-radius: 3px;
            text-decoration: none;
            background-color: #ef0000;
            padding: 10px 20px;
            font-size: 14px;
            font-family: Arial, sans-serif;
          "
          href="https://{{ site.domain }}/es/contacto/"
          ><span style="vertical-align: inherit"
            ><span style="vertical-align: inherit">Contactar a soporte</span></span
          ></a
        >
      </p>
    </div>

    <div
      class="footer"
      style="
        border-top: 1px solid #ddd;
        padding: 20px 0;
        clear: both;
        text-align: center;
      "
    >
      <small style="font-size: 11px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <span style="vertical-align: inherit">
              <span style="vertical-align: inherit">
                Altruism Now Mentors - Todos los Derechos Reservados
              </span>
            </span>
          </span>
        </span>
      </small>
    </div>
  </div>
</div>
