&nbsp;
<div
  style="
    background: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  "
>
  <div style="width: 600px; margin: 0 auto">
    <div
      class="header"
      style="border-bottom: 1px solid #ddd; padding: 20px 0; text-align: center"
    >
      <strong style="font-size: 20px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Bienvenido a Altruism Now Mentors
          </span>
        </span>
      </strong>
    </div>

    <div class="content" style="padding: 10px 0 40px">
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Hola, {{ user.names }} {{ user.lastnames }}, ahora que tu perfil
            esta completo es momento de empezar a interacturar con los
            emprendedores.
          </span>
        </span>
        <br>
        <br>
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            ¡Los emprendedores te están esperando! Pero un poco de preparación
            puede ayudarte enormemente a tener éxito con la mentoria.
          </span>
          <br />
          <br />
          <span style="display: block">
            Puedes encontrar consejos y recomendaciones en nuestro
            <a href="https://{{ site.domain }}/es/blog/">
              Blog
            </a>
          </span>
        </span>
      </p>

      <h4
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <strong>
          <em>
            <span style="color: #333333; font-family: Arial, sans-serif">
              <span style="vertical-align: inherit">
                <span style="vertical-align: inherit">
                  ¡Gracias por registrarte! Nos da mucho gusto que seas parte de
                  nuestra comunidad.
                </span>
              </span>
            </span>
          </em>
        </strong>
      </h4>

      <br />

      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <img
          style="
            border-radius: 50%;
            object-fit: cover;
            width: 300px;
            height: 290px;
          "
          src="https://images.pexels.com/photos/9065292/pexels-photo-9065292.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt=""
        />
      </p>

      <br />

      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <a
          class="btn"
          style="
            color: #fff;
            border-radius: 3px;
            text-decoration: none;
            background-color: #ef0000;
            padding: 10px 20px;
            font-size: 14px;
            font-family: Arial, sans-serif;
          "
          href="https://{{ site.domain }}/es/iniciar-sesion"
          ><span style="vertical-align: inherit"
            ><span style="vertical-align: inherit">Iniciar sesión</span></span
          ></a
        >
      </p>
    </div>

    <div
      class="footer"
      style="
        border-top: 1px solid #ddd;
        padding: 20px 0;
        clear: both;
        text-align: center;
      "
    >
      <small style="font-size: 11px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <span style="vertical-align: inherit">
              <span style="vertical-align: inherit">
                Altruism Now Mentors - Todos los Derechos Reservados
              </span>
            </span>
          </span>
        </span>
      </small>
    </div>
  </div>
</div>
