&nbsp;
<div
  style="
    background: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  "
>
  <div style="width: 600px; margin: 0 auto">
    <div
      class="header"
      style="border-bottom: 1px solid #ddd; padding: 20px 0; text-align: center"
    >
      <strong style="font-size: 20px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Estado de la Mentoría | Altruism Now Mentors
          </span>
        </span>
      </strong>
    </div>

    <div class="content" style="padding: 10px 0 40px">
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Ha cambiado el estado de la Mentoría con identificación número {{ user.id }} a: <strong>{{ user.state }}</strong>
          </span>
        </span>
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            {% if user.state == "aceptada" %}
              <span>{{ user.description_confirmation }}</span>
              <br>
              <ul>
                <li>Enlace a la reunión: <a href="{{ user.slug }}">{{ user.slug }}</a></li>
                <li>Fecha y hora estimadas: {{ user.fecha_estimada_reunion }}</li>
                <li>Fecha y hora confirmada: {{ user.fecha_confirmada_reunion }}</li>
              </ul>
            {% elif user.state == "cancelada" %}
              <h4>Motivo de cancelación</h4>
              <span>{{ user.description_cancel }}</span>
            {% endif %}
          </span>
        </span>
      </p>

      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <a
          class="btn"
          style="
            color: #fff;
            border-radius: 3px;
            text-decoration: none;
            background-color: #ef0000;
            padding: 10px 20px;
            font-size: 14px;
            font-family: Arial, sans-serif;
          "
          href="https://{{ site.domain }}/es/iniciar-sesion"
          ><span style="vertical-align: inherit"
            ><span style="vertical-align: inherit">Iniciar sesión</span></span
          ></a
        >
      </p>
    </div>

    <div
      class="footer"
      style="
        border-top: 1px solid #ddd;
        padding: 20px 0;
        clear: both;
        text-align: center;
      "
    >
      <small style="font-size: 11px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <span style="vertical-align: inherit">
              <span style="vertical-align: inherit">
                  Altruism Now Mentors - Todos los Derechos Reservados
              </span>
            </span>
          </span>
        </span>
      </small>
    </div>
  </div>
</div>
