&nbsp;
<div
  style="
    background: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  "
>
  <div style="width: 600px; margin: 0 auto">
    <div
      class="header"
      style="border-bottom: 1px solid #ddd; padding: 20px 0; text-align: center"
    >
      <strong style="font-size: 20px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Sugerencia de Mentoría
          </span>
          <p>Altruism Now Mentors</p>
        </span>
      </strong>
    </div>

    <div class="content" style="padding: 10px 0 40px">
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
        "
      >
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            El mentor {{ user.mentor.user.names }} {{ user.mentor.user.lastnames }} le ha realizado una sugerencia para una mentoria, en su perfil puede encontrar 
            la solicitud para continuar con el proceso.
          </span>
        </span>
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            Mensaje del Mentor:
          </span>
        </span>
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <p>
              {{ user.description_text }}
            </p>
          </span>
        </span>
      </p>

      {% comment %} <h4
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <strong>
          <em>
            <span style="color: #333333; font-family: Arial, sans-serif">
              <span style="vertical-align: inherit">
                <span style="vertical-align: inherit">
                  Cuando el estado de la reunion este aceptado se enviara por correo el enlace a la reunión.
                </span>
              </span>
            </span>
          </em>
        </strong>
      </h4> {% endcomment %}

      <p
        style="
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          font-family: Arial, sans-serif;
          text-align: center;
        "
      >
        <a
          class="btn"
          style="
            color: #fff;
            border-radius: 3px;
            text-decoration: none;
            background-color: #ef0000;
            padding: 10px 20px;
            font-size: 14px;
            font-family: Arial, sans-serif;
          "
          href="https://{{ site.domain }}/es/iniciar-sesion"
          ><span style="vertical-align: inherit"
            ><span style="vertical-align: inherit">Iniciar sesión</span></span
          ></a
        >
      </p>
    </div>

    <div
      class="footer"
      style="
        border-top: 1px solid #ddd;
        padding: 20px 0;
        clear: both;
        text-align: center;
      "
    >
      <small style="font-size: 11px">
        <span style="vertical-align: inherit">
          <span style="vertical-align: inherit">
            <span style="vertical-align: inherit">
              <span style="vertical-align: inherit">
                Altruism Now Mentors - Todos los Derechos Reservados
              </span>
            </span>
          </span>
        </span>
      </small>
    </div>
  </div>
</div>
