@import
  'settings/settings',
  'tools/tools';

@import
  'generic/generic';

@import
  'objects/objects';

  @import 
  'components/header',
  'components/footer',
  'components/breadcrumb',
  'components/band',
  'components/hero',
  'components/banner',
  'components/planes',
  'components/banner_center',
  'components/testimonial',
  'components/contacto',
  'components/noticias',
  'components/about',
  'components/newsletter',
  'components/header_profile',
  'components/cards_profile_pv',
  'components/paginator',
  'components/mentors',
  'components/card-about',
  'components/article',
  'components/calendar',
  'components/banner_public_profile',
  'components/ranking_public_profile',
  'components/alert',
  'components/modal',
  'components/form_filter',
  'components/list_can',
  'components/steps',
  'components/dropdown',
  'components/valores',
  'components/frecuents',
  'components/profile_tabs',
  'components/profile-content',
  'components/notificactions',
  'components/card_notify',
  'components/rating',
  'components/form_validation',
  'components/video';
  
  .loader {
    display: flex;
  }
    
  .loader__item {
    width: 8px;
    height: 8px;
    margin: 4px;
    background: white;
    border-radius: 50%; 
    list-style: none;
    animation: animation-loading 1.2s infinite;
    
    &:nth-child(1) {
      animation-delay: -0.3s;
    }
    &:nth-child(2) {
      animation-delay: -0.15s;
    }
  }
  
  @keyframes animation-loading {
    0% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
    80% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
    
  }
