.c-about__caption {
  font-size: 18px;
  line-height: 1.2;
}

.c-about__list {
  margin-top: 24px;
}

.c-about__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.c-about__ico {
  max-width: 60px;
  margin-right: 20px;
}

.c-about__value,
.c-about__text {
  font-family: "Capriola";
}

.c-about__value {
  font-size: 48px;
  line-height: 1;
  color: $c-primary;
}

.c-about__text {
  margin-top: 8px;
  font-size: 24px;
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  .c-about__img {
    min-width: 100%;
    max-height: 203px;
    margin-bottom: 24px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1023px) {
  .c-about {
    display: flex;
    column-gap: 80px;
    align-items: center;
    justify-content: space-between;
  }

  .c-about__figure {
    flex: 1 1 60%;
  }

  .c-about__list {
    flex: 1 1 40%;
  }

  .c-about__item {
    margin-bottom: 40px;
  }

  .c-about__figure {
    display: flex;
    flex-direction: column;
  }

  .c-about__caption {
    order: 1;
    margin-bottom: 16px;
  }
  .c-about__img {
    order: 2;
  }

  .c-about__text {
    font-size: 28px;
  }

  .c-about__ico {
    max-width: 80px;
  }
}
