.alert {
  @include inline-flex;
  @include justify-content(space-between);
  @include align-items(center);
  max-width: 400px;
  @include px-to-rem(padding, 12px);
  line-height: 1.4;
  color: $c-on-primary-500;
  @include px-to-rem(font-size, 14px);
  background-color: rgba($c-on-primary-300, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(#000, 0.07);
  &:before {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include px-to-rem(width, 24px);
    @include px-to-rem(min-width, 24px);
    @include px-to-rem(max-width, 24px);
    @include px-to-rem(height, 24px);
    @include px-to-rem(margin-right, 14px);
    line-height: 1;
    @include px-to-rem(font-size, 11px);
    border: 3px solid;
  }
}

.o-messages_big {
  text-align: center;

  .alert__lead {
    &::before {
      color: $c-primary-300;
      display: block;
      @include px-to-rem(font-size, 90px);
      @include px-to-rem(margin-bottom, 30px);
    }
  }
}

.alert_error {
  background-color: $c-primary-300;
  color: $c-secondary-500;
}

.alert_success {
  background-color: $c-succes-200;
  color: $c-succes-500;
}

.i-not-available {
  &:before {
    @include px-to-rem(font-size, 30px);
  }
}

.alert__lead {
  @include align-self(center);
}

.alert__close {
  @include align-self(center);
  @include px-to-rem(margin-left, 14px);
  @include px-to-rem(padding-top, 4px);
  @include px-to-rem(font-size, 10px);
  @include px-to-rem(line-height, 28px);
  opacity: 0.6;
  color: inherit;
  transition: all 0.2s ease-in-out;
  &:hover {
    @include px-to-rem(margin-left, 12px);
    opacity: 1;
    @include px-to-rem(font-size, 12px);
  }
}

//  medium    : $bp-medium : 768px
@include media-query(medium) {
  .alert {
    @include px-to-rem(padding, 12px 20px);
    @include px-to-rem(font-size, 16px);
  }
}

// Este breakpoint aplica los estilos al iframe | resources/templates/harvester/contentresourcecollections_form.html
// en 600px
@media screen and (min-width: 495px) {
  .o-messages_big {
    .alert__lead {
      &::before {
        @include px-to-rem(font-size, 135px);
        @include px-to-rem(margin-bottom, 40px);
      }
    }
  }
}
// Alertas segun estructura de Django
// DEFAULT_MESSAGE_LEVELS: https://docs.djangoproject.com/en/2.2/ref/contrib/messages/

// Level Constant |  Tag
// ----------------------------
// ERROR          |   error
// DEBUG          |   debug
// INFO           |   info
// SUCCESS        |   success
// WARNING        |   warning

.o-messages {
  position: fixed;
  top: 66px;
  left: 0;
  z-index: 10000000000000;
  width: 100%;
  overflow: hidden;
}

.o-messages_form {
  position: static;
  @include px-to-rem(margin, 8px 0);
  .alert {
    box-shadow: none;
    @include px-to-rem(font-size, 14px);

    &:before {
      @include px-to-rem(width, 20px);
      @include px-to-rem(min-width, 20px);
      @include px-to-rem(max-width, 20px);
      @include px-to-rem(height, 20px);
    }
  }
}

.o-messages__item {
  list-style: none;
  text-align: center;
  background-color: $c-on-primary-300;
  box-shadow: 0px 2px 2px 0px rgba(#000, 0.07);

  .alert {
    width: 92%;
    max-width: initial;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    color: inherit;
    box-shadow: none;
    background-color: transparent;
  }

  .alert__lead {
    @include flex(1 1);
  }
}

.o-messages__debug,
.o-messages__error {
  .o-messages__item {
    background-color: $c-primary-50;
    color: $c-primary-300;
  }
  .alert {
    &:before {
      content: $i-close;
    }
  }
}

.o-messages__success {
  .o-messages__item {
    background-color: $c-succes-50;
    color: $c-succes-500;
  }
  .alert {
    &:before {
      content: $i-check;
    }
  }
}

.o-messages__warning {
  .o-messages__item {
    background-color: $c-primary-50;
    color: $c-primary-300;
  }
  .alert {
    &:before {
      content: $i-close;
    }
  }
}

.o-messages__info {
  .alert {
    &:before {
      // content: $i-not-available;
      @include px-to-rem(font-size, 30px);
    }
  }
}

.is-messageClose {
  display: none;
}

.has-messageOpen {
  animation: moveOpen 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-height: 100vh;
}

.has-messageClose {
  position: relative;
  max-height: 0;
  overflow: hidden;
  // transform: translateX(-100%);
  transition: all ease-out;
  animation: moveOut 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.o-messages_ico {
  list-style: none;
}

.o-messages__content {
  text-align: center;
}

.o-messages__ico-lead {
  &:after {
    content: "";
    display: block;
    @include px-to-rem(width, 60px);
    @include px-to-rem(height, 60px);
    background-position: center center;
    background-size: contain;
    @include px-to-rem(margin-top, 24px);
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes moveOpen {
  from {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(12px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes moveOut {
  from {
    max-height: 100vh;
  }
  to {
    max-height: 0;
  }
}
