.c-aside__num {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  height: 30px;
  width: 30px;
  border: 1px solid $c-primary-300;
}

.c-aside__title {
  position: relative;
  @include px-to-rem(margin-top, $gutter * 3);
  @include px-to-rem(margin-bottom, $gutter * 3);
  @include px-to-rem(font-size, 18px);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    background-color: $c-primary-400;
  }
}

.c-article__url,
.c-aside__category {
  @include flexbox;
  @include px-to-rem(column-gap, $gutter * 2);
  @include align-items(center);
  @include px-to-rem(padding, 16px);
  border-bottom: 1px solid $c-gray-600;
  &:first-of-type {
    border-top: 1px solid $c-gray-600;
  }
}

.c-aside__category {
  justify-content: space-between;
}

.c-article__figure {
  overflow: hidden;
  max-height: 50px;
  max-width: 50px;
}
.c-article__figure_size {
  width: 100%;
  max-width: 100%;
  max-height: 526px;
  @include px-to-rem(margin-bottom, $gutter * 3);
  box-shadow: $c-shadow-2dp;
}

.c-article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-article__info {
  @include flexbox;
  @include px-to-rem(margin-top, 49px);
  @include px-to-rem(margin-bottom, 35px);
  @include px-to-rem(column-gap, $gutter * 2);
}

.c-article__info_line {
  color: $c-on-primary-500;
}

.c-article__info-date_red,
.c-article__info-category_red {
  color: $c-primary-300;
}

.c-article__title,
.c-article__date {
  @include px-to-rem(font-size, 14px);
}
.c-article__content {
  max-width: 816px;
  margin: 0 auto;

  & > pre {
    white-space: inherit;
  }
}
.c-article__date {
  color: $c-on-primary-50;
}

@include media-query(medium) {
  .c-aside__title {
    &:before {
      left: -32px;
    }
  }
}
