.c-band {
  position: relative;
  color: $c-neutro;
  background-color: $c-primary;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-right: 50px solid #0000;
    border-top: 40px solid #0000;
    border-left: 50px solid #0000;
    border-bottom: 40px solid #ef0000;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    transform: rotate(180deg);
  }
}

.c-band__content {
  padding: 32px;
  text-align: center;
}

.c-band__title,
.c-band__text {
  line-height: 1;
}

.c-band__title {
  margin-bottom: $gutter;
}

@include media-query(medium) {
  .c-band__title,
  .c-band__text {
    font-size: 24px;
  }
}

@include media-query(medium-max) {
  .c-band {
    &::before {
      display: none;
    }
  }

  .c-band__title,
  .c-band__text {
    font-size: 18px;
  }
}
