.c-banner__title_red {
  color: $c-primary;
}
.c-banner__title_lower {
  display: block;
  @include px-to-rem(margin-top, $gutter * 3);
  @include px-to-rem(margin-bottom, $gutter * 3);
  text-transform: none;
  font-family: $f-default;
  font-size: 20px;
}

@include media-query(medium-max) {
  .c-banner__title {
    font-size: 34px;
  }
}
