.c-public-profile {
  @include flexbox;
  @include flex-direction(column);
  align-items: center;
  @include px-to-rem(row-gap, $gutter * 3);
  color: $c-gray-500;
}
.c-public-profile__country {
  @include px-to-rem(font-size, 18px);
  font-weight: $f-extra-bold;
}
.c-public-profile__sm {
  @include flexbox;
  @include px-to-rem(column-gap, $gutter * 2);
}
.c-public-profile__link {
  &:before {
    @include px-to-rem(font-size, 20px);
  }
}
.c-public-profile__country,
.c-public-profile__sm,
.c-public-profile__paragraph {
  @include px-to-rem(margin-bottom, $gutter * 2);
}
.c-public-profile__cta {
  @include px-to-rem(margin-top, $gutter * 4);
}

@include media-query(wide) {
  .c-public-profile {
    @include flex-direction(row);
    @include justify-content(center);
    @include px-to-rem(column-gap, $gutter * 10);
  }
  .c-public-profile__info {
    width: 70%;
  }
}