.c-banner-centered__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1;
}

.c-banner-centered__text {
  margin-bottom: 40px;
}

.c-banner-centered__img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

@include media-query(medium-max) {
  .c-banner-centered__figure {
    margin-bottom: 24px;
  }
}

@include media-query(medium) {
  .c-banner-centered {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
  }
  .c-banner-centered_reverse {
    flex-direction: row-reverse;
  }

  .c-banner-centered__figure {
    @include flex(0 1 50%);
  }

  .c-banner-centered__header {
    @include flex(0 1 50%);
  }

  .c-banner-centered__header {
    .c-banner-centered_reverse & {
      padding-left: 40px;
      padding-right: 0;
      text-align: right;
    }
  }

  .c-banner-centered__figure {
    order: 2;
    height: 100%;
  }

}
