.c-breadcrumb {
  position: relative;
  color: $c-neutro;
}

.c-breadcrumb__img {
  min-width: 100%;
  height: 170px;
  object-fit: cover;
}

.c-breadcrumb__content {
  @include flexbox;
  @include align-items(center);
  background-color: #f9f9f9;
}

.c-breadcrumb__wrap {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-wrap(wrap);
  padding: 16px 24px;
}

.c-breadcrumb__title {
  margin-right: 24px;
  font-size: 24px;
  line-height: 1;
  color: $c-on-primary-500;
}

.c-breadcrumb__nav {
  line-height: 1;
}

.c-breadcrumb__label,
.c-breadcrumb__link {
  color: $c-on-primary-500;
}

.c-breadcrumb__label {
  margin-right: 24px;
  font-family: $f-title;
  font-size: 14px;
}

.c-breadcrumb__link {
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &::after {
    margin: 0 16px;
    font-size: 12px;
  }
}

.c-breadcrumb__page {
  color: $c-primary;
}
