.c-calendar__header {
  @include px-to-rem(margin-bottom, $gutter * 10);

  .o-headline {
    margin-bottom: 0;
  }
}

@include media-query(medium-max) {
  .c-calendar__header {
    .o-headline {
      @include px-to-rem(margin-bottom, $gutter * 2);
    }
  }
}

@include media-query(medium) {
  .c-calendar__header {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .o-headline {
      margin-bottom: 0;
    }
  }
}
