.c-card-notify {
  border-bottom: 1px solid #dcd9d9;
  padding: 16px 0;
  margin-bottom: 40px;
}

.c-card-notify__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
}

.c-card-notify__figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $c-primary;
  overflow: hidden;
}
.c-card-notify__figure_emprendedor {
  border-color: $c-surface-cyan-76;
}


.c-card-notify__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-card-notify__content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
}
.c-card-notify__content-header {
  padding-bottom: 24px;
}

.c-card-notify__title {
  font-size: 18px;
  line-height: 1;

  small {
    display: block;
    font-size: 12px;
    color: #b5afaf;
  }
}

.c-card-notify__title-link {
  transition: all 0.2s ease-in;

  &:hover {
    color: $c-surface-cyan-76
  }

  &_mentor {
    &:hover {
      color: $c-primary-400;
    }
  }
}

.c-card-notify__text {
  @include ellipsis-multiline(16px, 1.2, 2);
}

.c-card-notify__bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 32px;
  border-top: 1px solid #dcd9d9;
  margin-top: 16px;
}

.c-card-notify__flag {
  position: absolute;
  bottom: 106%;
  right: 0;
  width: 100%;
  display: block;
  width: max-content;
  background: #ffbb57;
  border-radius: 50px;
  padding: 3px 16px;
  font-family: 'Capriola';
  font-size: 11px;
}

.c-card-notify__bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  flex-wrap: wrap;
  row-gap: 16px;

  h3 {
    border-radius: 50px;
    padding: 6px 32px;
    font-family: "Capriola";
    text-align: center;
    background: #f5f5f5;
  }

  .o-btn {
    font-size: 11px;
  }
}

.c-card-notify__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  overflow: hidden;

  .o-link {
    width: 1000px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.c-card-notify__bottom-date {
  font-family: $f-title;
  font-size: 14px;
}
.c-card-notify__bottom-date_top {
  padding-top: 24px;
}

.c-card-notify__bottom-text {
  margin-bottom: 16px;

  &.u-margin-bottom-0 {
    margin-bottom: 0;
  }

  .o-link {
    display: inline-block;
    text-transform: none;
  }

  strong {
    font-family: $f-title;
    font-size: 14px;
  }
}

.c-card-notify__bottom-link {
  @include ellipsis-change-font-size(16px, 1.1, 1)}

.c-card-notify_decline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: $c-surface-cyan-76;
  font-family: $f-title;
  transition: all 0.2s ease-in;

  .loader__item {
    background-color: $c-surface-cyan-76;
  }

  &:hover {
    transform: scale(0.95);
  }

  &::before {
    margin-left: 8px;
    border-radius: 50px;
    border: 2px solid $c-surface-cyan-76;
    font-size: 11px;
    padding: 7px;
  }
}

.c-card-notify__state {
  font-family: $f-title;
  font-size: 12px;

  &_espera {
    color: $c-warning-500;
  }

  &_aceptada {
    color: $c-surface-cyan-76;
  }

  &_cancelado {
    color: $c-primary-600;
  }
}

.c-card-notify__actions_flag {
  width: 250px;
  text-align: center;

  .c-header-profile__tag {
    margin-bottom: 0;
  }
}

.c-tabs__notify-msg {
  font-family: $f-title;
  font-size: 18px;
  text-align: center;
}


@include media-query(medium) {
  .c-card-notify__bottom-header {
    h3 {
      width: 400px;
    }
  }
}

@media screen and(max-width: 1114px) {
  .c-card-notify__flag {
    position: static;
    width: 100%;
    display: block;
    background: #ffbb57;
    border-radius: 50px;
    padding: 3px 16px;
    font-family: 'Capriola';
    font-size: 11px;
    margin-bottom: 16px;
  }
}
