.c-card-profile {
  width: 100%;
  border: 1px solid $c-gray-500;
}

.c-card-top,
.c-card-center {
  @include px-to-rem(padding, $gutter * 3);
}

.c-card-top {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include px-to-rem(column-gap, $gutter * 6);
  @include px-to-rem(padding, $gutter * 3);
  background-color: $c-gray-500;
}

.c-card-top__number {
  @include px-to-rem(font-size, 40px);
  font-weight: $f-extra-bold;
  color: $c-on-primary-300;
}

.c-card-center__person {
  @include flexbox;
  flex-wrap: wrap;
  @include px-to-rem(row-gap, $gutter * 3);
  @include px-to-rem(column-gap, $gutter * 8);
}

.c-card-center__description {
  @include px-to-rem(margin-top, $gutter * 3);
}

.c-card-cta {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-evenly);
  @include px-to-rem(row-gap, $gutter * 3);
  @include px-to-rem(column-gap, $gutter * 8);
  @include px-to-rem(padding, 0 $gutter * 3 $gutter * 3);
}

@media only screen and (max-width: 400px) {
  .c-card-top__number {
    @include px-to-rem(font-size, $gutter * 3);
  }
}

@media only screen and (min-width: 1024px) {
  .c-card-profile {
    max-width: 500px;
  }
}
