.c-card-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.c-card-about__content {
  line-height: 1.2;

  .o-bg & {
    color: $c-neutro;
  }
}

.c-card-about__title {
  margin-bottom: 16px;

  .o-bg & {
    color: $c-neutro;
  }
}

.c-card-about__title_sm {
  font-size: 20px;
  font-family: $f-title;
}

.c-card-about__text {
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .c-card-about__figure,
  .c-card-about__content {
    flex: 1 1 100%;
  }
}

@media (min-width: 768px) {
  .c-card-about__figure,
  .c-card-about__content {
    flex: 1 1 45%;
  }
}
