.c-contact__title {
  @include px-to-rem(font-size, 28px);
  font-weight: $f-extra-bold;
  line-height: 1;
}

.c-contact__text {
  @include px-to-rem(margin-bottom, $gutter * 3);
  @include px-to-rem(font-size, 21px);
  font-weight: $f-semi-bold;
  line-height: 1;
  margin-top: 16px;
  color: $c-gray-500;
}

.c-contact__text_gray {
  margin-top: 16px;
  line-height: 1.2;
  font-size: 18px;
  color: $c-on-primary-500;
}

.c-contact_cta {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include px-to-rem(column-gap, $gutter * 4);
  @include px-to-rem(row-gap, $gutter * 2);

  .o-link {
    font-size: 14px;
    font-family: $f-title;
  }
}

.c-contact_cta_top {
  margin-top: 40px;
}

.c-valores {
  margin-top: 32px;
  padding: 32px;
  background-color: #eff7ff;
}

.c-valores__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    line-height: 1.1;
  }
}

.swiper.swiper-valores {
  width: 240px;
  height: 320px;
}

.swiper-valores .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

.swiper-valores .swiper-slide:nth-child(1n) {
  background-color: #fff8df;
}

.swiper-valores .swiper-slide:nth-child(2n) {
  background-color: #00e1ad;
}

.swiper-valores .swiper-slide:nth-child(3n) {
  background-color: #edf4f9;
}

.swiper-valores .swiper-slide:nth-child(4n) {
  background-color: #f6efed;
}
