.c-dropdown__wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
}

.c-dropdown__title {
  padding: 16px 24px;
  background: $c-primary;
  color: #fff;
  font-family: "Capriola";
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  cursor: pointer;

  &::before {
    display: block;
    transform: rotate(90deg);
    font-weight: 800;
    transition: all 0.2s ease;

    .is-dropdown-active & {
      transform: rotate(270deg);
    }
  }
}

.c-dropdown__content {
  margin-top: 24px;
  padding: 0 16px;
  max-height: 1000px;
  font-size: 18px;
  transition: all 0.2s ease;
  overflow-y: hidden;

  .is-dropdown-active & {
    max-height: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .c-dropdown {
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 1024px) {
  .c-dropdown__wrap {
    justify-content: space-between;
  }

  .c-dropdown {
    flex: 1 1 45%;
  }
}
