.c-footer {
  color: $c-on-primary-600;
  background-color: #f9f9f7;
}
.c-footer_flex {
  @include flexbox;
  flex-wrap: wrap;
  @include px-to-rem(row-gap, $gutter * 3);
  @include px-to-rem(column-gap, 120px);
}
.c-footer__figure {
  max-width: 220px;
  @include px-to-rem(margin-bottom, $gutter * 3);
}
.c-footer__text {
  max-width: 400px;
  font-family: $f-title;
  font-size: 14px;
  line-height: 1.2;
}
.c-footer__title {
  font-family: $f-title;
  font-size: 14px;
  text-transform: uppercase;
  @include px-to-rem(margin-bottom, $gutter * 3);
}

.c-footer__list {
  list-style: none;
}
.c-footer__item {
  @include flexbox;
  @include px-to-rem(font-size, 18px);
  @include px-to-rem(margin-bottom, $gutter * 2);

  &::before {
    color: $c-primary;
    @include px-to-rem(margin-right, $gutter);
    font-size: 14px;
    font-weight: 800;
  }
}
.c-footer__item-txt,
.c-footer__link {
  line-height: 1;
}
.c-footer__link {
  display: block;
  @include px-to-rem(margin-top, $gutter);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.c-footer__link_margin {
  margin-top: 0;
}

.c-footer__border {
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid $c-gray-600;
  line-height: 1.2;
}

.c-footer__label {
  margin-bottom: 4px;
}

.c-footer__copyright {
  display: block;
  text-align: center;
  @include px-to-rem(padding, $gutter 0);
  @include px-to-rem(font-size, 14px);
  background-color: #ececec;
}

.c-top-menu__sm-item {
  .c-footer & {
    color: $c-neutro;
    background-color: $c-primary;

    &:hover {
      color: $c-primary;
      background-color: $c-neutro;
    }
  }
}

.c-footer__column {
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 992px) {
  .c-footer__brand {
    display: flex;
    align-items: center;
  }

  .c-footer {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 15%;
      height: 0;
      border-right: 0 solid #0000;
      border-bottom: 345px solid $c-gray-700;
      border-left: 140px solid #0000;
      z-index: 1;
    }
  }
}
