.c-form-validation {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.2s ease-in;

  .btn_siguiente {
    margin-right: 80px;
    display: block;
    margin-left: auto;
    margin-bottom: 40px;

    &.is-disabled {
      pointer-events: none;
      opacity: .5;
    }

    &.opacity0 {
      opacity: 0;
    }
  }


  .is-form-show-questions & {
    margin-top: 80px;
    max-height: 1800px;
    overflow: visible;
  }

  label {
    display: block;
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }

  .swiper {
    margin-top: 40px;
    border: 1px solid $c-gray-600;
    border-radius: 60px;

    &.is-finally {
      border-color: transparent;
    }
  }
}

.c-form-validation__title {
  margin-bottom: 16px;
}
#boton-volver-intentarlo {
  .allgood & {
    display: none;
  }
}

.c-form-validation__text {
  text-align: center;
  display: block;
}

.c-form-validation {
  form {
    margin-top: 40px;

    div {
      padding: 40px 80px 0;

      &.not-border {
        border-color: transparent;
      }

      p {
        font-family: 'Capriola';
      }

      .list-label {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }
    }
  }

  .swiper {
    width: 100%;
    height: auto;
  }
}

.o-msj-question__title {
  font-size: 36px;
}


@media screen and(max-width: 768px) {
  .c-form-validation {
    form {
      div {
        padding: 0 16px;
      }
    }
  }
}
