.c-form-filter {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);
  row-gap: 20px;
}

.c-form-filter__box {
  position: relative;
  @include flex(0 1 49%);
  @include px-to-rem(padding, $gutter * 2);
  @include px-to-rem(margin-bottom, $gutter * 2);
  border: 1px solid transparent;
  background-color: #f8f8f8;

  &.is-open-menu {
    border-color: $c-primary;
  }

  .c-submenu {
    width: 100%;
  }
}

.c-form-filter__btn {
  @include flexbox;
  @include flex-direction(row-reverse);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;

  &::before {
    transform: rotate(90deg);
    transition: all 0.3s ease;
  }

  .is-open-menu & {
    &::before {
      transform: rotate(270deg);
    }
  }
}

@include media-query(medium-max) {
  .c-form-filter__box {
    @include flex(0 1 100%);
  }
}
