.c-frecuents__box {
  margin-bottom: 32px;
}

.c-frecuents__title {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 8px 16px;
  font-family: "Capriola";
  color: $c-neutro;
  background: $c-primary;

  small {
    font-size: 12px;
    line-height: 1;
  }
}

.c-frecuents__list {
  padding: 32px;
  list-style: none;
}

.c-frecuents__item {
  margin-bottom: 24px;
}

.c-frecuents__item-title {
  font-family: "Capriola";
  font-size: 18px;
  margin-bottom: 8px;
}

.c-frecuents__item-text {
  font-size: 18px;
  line-height: 1.2;
}
