.c-header__top {
    color: $c-neutro;
    background-color: $c-primary;
}

.c-header__top-wrap {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
}

.c-top-menu__sm-mail {
    position: relative;
    padding-left: 8px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 1px;
        height: 20px;
        background-color: $c-neutro;
    }

    &:hover {
        transform: scale(0.9);
    }
}

.c-header__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    .c-footer & {
        justify-content: flex-start;
    }
}

.c-header__social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: $c-neutro;
    border-radius: 50%;
    color: $c-primary;
    margin-right: 8px;
    transition: all 0.2s ease-in;

    &:hover {
        transform: scale(0.9);
    }
}

.c-header__top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.c-header__nav {
    font-family: "Capriola";
    font-weight: 800;
    font-size: 12px;
    column-gap: 32px;
    text-transform: uppercase;
}

.c-header__menu {
    background-color: $c-neutro;
    box-shadow: 1px 7px 6px -6px rgba(0, 0, 0, 0.4);
    z-index: 10000;
}

.c-header__menu-link {
    position: relative;
    padding: 8px 0;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        bottom: 8px;
        width: 0;
        height: 2px;
        border-radius: 5px;
        right: 0;
        left: 0;
        background: $c-primary;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }

    &:hover,
    &.is-active {
        &::before {
            width: 100%;
            opacity: 1;
        }
    }

}

.c-header__menu-link-login {
    display: inline-block;
    font-family: $f-title;
    font-size: 14px;

    &:hover {
        color: $c-primary;
    }
}

.c-header__menu-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-header__figure {
    max-width: 120px;
    padding: 8px 10px;
}

.c-header__burger {
    font-size: 32px;
    line-height: 1;
    color: $c-primary;
}

.c-menu__user {
    position: relative;
    height: 100%;

    &:hover {
        .c-menu__user-btn {
            &::before {
                transform: rotate(270deg);
            }
        }

        .c-menu__user-nav {
            top: 100%;
            opacity: 1;
            z-index: 10000;
        }
    }
}

.c-menu__cta {
    margin-right: $gutter * 2;
}

.c-menu__user-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 24px;
    height: 100%;
    padding: 0 16px;
    background-color: #f5f5f5;

    &::before {
        display: block;
        color: $c-primary;
        transform: rotate(90deg);
        transition: all 0.2s ease-in;
    }
}

.c-menu__user-figure {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.c-menu__user-img {
    border: 2px solid $c-primary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

    &.is-emprendedor {
        border-color: $c-surface-cyan-76;
    }
}

.c-menu__user-caption {
    font-family: $f-title;
}

.c-menu__user-nav {
    position: absolute;
    top: -1000px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    background-color: $c-neutro;
    box-shadow: 1px 7px 6px -6px rgba(0, 0, 0, 0.4);
    opacity: 0;
    text-align: left;
    border: 1px solid #e3edf6;
}

.c-menu__user-link {
    width: 100%;
    display: block;
    padding: 8px 24px;
    font-family: $f-title;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        color: $c-neutro;
        background-color: $c-primary;
    }

    &::after {
        margin-left: 16px;
        font-size: 16px;
    }
}

.c-menu__user-link_bell {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 4px;
        right: 75px;
        width: 8px;
        height: 8px;
        background-color: #ef0000;
        border-radius: 50%;
    }
}

.c-menu__actions {
    &.c-menu__actions-session {
        align-self: stretch;
    }
}

@include media-query(medium-max) {
    .c-header__mb-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 10;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        justify-content: center;
        transform: translateX(1000px);
        transition: all 0.3s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;

        .is-show-menu-mb & {
            transform: translateX(0);
        }

        .c-header__figure {
            max-width: 150px;
        }

        .c-header__nav {
            display: flex;
            flex-direction: column;
            max-width: max-content;
            row-gap: 4px;
        }

        .c-header__menu-link {
            padding-top: 0;
            padding-bottom: 0;
        }

        .c-menu__actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid;
            width: 100%;
            row-gap: 16px;
            padding-top: 40px;
            max-width: 250px;
        }

        .c-menu__user-btn {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .c-menu__actions {
            &.c-menu__actions-session {
                margin: 0 auto;
            }
        }
    }

    .c-header__mb-link-login {
        font-family: $f-title;
        font-size: 14px;
        color: $c-primary;
    }

    .c-header__mb-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 32px 32px 0 0;
        color: $c-primary-600;
        font-size: 24px;
    }
}

@include media-query(medium) {
    .c-header {
        position: sticky;
        top: 0;
        z-index: 1000000;
    }

    .c-header__nav {
        display: flex;
    }

    .c-menu__actions {
        text-align: center;
    }

    .c-menu__user-btn {
        min-width: 250px;
        justify-content: center;
    }
}
