.c-header-profile {
    min-height: 264px;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-image: url('../img/fondo_mentores.png');
}

.c-header-profile__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.c-header-profile__figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid $c-primary;

    .is-emprendedor & {
        border-color: $c-surface-cyan-76;
    }
}

.c-header-profile__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-header-profile__actions {
    width: 315px;
    text-align: center;
}

.c-header-profile__days {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8px;
    font-size: 13px;
    margin: 8px 0;
    color: $c-primary;
}

.c-header-profile__days-title {
    font-family: $f-title;
}

.c-header-profile__days-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;

    li {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 62%;
            margin: auto;
            right: -7px;
            background: $c-primary;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}

.c-header-profile__title {
    font-family: "Capriola";
    font-weight: 800;
    font-size: 24px;
    color: $c-primary;

    .is-emprendedor & {
        color: $c-surface-cyan-76;
    }
}

.c-header-profile__tag {
    display: block;
    border-radius: 50px;
    margin-bottom: 16px;
    padding: 2px 8px;
    font-size: 18px;
    color: $c-neutro;
    background: $c-primary;

    .is-emprendedor &,
    .c-card-notify__top & {
        background-color: $c-surface-cyan-76;
    }
}

.c-header-profile__tag_outline {
    border: 1px solid $c-primary;
    color: $c-primary;
    background-color: transparent;

    .is-emprendedor & {
        color: $c-surface-cyan-76;
        border-color: $c-surface-cyan-76;
        background-color: transparent;
    }
}

.c-header-profile__info {
    height: 100%;
    min-height: 264px;
    padding: 40px 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    color: $c-neutro;
    font-size: 14px;
    background: $c-primary;

    .is-emprendedor & {
        background-color: $c-surface-cyan-76;
    }
}

.c-header-profile__info-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $c-neutro;
    margin-bottom: 8px;
    padding: 0 8px;
    font-weight: 700;
    font-family: $f-title;

    &:last-child {
        justify-content: center;
        border-bottom: #0000;
    }

    span {
        padding-left: $gutter * 2;
        font-family: "antic";
    }
}

.c-header-profile__number {
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 32px 16px;
    max-width: 350px;
}

.c-header-profile__number-num {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid $c-primary;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 87px;
    font-family: "Capriola";
    line-height: 1;
    color: $c-primary;

    .is-emprendedor & {
        border-color: $c-surface-cyan-76;
        color: $c-surface-cyan-76;
    }
}

.c-header-profile__number-text {
    font-size: 22px;
    font-family: "Capriola";
    line-height: 1;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;
    color: $c-primary;

    .is-emprendedor & {
        color: $c-surface-cyan-76;
    }
}

.c-header-profile__flex {
    &_column {
        flex-direction: column;
        padding-bottom: 24px;
        background-color: #f5f5f5;
    }
}

@media screen and(max-width: 939px) {
    .c-header-profile__flex {
        flex: 1 100%;
        display: flex;
        justify-content: center;
        padding: 24px 0;
    }
}

@media screen and(min-width: 940px) {
    .c-header-profile__wrap {
        position: relative;
        height: 100%;
    }

    .c-header-profile__flex {
        display: flex;
        align-items: center;

        &_column {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .c-header-profile__flex_margin {
        margin-left: 10%;
    }

    .c-header-profile__info {
        width: 350px;
    }
}

@media screen and(min-width: 1200px) {
    .c-header-profile__flex_margin {
        margin-left: 10%;
    }
}
