.c-hero {
  overflow: hidden;
}

.c-hero__title {
  line-height: 1.2;
  margin-bottom: 16px;
}

.c-hero__text {
  line-height: 1.2;
  margin-bottom: 24px;
}

.c-hero__actions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
}

.c-hero__img {
  min-width: 100%;
}

@include media-query(wide-max) {
  .c-hero__content {
    padding: 24px 0;
  }

  .c-hero__figure {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: none;
      z-index: 8;
    }
  }

  .c-hero__actions {
    margin-top: 40px;

    .o-btn {
      width: 100%;
    }
  }
}

@include media-query(wide) {
  .c-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(87deg, #fff0 17%, #fff3 33%, #fff6 38%, #fffc 44%, #fff 64%);
      z-index: 8;
    }
  }

  .c-hero__figure {
    flex: 1 1 70%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .c-hero__content {
    max-width: 700px;
    padding-right: 24px;
  }

  .c-hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .c-hero__canvas {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
  }

  .c-hero__title {
    font-size: 26px;
  }

  .c-hero__text {
    font-size: 20px;
  }

  .c-hero__actions {
    margin-top: 80px;
  }
}
