.c-list-can__title {
  font-size: 28px;
  margin-bottom: 16px;
}

ul {
  .c-list-can & {
    list-style: none;
    font-size: 24px;
  }
}

li {
  .c-list-can & {
    position: relative;
    padding-left: 60px;

    &::before {
      content: $i-chevron-right;
      font-family: #{$font-family-ico};
      position: absolute;
      left: 0;
      top: 9px;
      font-size: 16px;
      border: 2px solid;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.c-list-can__action {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
  width: 100%;
}

@include media-query(medium) {
  .c-contact__text_width {
    max-width: 55%;
    margin-bottom: 0;
  }
}

@include media-query(medium-max) {
  .c-band {
    &::before {
      top: 106px;
    }
  }

  .c-list-can__title {
    font-size: 18px;
  }

  ul {
    .c-list-can & {
      font-size: 18px;
    }
  }

  li {
    .c-list-can & {
      position: relative;
      padding-left: 40px;
    }
  }

  .c-list-can__action {
    .o-btn {
      width: 100%;
    }
  }
}
