.c-card-mentor-v2 {
  display: block;
  flex: 1 1 30%;
}

.c-card-mentor-v2__header {
  background: #f00;
  padding: 24px 24px 16px;
  text-align: center;
  color: #fff;
  line-height: 1;
}
.c-card-mentor-v2__header_emprendedor {
  background-color: $c-surface-cyan-76;
}

.c-card-mentor-v2__figure {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
}

.c-card-mentor-v2__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-card-mentor-v2__title {
  margin-top: 16px;
  font-family: Capriola;
  font-size: 20px;
}

.c-card-mentor-v2__subtitle {
  font-family: "Capriola";
  font-size: 14px;
  margin-top: 8px;
}

.c-card-mentor-v2__txt {
  margin: 16px 0;
}

.c-card-mentor-v2__date {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  max-width: 260px;
  margin: 0 auto;

  h4 {
    font-family: "capriola";
    font-size: 14px;
  }
}

.c-card-mentor-v2__content {
  padding: 24px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .c-header-profile__list {
    padding: 0;
    margin-bottom: 32px;
  }

  .c-header-profile__list-item {
    margin-bottom: 16px;
  }

  .c-header-profile__list-txt {
    max-width: 150px;
    line-height: 1.2;
    font-weight: 100;
  }
}

.c-card-mentor-v2__content-title {
  font-family: "Capriola";
  max-width: 230px;
  line-height: 1;
  margin-bottom: 24px;
}

@include media-query(medium) {
  .c-card-mentor-v2 {
    max-width: 353px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .c-card-mentor-v2__content {
    height: 100%;
  }
}
