.c-modal {
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 0;
  background: rgba($c-on-primary-300, 0.97);
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
  z-index: 100;

  &.is-form-show {
    background: $c-neutro;
  }
}

.c-modal_black {
  background: black;
}

.c-modal_message {
  z-index: 10000;

  .c-modal__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-modal__content {
    text-align: center;
  }

  h4,
  h3 {
    font-family: $f-title;
    font-size: 14px;
  }

  .o-btn {
    margin-top: 20px;
  }
}

.c-modal_filter {
  backdrop-filter: blur(4px);
}

.c-modal__box {
  overflow: auto;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 150px);
  @include px-to-rem(padding, 0 20px 20px);
}
.c-modal__box_0 {
  padding: 0;
}

.c-modal__content {
  position: relative;
  max-width: 780px;
  margin: 0 auto;
  padding: 40px;
  background-color: $c-neutro;
  box-shadow: $c-shadow-4dp;
  transition: all 0.2s ease-in;

  .is-form-show & {
    max-width: 100%;
    box-shadow: none;
  }

  .c-modal_black & {
    background-color: black;
  }
}

.c-modal_black.is-form-show .c-modal__content {
  background-color: white;
}

.c-modal__content_500 {
  max-width: 500px;
}

.c-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
  font-size: 24px;
  color: $c-primary-400;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}

// Estado Modal open
.is-modal_visible {
  top: 0;
  height: 100%;
  visibility: visible;
  opacity: 1;
  z-index: 90000000;

  &.c-modal_cover {
    height: calc(100vh - 60px);
  }
}

.c-modal__title,
.c-modal__text {
  margin-bottom: 16px;
}

.c-modal__text_strong {
  font-family: $f-title;
  font-size: 16px;
}

@include media-query(medium-max) {
  .c-modal__content {
    padding: 20px;
  }
  .c-modal__content_p0 {
    padding-right: 0;
    padding-left: 0;
  }
}
