.c-newsletter {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include px-to-rem(column-gap, $gutter * 10);
  @include px-to-rem(row-gap, $gutter * 5);
}

.c-newsletter__title {
  @include px-to-rem(font-size, 32px);
  font-weight: $f-extra-bold;
  text-transform: uppercase;
}

.c-newsletter__form {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  @include px-to-rem(column-gap, $gutter * 3);
  @include px-to-rem(row-gap, $gutter * 3);

  input {
    padding: 16px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;

    &::placeholder {
      font-style: italic;
      color: rgba($c-on-primary-500, 0.5);
    }
  }

  .o-btn {
    @include flex(0 1 20%);
  }
}

@include media-query(medium-max) {
  .c-newsletter__form {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

@include media-query(medium) {
  .c-newsletter {
    @include flex-direction(row);
  }

  .c-newsletter__title {
    max-width: 340px;
  }

  .c-newsletter__form {
    input {
      width: 300px;
    }
  }
}
