.c-tabs-notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.c-tabs-notify__btn {
  flex: 1 1 100%;
  border-bottom: 2px solid #dcd9d9;
  padding: 8px;
  font-family: $f-title;
  text-align: center;

  &.active {
    border-bottom: 4px solid $c-primary-400;
    color: $c-primary-400;
  }
}

.c-tabs-notify__content {
  margin: 40px 0;
}

.c-tabs-botify__bubble {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 20px;
  color: $c-neutro;
  background: $c-primary-400;
}

@include media-query(medium) {
  .c-tabs-notify__btn {
    flex: 1 1 auto;
  }
}
