.c-card-list {
  @include flexbox;
  @include justify-content(center);
  @include px-to-rem(row-gap, $gutter * 5);
  @include px-to-rem(column-gap, $gutter * 5);
  flex-wrap: wrap;
}

.c-card {
  position: relative;
  min-height: 100%;
  max-width: 395px;
  box-shadow: $c-shadow-4dp;
}
.c-card_height {
  min-height: auto;
}

.c-card__tag {
  position: absolute;
  right: 16px;
  top: 16px;
  width: fit-content;
  @include px-to-rem(padding, 4px $gutter);
  color: $c-gray-500;
  text-transform: uppercase;
  background-color: $c-primary-300;
  font-size: 12px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(0.98);
    background-color: $c-primary;
  }
}
.c-card__figure {
  height: 260px;
  max-height: 260px;
  overflow: hidden;
}
.c-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-card__info {
  @include px-to-rem(padding-top, $gutter * 5);
  @include px-to-rem(padding-left, $gutter * 4);
  @include px-to-rem(padding-right, $gutter * 4);
  @include px-to-rem(padding-bottom, $gutter * 4);
}
.c-card__title {
  @include px-to-rem(margin-bottom, $gutter);
  font-family: $f-title;
  @include px-to-rem(font-size, $gutter * 2);
  line-height: calc(30 / 24);
  font-weight: $f-extra-bold;
}

.c-card__paragraph {
  @include ellipsis-multiline(16px, 1.2, 2);
}

.c-card__footer {
  @include flexbox;
  @include flex-direction(column);
}

.c-card__date {
  @include px-to-rem(margin-top, $gutter);
  @include px-to-rem(font-size, 14px);
  font-weight: $f-bold;
}
