.c-paginator {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}
.c-paginator__content {
  @include flexbox;
  @include px-to-rem(column-gap, $gutter * 3);
}

.c-paginator__btn-prev {
  &::before {
    display: inline-block;
    transform: rotate(180deg);
  }
}
.c-paginator__btn-next,
.c-paginator__btn-prev,
.c-paginator__number {
  display: inline-flex;
  @include justify-content(center);
  @include align-items(center);
  height: 48px;
  width: 48px;
  border: 1px solid $c-secondary-600;
  color: $c-secondary-600;
  @include px-to-rem(font-size, 24px);
  &::before {
    color: $c-secondary-600;
    @include px-to-rem(font-size, 24px);
  }

  &:hover {
    background-color: $c-secondary-50;
    border: 1px solid $c-secondary-50;
  }
}

.c-paginator__points {
  color: $c-secondary-600;
  @include px-to-rem(font-size, 24px);
}


.c-paginator__number-active {
  background-color: $c-secondary-50;
  border: 1px solid $c-secondary-50;
}
