.c-planes {
  @include flexbox;
  @include flex-direction(column);
  @include px-to-rem(column-gap, $gutter * 3);
  @include px-to-rem(row-gap, $gutter * 3);
}

.c-plan {
  @include flexbox;
  @include flex-direction(column);
}

.c-plan__title {
  @include px-to-rem(margin-bottom, 16px);
  @include px-to-rem(font-size, 24px);
  font-family: $f-title;
  font-weight: $f-extra-bold;
  word-break: break-all;
  text-align: center;
  line-height: 1;
  color: $c-neutro;
}

.c-plan__title_line-withe {
  &:before {
    background-color: $c-gray-500;
  }
}

.c-plan__figure {
  padding: 0 16px;
  height: 270px;
}

.c-plan__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-plan__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 464px;
  padding: $gutter * 4;
  background-color: $c-primary;
}

// Richtext card plans
ul {
  .c-planes & {
    list-style-type: none;
    font-size: 14px;
    color: $c-neutro;
  }

  .c-list-whyus__caption & {
    color: $c-on-primary-500;
  }
}

li {
  .c-planes & {
    position: relative;
    @include px-to-rem(padding-bottom, $gutter * 2);
    @include px-to-rem(padding-left, $gutter * 4);
    &::before {
      content: $i-chevron-right;
      font-family: #{$font-family-ico};
      position: absolute;
      left: 0;
      top: -6px;
      @include px-to-rem(font-size, 20px);
      color: $c-neutro;
    }
  }

  .c-list-whyus__caption & {
    color: $c-on-primary-500;
    font-family: $f-title;
    font-size: $gutter * 2;
    line-height: 1.2;

    &::before {
      color: $c-on-primary-500;
    }
  }
}

.c-plan__cta {
  display: block;
  margin: 0 auto;
}

.c-plan__list {
  margin-top: 24px;
  padding-left: 32px;
  li {
    font-size: 24px;
    font-family: $f-subtitle;
  }
}

.c-list-whyus_mt {
  margin-top: $gutter * 10;
}

.c-list-whyus__title {
  margin-bottom: $gutter * 2;
  font-size: 24px;
  line-height: 1.2;
}

@media (max-width: 1023px) {
  .c-plan__title {
    font-size: 20px;
  }

  .c-plan__content {
    padding: 16px;
  }

  .c-list-whyus__img {
    min-width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }

  .c-list-whyus__caption {
    margin-top: 24px;
  }
}

@include media-query(large) {
  .c-planes {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
  }

  .c-plan {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .c-plan_full {
    max-width: 100%;
  }

  .c-list-whyus__figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: $gutter * 4;
  }

  .c-list-whyus__img {
    min-width: 45%;
    flex: 1;
  }
}
