.c-profile-tabs {
  margin-top: 32px;
  padding-bottom: 16px;
  border-bottom: 2px solid #dcd9d9;
}

.c-profile-tabs__item {
  font-family: $f-title;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 24px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.c-profile-tabs__item_active {
  border-color: $c-primary;
  color: $c-primary;

  .is-emprendedor & {
    border-color: $c-surface-cyan-76;
    color: $c-surface-cyan-76;
  }
}
