.c-header-profile__list {
  width: 100%;
  padding: 0 24px 24px;
  background: #f5f5f5;
  font-family: "Capriola";
}

.c-header-profile__list-title {
  margin-bottom: 24px;
}

.c-header-profile__list-item {
  font-size: 13px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: $gutter;
}

.c-header-profile__list-figure {
  position: relative;
  display: block;
  width: 70px;
  height: 13px;
  background: rgba($color: $c-primary, $alpha: 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    margin: auto;
    background: $c-primary;
  }

  .is-emprendedor & {
    background: rgba($color: $c-surface-cyan-76, $alpha: 0.5);

    &::before {
      background-color: $c-surface-cyan-76;
    }
  }
}

.c-header-profile__list-txt {
  max-width: 232px;
}

.c-header-profile__experience {
  width: 100%;
  padding: 0 24px 24px;

  h3 {
    font-size: 20px;
    font-family: "Capriola";
    margin-bottom: 8px;
  }

  ul {
    max-width: 300px;
    list-style: none;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 16px;

    strong {
      font-family: "Capriola";
      margin-right: 8px;
    }

    li {
      a {
        word-break: break-word;
      }
    }
  }

  .ul-bottom {
    padding-top: 24px;
  }
}

.c-profile-content__title {
  font-family: "Capriola";
  font-size: 18px;
  max-width: 250px;
  line-height: 1;
  margin-bottom: 24px;
  color: $c-primary;

  .is-emprendedor & {
    color: $c-surface-cyan-76;
  }
}

.c-profile-content__bold {
  font-family: $f-title;
}

.c-profile-content__description {
  margin: 16px 0;
}

.c-profile-content__border {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: $gutter * 2;
  padding: $gutter * 2 0;

  ul {
    list-style: none;

    li {
      margin-bottom: $gutter;
    }

    h5 {
      font-family: $f-title;
      font-size: 16px;
    }
  }
}

.c-profile-content__subtitle {
  font-size: 18px;
  font-family: $f-title;
  margin-bottom: $gutter * 2;
}

.c-profile-content__coma {
  &::after {
    content: ",";
  }

  &:last-of-type {
    &::after {
      content: "";
    }
  }
}

@media screen and (min-width: 740px) {
  .c-profile-content {
    min-height: 80vh;
  }
}

@media screen and (min-width: 939px) {
  .c-profile-content {
    width: calc(100% - 450px);
  }
}
