.c-ranking {
  @include flexbox;
  @include flex-direction(column);
  @include px-to-rem(row-gap, $gutter * 6);
}

.c-ranking__title {
  width: fit-content;
  @include px-to-rem(margin-bottom, $gutter * 5);
  @include px-to-rem(font-size, 40px);
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $c-primary-300;
  }
}

.c-ranking__number {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 140px;
  height: 140px;
  @include px-to-rem(font-size, 60px);
  font-weight: $f-extra-bold;
  color: $c-on-primary-50;
  background-color: $c-gray-500;
}

@include media-query(medium) {
  .c-ranking {
    @include flex-direction(row);
    @include justify-content(space-around);
  }

  .c-ranking__title {
    @include px-to-rem(font-size, 35px);
    width: auto;
  }

  .c-ranking__item {
    width: 35%;
  }
}