.c-rating {
    max-width: 800px;
    margin: 24px auto 0;
    text-align: center;
}

.c-rating__header {
    margin-bottom: 16px;

    h3,
    p {
        font-family: $f-title;
    }

    h3 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 114%;
            right: 0;
            left: 0;
            margin: 0 auto;
            background: #cac8c8;
            height: 4px;
            border-radius: 50px;
            width: 70px;
        }
    }

    p {
        font-size: 14px;
    }
}

.c-rating__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5f5;
    border-radius: 10px;
    padding: 12px 24px;

    .o-btn {
        padding: 8px 16px;
        text-transform: capitalize;
    }
}
.c-rating__box_center {
    justify-content: center;
    column-gap: 24px;
}


.c-rating__starts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    column-gap: 16px;
}
.c-rating__starts_public {
    margin-top: 16px;
    border-radius: 50px;
    padding: 4px 16px;
    background: #ccc;
}

.c-rating__starts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    column-gap: 8px;
    line-height: 1;
}

.c-rating__starts-item {
    .is_rating_number_1 & {
        &:nth-child(1) {
            color: orange;

            &::before {
                content: $i-star-fill;
            }
        }
    }

    .is_rating_number_2 & {
        &:nth-child(1),
        &:nth-child(2) {
            color: orange;

            &::before {
                content: $i-star-fill;
            }
        }
    }

    .is_rating_number_3 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            color: orange;

            &::before {
                content: $i-star-fill;
            }
        }
    }

    .is_rating_number_4 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            color: orange;

            &::before {
                content: $i-star-fill;
            }
        }
    }

    .is_rating_number_5 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            color: orange;

            &::before {
                content: $i-star-fill;
            }
        }
    }
}

.c-rating__btn {
    background-color: #cac8c8;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 8px 24px;
    border-radius: 13px;
    border: 2px solid transparent;
    font-family: 'Capriola';
    column-gap: 8px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-color: #cac8c8;
        background-color: transparent;
    }
}

.c-rating__starts-number,
.c-rating__starts-text {
    font-family: 'Capriola';
}

.c-rating__starts-number {
    font-size: 20px;
}
.c-rating__starts-text {
    font-size: 12px;
}

.c-avatar-rating {
    display: flex;
    align-items: center;
    column-gap: $gutter * 2;

    .c-card-notify__figure {
        width: 70px;
        height: 70px;
    }
}

.c-avatar-rating__header {
    align-self: flex-end;
    margin: 40px 0 24px;
    line-height: 1;

    h4 {
        font-family: 'Capriola';
        margin-bottom: 5px;
    }
}

.clasificacion {
    display: flex;
    justify-content: flex-end;
    column-gap: 4px;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: end;
    line-height: 1;
    padding-left: 80px;

    label {
        font-size: 40px;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        color: grey;
    }

    label:hover,
    label:hover ~ label {
        color: orange;
    }

    input[type="radio"]:checked ~ label {
        color: orange;

        &::before {
            content: $i-star-fill;
        }
    }
}


@media(min-width: 1024px) {
    .c-rating__starts_public {
        position: relative;
        border-radius: 50px 0 0 50px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: inherit;
        }
    }
}
