.c-steps {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  counter-reset: steps;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 40px;
}

.c-steps__item {
  flex: 1 1 20%;
}

.c-steps__title {
  background-image: url(../img/1--FONDO-AMARILLO.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-position: center;
  width: 222px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  font-family: "Capriola";

  &::before {
    counter-increment: steps;
    content: counter(steps);
    font-size: 70px;
  }
}


.c-steps__item {
  &:nth-child(2n) {
    .c-steps__title {
      background-image: url(../img/2--FONDO-ROJO.png);
    }
  }
  &:nth-child(3n) {
    .c-steps__title {
      background-image: url(../img/3--FONDO-VERDE.png);
    }
  }
  &:nth-child(4n) {
    .c-steps__title {
      background-image: url(../img/4--FONDO-NARANJA.png);
    }
  }
}

.c-steps__text {
  text-align: center;
  font-size: 18px;
  line-height: 1;
  margin-top: 16px;
  font-weight: 800;
}

.c-steps__span {
  max-width: 60%;
  line-height: 1;
}
