.c-quote {
  color: $c-gray-500;
}
.c-quote__figure {
  margin: 0 auto;
}
.c-quote__img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.c-quote__quote {
  position: relative;
  @include px-to-rem(padding-left, $gutter * 8);
  @include px-to-rem(margin-top, $gutter * 6);
  @include px-to-rem(margin-bottom, $gutter * 6);
  @include px-to-rem(font-size, 16px);
  line-height: calc(44 / 26);
  font-weight: $f-semi-bold;
  font-style: $f-italic;

  &::before {
    position: absolute;
    top: -20px;
    left: 0;
    @include px-to-rem(font-size, 45px);
    color: $c-on-primary-500;
  }
}

.c-quote__name {
  @include px-to-rem(font-size, 24px);
  font-weight: $f-extra-bold;
}
.c-quote__info {
  text-transform: uppercase;
  font-weight: $f-extra-bold;
  font-size: 14px;
}
.c-quote__info_red {
  font-family: $f-title;
  color: $c-on-primary-500;
}

@include media-query(medium) {
  .c-quote {
    @include flexbox;
    @include align-items(center);
    @include px-to-rem(column-gap, $gutter * 5);
  }

  .c-quote__quote {
    margin-top: 0;
    @include px-to-rem(margin-bottom, $gutter * 11);
    font-size: 24px;
  }
  .c-quote__figure {
    flex: 0 1 40%;
    min-width: 600px;
    margin: 0;
  }

  .c-quote__text {
    flex: 0 1 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1060px) {
  .c-quote {
    @include px-to-rem(column-gap, $gutter * 9);
  }
  .c-quote__quote {
    @include px-to-rem(font-size, 24px);
  }
}
