.c-valoress {
  display: flex;
  align-items: stretch;
}

.c-valores__content,
.c-valores__figure {
  flex: 1 1 50%;
}

.c-valores__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
  color: $c-neutro;
}

.c-valores__title {
  margin-bottom: 50px;
}

.c-valores__img {
  min-height: 700px;
  object-fit: cover;
}

.c-valores__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 24px;
  padding-right: 32px;
  list-style: none;
}

.c-valores__item {
  flex: 1 1 35%;
}

.c-valores__item-title {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include px-to-rem(width, 222px);
  margin: 0 auto $gutter auto;
  font-family: "Capriola";
  text-align: center;
  color: $c-neutro;
  background-image: url(../img/1--FONDO-AMARILLO.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.c-valores__item-text {
  font-weight: 800;
  line-height: 1.2;

  &::before {
    margin-right: $gutter * 2;
  }
}

@media screen and (max-width: 1152px) {
  .c-valores__figure {
    display: none;
  }
}
