.c-video {
  position: relative;

  &.u-hidden {
    display: none;
  }
}

.c-video__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  row-gap: 16px;
  z-index: -1;
  transition: all 0.2s ease-in;

  &.is-video-stop {
    opacity: 1;
    z-index: 1000;
  }
}

.is-form-show .c-video__cover {
  opacity: 1;
  z-index: 1000;
}

.is-form-show .c-video__cover .js-return-video {
  display: none;
}

.c-video__img {
  max-width: 250px;
}
